<mat-card-title> Dar de Baja Recibos</mat-card-title>
<mat-dialog-content>
  <form [formGroup]="recibosForm" fxLayout="column">
    <mat-form-field>
      <mat-label>TIPO PAGO *</mat-label>
      <mat-select formControlName="idTipoPago">
        <mat-option *ngFor="let tipoPago of tipoPagos" [value]="tipoPago.id">
          {{tipoPago.tipoPago}}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="!recibosForm.controls['idTipoPago'].valid && recibosForm.controls['idTipoPago'].touched">
        Se requiere llenar el campo
      </mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="primerPago"
             placeholder="MONTO DEL PRIMER PAGO *" autocomplete="off"/>
      <mat-hint *ngIf="!recibosForm.controls['primerPago'].valid && recibosForm.controls['primerPago'].touched">
        Se requiere llenar el campo
      </mat-hint>
    </mat-form-field>
    <mat-form-field *ngIf="getNumeroPagos() > 1">
      <input matInput type="text" formControlName="pagoMensual"
             placeholder="MONTO DE LAS MENSUALIDADES *" autocomplete="off"/>
      <mat-hint *ngIf="!recibosForm.controls['pagoMensual'].valid&&recibosForm.controls['pagoMensual'].touched">
        Se requiere llenar el campo
      </mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [disabled]="!recibosForm.valid" (click)="crearRecibo()">
    Registrar
  </button>
</mat-dialog-actions>