.archivo {
    background-color: #4caf50;
    color: #fff;
  }
  
  .tarjeta {
    -webkit-box-shadow: 5px 5px 5px #000;
    box-shadow: 0px 12px 21px #777;
    border-radius: 20px;
    margin: 15px auto;
    padding: 10px;
    max-width: 400px;
    width: 100%;
  }
  
  .debito {
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
  }
  
  .credito {
    background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
  }
  
  .tarjeta-creditoA input, .tarjeta-creditoB input,
  .tarjeta-debito input {
    color: #fff;
    font-weight: 400 !important;
  }
  
  button {
    color: #fff;
  }
  
  input {
    padding: 3px 0 !important;
  }
  
  mat-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .place {
    color: #fff;
    font-weight: 400;
  }
  
  .switch {
    width: 100%;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  
  
  mat-datepicker-toggle {
    font-size: 1.5rem;
    background-color: transparent;
    color: #000000;
    transition: all ease 0.4s;
  }
  
  mat-datepicker-toggle:hover {
    color: #0082ff;
  }
  
  .btns {
    transition: ease .5s;
  }
  
  .btns:hover {
    color: #fff;
    background: #df1d52;
    background: linear-gradient(to right, #df1d52, #364088);
  }
  // Icono de espera en formulario
  .laodingData {
    color: tomato;
    animation: reload 1s linear infinite;
    z-index: 10;
    position: absolute;
    right: -22px;
    top: 15px;
  }
  .relativeLoad {
    position: relative;
  }
  