<mat-card>
  <mat-card-title>PAGOS
    <div fxLayoutAlign="center">
      <a style=" color: #000; font-size: 1.1rem;">Todos los datos que tienen un asterisco  (<b
        style="color: red;">*</b>) son requeridos</a>
    </div>
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="formPago" fxLayout="row" fxLayoutAlign="space-between">
      <mat-form-field fxFlex="31" >
        <input matInput placeholder="Cantidad" formControlName="cantidad">
      </mat-form-field>

      <mat-form-field fxFlex="31">
        <input matInput   [matDatepicker]="picker" placeholder="Fecha de pago" formControlName="fechaPago">
        <mat-datepicker-toggle matTooltip="Agregar fecha" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="31">
        <mat-label>Forma de pago *</mat-label>
        <mat-select (selectionChange)="seleccionFormaPago()" formControlName="idFormaPago" >
          <mat-option *ngFor="let forma of formaPagoData" [value]="forma.id">
            {{forma.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <div class="col-12">
<!------------------------------------------------------ Switch ------------------------------------------------------->
      <div *ngIf="formPago.controls.idFormaPago.value">
        <form *ngIf ="formDatosPago" [formGroup]="formDatosPago">
<!--------------------------------------------------- Transferencia --------------------------------------------------->
          <div *ngIf="formPago.controls.idFormaPago.value === 7; else  elseBlock">
            <div class="row">
              <mat-form-field class="col-6">
                <mat-label>Banco *</mat-label>
                <mat-select formControlName="idBanco" >
                  <mat-option *ngFor="let banco of bancosArray" [value]="banco.id">
                    {{banco.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-6">
                <input matInput placeholder="Número de autorizacion *" formControlName="noAutorizacion" autocomplete="off">
              </mat-form-field>
            </div>
          </div>
<!-------------------------------------------- Tarjeta de crédito y débito -------------------------------------------->
          <ng-template #elseBlock>
            <div *ngIf="formPago.controls['idFormaPago'].value < 3">
              <div class="row">
                <mat-form-field class="col-4">
                  <mat-label>Banco de tarjeta *</mat-label>
                  <mat-select formControlName="idBanco">
                    <mat-option *ngFor="let banco of bancosArray" [value]="banco.id">
                      {{banco.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-4">
                  <mat-label>Carrier *</mat-label>
                  <mat-select formControlName="idCarrier">
                    <mat-option *ngFor="let c of carrierArray" [value]="c.id">
                      {{c.carrier}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-slide-toggle formControlName="cargoRecurrente" class="col-4"> Autoriza cargo recurrente </mat-slide-toggle>
                <mat-slide-toggle formControlName="activarMesesSinIntereses" class="col" *ngIf="formPago.controls.idFormaPago.value === 1" (change)="borrarMeses()">
                  Desea meses sin intereses
                </mat-slide-toggle>
                <mat-form-field class="col" *ngIf="formDatosPago.controls.activarMesesSinIntereses.value">
                  <mat-label>Meses sin intereses</mat-label>
                  <mat-select formControlName="mesesSinIntereses">
                    <mat-option *ngFor="let m of mesesSinIntereses" [value]="m">
                      {{m}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-slide-toggle formControlName="toggleCodigo"  (change)="cambioCT()" class="col-4"> Agregar código </mat-slide-toggle>
              </div>
<!------------------------------------------ Tarjeta para ingresar los datos ------------------------------------------>
            <div class=" tarjeta col-lg-4 col-md-4 col-sm-6 row" [ngClass]="{'credito': formPago.controls['idFormaPago'].value === 1,
               'debito': formPago.controls['idFormaPago'].value === 2}" *ngIf="formPago.controls['idFormaPago'].value < 3">
              <mat-form-field class="col-12">
                <mat-icon matPrefix>credit_card</mat-icon>
                <mat-label class="place">Número de tarjeta *</mat-label>
                <input [type] = "inputType" matInput formControlName="numeroTarjeta" maxLength="16" minlength="15">
                <mat-icon *ngIf="!ocultarEyePermanent" matSuffix (click)="ocultarInput()" class="pointer">remove_red_eye</mat-icon>

              </mat-form-field>

              <mat-form-field class="col-12">
                <mat-icon matPrefix>person</mat-icon>
                <mat-label class="place">Titular *</mat-label>
                <input matInput formControlName="titular" oninput="this.value = this.value.toUpperCase()">
              </mat-form-field>

              <mat-form-field *ngIf="this.formDatosPago.controls.toggleCodigo.value; else elseBlock" class="col-4">
                <mat-label class="place">Código *</mat-label>
                <input matInput formControlName="codigoToken" minlength="3" maxlength="6" [type] = "inputType">
              </mat-form-field>
              <ng-template #elseBlock>
                <mat-form-field class="col-4">
                  <mat-label class="place">CCV *</mat-label>
                  <input matInput formControlName="codigo" minLength="3" maxLength="5" [type]="inputType">
                </mat-form-field>
              </ng-template>

              <mat-form-field class="col-8">
                <mat-label class="place">Fecha de vencimiento *</mat-label>
                <input matInput type="text" maxLength="5" formControlName="fechaVencimiento" (keyup)="fechaTarjeta($event.target.value)" #fechaV>
              </mat-form-field>
            </div>
           </div>
          </ng-template>
          <div class="row">
            <mat-form-field class="col-12">
              <mat-label>Comentarios</mat-label>
              <input matInput formControlName="comentarios" oninput="this.value = this.value.toUpperCase()">
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions fxLayoutAlign="end" fxLayout="row" fxLayoutGap="10px">
    <button [ngClass]="{'btns': '[disabled]'}" mat-raised-button fxFlex="30" (click) = "fileInput.click()" >
      Guardar comprobante
      <input hidden accept="application/pdf" type="file"  #fileInput (change)="almacenarArchivo()"/>
    </button>

    <button [ngClass]="{'btns': !'[disabled]'}" mat-raised-button [disabled]="desactivarBoton()" fxFlex="20" *ngIf="id === 0 || !esStep"
            (click)="subirADrive()">
      Guardar
    </button>
  </mat-card-actions>
</mat-card>