h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.insureImage {
  width: 200px;
  height: 150px;
}

.inlineItemsNormal {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

.inlineItemsCenter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.inlineItemsEvenly {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
}

.inlineItemsBetween {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.mat-tab-group {
  margin-bottom: 48px;
}

/* .productoCliente {
  color: rgba(53, 64, 137, 1);
  font-size: 16px;
  margin: 5px 10px 0 0;
} */

.coberturas {
  color: rgba(53, 64, 137, 1);
  font-size: 16px;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.precioCotizacion {
  color: rgba(53, 64, 137, 1);
  font-size: 30px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.emisionBTN {
  background-color: rgba(53, 64, 137, 1);
  color: #ffffff;
}

mat-divider {
  color: rgba(53, 64, 137, 1);
}

// Nuevo estilos
/* mat-grid-tile {
  background: lightblue;
} */

.titleDataVehicle {
  color: rgba(53, 64, 137, 1);
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: bold;
  text-align: center;
}

.titleDescriptionDataVehicle {
  color: #000000;
  font-size: 16;
  text-align: center;
}

mat-label {
  color: #000000;
  font-size: 14;
  text-transform: uppercase;
  font-weight: normal;
}

.title {
  color: rgba(53, 64, 137, 1);
  border-bottom: 2px solid rgba(53, 64, 137, 1);
  width: 100%;
}

.container {
  width: 100%;
}

.container-info {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  border-bottom: 2px solid rgba(53, 64, 137, 1);
}

.container-tabs {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container-radio {
  width: 25%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 25px;
}

.tabsGroup {
  width: 75%;
}

.mat-radio-button {
  color: #000000;
}

#mat-radio-3,
#mat-radio-4 {
  margin: 0;
}

.data-img {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.button-emmit-policie {
  width: 100%;
  background-color: #5bb34b;
  transition: all linear 0.4s;
  color: white;
}

.button-emmit-policie:hover {
  background: #216d13 !important;
}

.titlesContainer {
  width: 100%;
  height: auto;
  display: inline-flex;
  align-items: center;
  margin: 0 0 20px 0;
}

.titleCoberturasContainer {
  width: 100%;
  height: auto;
  background-color: #aeb9fdba;
  justify-content: center;
}

.titlePagoContainer {
  width: 30%;
  height: auto;
  background-color: #aeb9fdba;
  justify-content: center;
}

// pago subsecunete
//.showInfo{
//  top: 92px;
//  height: 375px;
//  right: 0px;
//  width: 260px;
//}

.resumeWrapper{
  padding: 2px 14px 2px 14px;
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
}
.discountCol{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  p{
    text-align: left;
    margin: 0;
    width: 100%;
    font-size: 12px;

  }


}

.Left p {
  text-align: left;
}

.Right p{
  text-align: right;
}
.discountWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2edfd;
  border: dashed 1px #a07cf1;
  border-radius: 5px;
  height: 50px;
  padding: 5px 12px 5px 12px;
}

