#container {
  //height: 620px;
  border: 1px solid gray;
  border-radius: 5px;
  overflow-y: scroll;
}
#container::-webkit-scrollbar:vertical {
  width:10px;
}

#container::-webkit-scrollbar-button:increment, #container::-webkit-scrollbar-button {
  display: none !important;
}
#container::-webkit-scrollbar-thumb {
  background-color: #797979 !important;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
#container::-webkit-scrollbar-track {
  border-radius: 10px;
}
//
//.chat-input {
//  margin-top: 10px;
//}
//
//.w50 {
//  width: 50%;
//}
//
//.received_msg {
//  display: inline-block;
//  //padding: 3%;
//  vertical-align: top;
//  width: 50%;
//}
//.received_withd_msg {
//  background: #ebebeb none repeat scroll 0 0;
//  border-radius: 12px;
//  color: #646464;
//  font-size: 14px;
//  margin: 0;
//  padding: 3%;
//  width: auto;
//}
//
//.outgoing_msg {
//  overflow:hidden;
//  //margin:26px 0 26px;
//  margin: 19px 0 -34px;
//}
//.sent_msg {
//  float: right;
//  width: 50%;
//  background: #247dd2;
//  border-radius: 12px;
//  padding: 3%;
//  color: white;
//}
//
//.fechaIn {
//  //float: left;
//  color: darkgray;
//  font-size: 11px;
//}
//
//.fechaOut {
//  padding-right: 4%;
//  padding-left: 73%;
//  //float: right;
//  color: darkgray;
//  font-size: 11px;
//  //margin: 19px 0 -34px;
//}

/*********************************************************************/
.container {
  width: 500px;
  margin: auto;
  padding-left: 0;
}
.chat {
  display: flex;
  flex-direction: column;
  height: 50vh;
  background: #f1f0e8;
}
.chat-header {
  display: flex;
  cursor: pointer;
}
.profile {
  width: 100%;
  background: #036055;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0px 10px;
  position: relative;
  margin: -3px 0;
}
.profile .pp {
  width: 50px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 32px;
}
.profile .arrow {
  display: inline-block;
  width: 30px;
  position: absolute;
  top: 19px;
  cursor: pointer;
}
.profile h2 {
  //display: inline-block;
  //line-height: 60px;
  //vertical-align: bottom;
  color: #fff;
  font-size: 20px;
  //top: 11px;
  //left: 16px;
  padding-left: 84px;
  padding-top: 9px;
}
.profile span {
  color: #ccc;
  position: absolute;
  top: 11px;
  left: 46px;
  font-size: 44px;
}
.regresar{
  color: #ccc;
  position: absolute;
  top: 11px;
  left: 5px;
  font-size: 44px;
}
.right .icon {
  display: inline-block;
  width: 25px;
  margin-left: 10px;
}
.profile .left {
  flex: 1;
}

.chat-box {
  //background: url('../../../../../assets/images/a3.png');
  padding-left: 10px;
  // height: 100vh;
  //background-attachment: fixed;
  //flex: 1;
}
.chat-box .img_chat {
  width: 280px;
}

.chat-r {
  display: flex;
  padding-right: 10px;
}
.chat-r .sp {
  flex: 1;
}

.chat-l {
  display: flex;
}
.chat-l .sp {
  flex: 1;
}

.chat-box .mess {
  max-width: 300px;
  background: #F7FCF6;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0px;
  //cursor: pointer;
  min-width: 150px;
}
.chat-box .mess p {
  word-break: break-all;
  font-size: 18px;
}

.chat-box .mess2 {
  //max-width: 300px;
  background: #F7FCF6;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0px;
  //cursor: pointer;
  //min-width: 150px;
}
.chat-box .mess2 p {
  word-break: break-all;
  font-size: 18px;
}
.chat-box .mess2 img {
  word-break: break-all;
  max-width: 300px;
  max-height: 282px;
}
.chat-box .mess-r {
  background: #E2FFC7;
}
.chat-box .emoji {
  width: 20px;
}
.chat-box .check {
  float: right;
}
.chat-box .check1 {
  //float: right;
}
.chat-box .check1 span {
  color: #888;
  font-size: 12px;
  font-weight: 700px;
}
.chat-box .check img {
  width: 20px;
}
.chat-box .check span {
  color: #888;
  font-size: 12px;
  font-weight: 700px;
}

.pdf-centrado {
  width: 100px;
  height: auto;
  display: inline-flex;
  justify-content: center;
  color: red;
  font-size: 50px;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #aaa;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  position: sticky;
  cursor: pointer;
}
.chat-footer textarea {
  display: block;
  flex: 1;
  width: 100%;
  height: 50px;
  border-radius: 13px;
  margin: 5px;
  padding: 10px;
  outline: none;
  font-size: 19px;
  padding-left: 40px;
  padding-right: 90px;
  border: 2px solid #ccc;
  color: #555;
  resize: none;
}
.chat-footer .mic {
  display: block;
  width: 55px;
  height: 55px;
  margin-right: 20px;
}

.chat-footer .emo{
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 10px;
  top: 12px;
}
.chat-footer .icons {
  position: absolute;
  right: 100px;
  top: 10px;
}
.chat-footer .icons img{
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

@media screen and (max-width: 1085px){
  .profile h2 {
    font-size: 13px;
    padding-left: 55px;
  }
  .regresar {
    top: 17px;
    left: -2px;
    font-size: 30px;
  }


  .profile span {
    top: 18px;
    left: 36px;
    font-size: 27px;
  }

  .chat {
    height: 50vh;
  }

  .chat-box .mess {
    max-width: 260px;
    width: 162px;
    margin: 6px;
  }

  .chat-box .check span {
    font-size: 8px;
  }

  p {
    margin-top: 0;
    margin-bottom: -1rem;
  }

  .chat-box .mess p {
    word-break: break-word;
    font-size: 12px;
  }

  .chat-footer textarea {
    height: 68px;
    padding: 10px;
    font-size: 19px;
  }
}

@media screen and (max-width: 1450px){
  .chat-box {
    height: 60vh;
  }

  .profile h2 {
    font-size: 13px;
    padding-left: 55px;
  }
  .regresar {
    top: 17px;
    left: -2px;
    font-size: 30px;
  }


  .profile span {
    top: 18px;
    left: 36px;
    font-size: 27px;
  }

  .chat {
    height: 50vh;
  }

  .chat-box .mess {
    max-width: 260px;
    width: 204px;
    margin: 8px;
  }

  .chat-box .check span {
    font-size: 8px;
  }

  p {
    margin-top: 0;
    margin-bottom: -1rem;
  }

  .chat-box .mess p {
    word-break: break-word;
    font-size: 12px;
    margin-bottom: 1px;
  }

  .chat-footer textarea {
    height: 68px;
    padding: 10px;
    font-size: 19px;
  }
}
