<h1>Mensajes</h1>
<hr>

<!--<div id="chat-mensajes" class="test">-->
<!--  <li style="list-style: none;"-->
<!--      *ngFor="let msg of mensajes">-->
<!--    <div [ngClass]="{'received_msg': msg.idTipoEnvio === 2, 'outgoing_msg': msg.idTipoEnvio === 1}">-->
<!--      <p [ngClass]="{'sent_msg': msg.idTipoEnvio === 1, 'received_withd_msg': msg.idTipoEnvio === 2}">-->
<!--          {{ msg.mensaje }}-->
<!--      </p>-->
<!--    </div>-->
<!--    <br>-->
<!--    <p [ngClass]="{'fechaIn': msg.idTipoEnvio === 2, 'fechaOut': msg.idTipoEnvio === 1}">-->
<!--      {{ msg.fecha }}-->
<!--    </p>-->
<!--  </li>-->
<!--</div>-->
<div class="chat-header col-12">
  <div class="profile">
    <div class="left">
      <p class="material-icons regresar" (click)="cerrar()" matTooltip="cerrar">
        keyboard_arrow_left
      </p>
      <span class="material-icons">
        account_circle
      </span>
      <h2>{{this.data.data.nombreProspecto || this.data.data.CotizacionesAli.Cotizacione.ProductoSolicitud.Prospecto.nombre}}</h2>
    </div>
    <div class="right">
    </div>
  </div>
</div>
<div class="col-lg-12">
  <div class="chat chat-box" id="container">
    <div *ngFor="let msg of mensajes">
      <div class="">
        <div *ngIf="msg.idTipoEnvio === 1" class="chat-r">
          <div class="sp"></div>
          <div class="mess mess-r">
            <p>
              {{ msg.mensaje }}
            </p>
            <div class="check">
              <span>{{ msg.fecha }}</span>
              <!--            <img src="img/check-2.png">-->
            </div>
          </div>
        </div>
        <div *ngIf="msg.idTipoEnvio === 2" class="chat-l">
          <div *ngIf="msg.idTipoMensajeWhatsapp === 1" class="mess">
            <p>
              {{ msg.mensaje }}
            </p>
            <div class="check">
              <span>{{ msg.fecha }}</span>
            </div>
          </div>
          <div *ngIf="msg.idTipoMensajeWhatsapp === 3" class="mess2">
            <!--            <a download="test" href="{{ msg.mensaje }}"><img src="{{ msg.mensaje }}" alt=""></a>-->
            <a href="{{ msg.mensaje }}" target="_blank" download="imagen">
              <img src="{{ msg.mensaje }}" alt="">
              <div class="check1">
                <span>{{ msg.fecha }}</span>
                <a href="{{ msg.mensaje }}" target="_blank" download="imagen">
                  <span class="material-icons" style="font-size: 20px; margin: 3px 10px;
                      padding-top: 7px;">get_app</span>
                </a>
              </div>
            </a>
          </div>
          <div *ngIf="msg.idTipoMensajeWhatsapp === 6" class="mess2">
            <!--            <a download="test" href="{{ msg.mensaje }}"><img src="{{ msg.mensaje }}" alt=""></a>-->
            <a href="{{ msg.mensaje }}" target="_blank" download="imagen">
              <img src="{{ msg.mensaje }}" alt="">
              <div class="check1">
                <span>{{ msg.fecha }}</span>
                <a href="{{ msg.mensaje }}" target="_blank" download="imagen">
                  <span class="material-icons" style="font-size: 20px; margin: 3px 10px;
                      padding-top: 7px;">get_app</span>
                </a>
              </div>
            </a>
          </div>
          <div *ngIf="msg.idTipoMensajeWhatsapp === 8" class="mess2">
            <!--            <a download="test" href="{{ msg.mensaje }}"><img src="{{ msg.mensaje }}" alt=""></a>-->
            <a href="{{ msg.mensaje }}" target="_blank" download="imagen">
              <span class="material-icons">
                <div class="pdf-centrado">
                  picture_as_pdf
                </div>
              </span>
              <div class="check1">
                <span>{{ msg.fecha }}</span>
                <a href="{{ msg.mensaje }}" target="_blank" download="imagen">
                  <span class="material-icons" style="font-size: 20px; margin: 3px 10px;
                      padding-top: 7px;">get_app</span>
                </a>
              </div>
            </a>
          </div>
          <div *ngIf="msg.idTipoMensajeWhatsapp === 4" >
            <audio controls>
              <source src="{{ msg.mensaje }}" type="audio/ogg">
            </audio>
            <div class="check">
              <span>{{ msg.fecha }}</span>
            </div>
          </div>
          <div *ngIf="msg.idTipoMensajeWhatsapp === 5" class="mess">
            <!--                        <iframe width="240" height="236" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=240&amp;height=236&amp;hl=en&amp;q={{msg.mensaje.split(',')[0]}},{{msg.mensaje.split(',')[1]}}&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='https://www.symptoma.es/es/info/covid-19'>CoV OMS</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=05ba4569ea70e3d40c19b993660823db0f7c3281'></script>-->
            <iframe width="280" height="300" frameborder="0" [src]=msg.localizacion allowfullscreen></iframe>
            <div class="check">
              <span>{{ msg.fecha }}</span>
            </div>
          </div>
          <div class="sp"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-footer">
    <!--    <form (ngSubmit)="enviar()">-->
    <textarea type="text"
              (keypress)="press($event)"
              [(ngModel)]="texto"
              name="texto"
              autocomplete="off"
              placeholder="Escribe un mensaje"></textarea>
    <button (click)="enviar()" mat-icon-button style="outline: none; border: none;">
      <mat-icon>send</mat-icon>
    </button>
    <!--    </form>-->
  </div>
</div>


<!--<form (ngSubmit)="enviar()">-->

<!--  <div class="row">-->
<!--    <div class="col-md-10">-->
<!--      <input type="text"-->
<!--             [(ngModel)]="texto"-->
<!--             class="form-control chat-input"-->
<!--             name="texto"-->
<!--             placeholder="Mensaje..."-->
<!--             autofocus-->
<!--             autocomplete="off">-->
<!--    </div>-->
<!--    <div class="col-md-2">-->
<!--      <button mat-icon-button>-->
<!--        <mat-icon>send</mat-icon>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->


<!--</form>-->
