<mat-card>

  <div fxLayoutAlign="space-between" >

    <button mat-icon-button
            matTooltip="NOMECLATURA DE LOS COLORES"
            (click)="openHelpModal()">
      <mat-icon>help_outline</mat-icon>
    </button>

    <button mat-icon-button
            matTooltip="RECARGAR PÁGINA"
            (click)="idTipo ===  'totales' ? getPolizasTotales(true) : idTipo ===  'sin-aplicar'?
              getPolizasSinAplicar(true) : idTipo === 'sin-pagar'? getPolizasSinPagar(true): getPolizas(true)">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <mat-card-title style="text-align: center; color: #354089" >
    ADMINISTRACIÓN DE PÓLIZAS
  </mat-card-title>

  <div fxLayout="row" fxLayoutAlign="space-between" >
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label" fxFlex="30">Inicio</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="picker" disabled
               [(ngModel)]="rangeDates[0]"
               [value]="rangeDates[0]"
               [max]="max"
               matTooltip="Agregar fecha inicio">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label"  fxFlex="30">Fin</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label >Fecha final</mat-label>
        <input matInput [matDatepicker]="picker2" disabled
               [(ngModel)]="rangeDates[1]"
               [value]="rangeDates[1]"
               matTooltip="Agregar fecha final">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

  </div>



  <div fxLayout="row" fxLayoutAlign="end" style="margin-bottom: 14px">
    <div fxLayoutAlign="space-between center" fxLayoutGap="10px" fxFlex="100">
      <mat-form-field class="example-form-field" appearance="legacy" fxFlex="60">
        <mat-label>Filtrar</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event)" #poliza>
        <button matSuffix mat-icon-button aria-label="Clear" >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button
              [disabled]="rangeDates == null"
              fxFlex="50"

              (click)="getTipo()">
        DESPLEGAR FECHAS
      </button>
      <button mat-raised-button fxFlex="50"
              [disabled]="rangeDates == null" (click)="getByPoliza(poliza.value)">
        BUSCAR POLIZA
      </button>
      <button mat-raised-button fxFlex="50"
              [disabled]="rangeDates == null"  (click)="getByNumero(poliza.value)">
        BUSCAR NUMERO DE SERIE
      </button>
    </div>
  </div>


  <mat-card-content>
    <div>
      <div class="example-container mat-elevation-z8" >
        <table mat-table
               [dataSource]="dataSource"
               matSort
               (matSortChange)="announceSortChange($event)"
               *ngIf="dataSource || errorSpin; else spin">

          <ng-container matColumnDef="detalle" sticky>
            <th mat-header-cell
                *matHeaderCellDef
                style="text-align: center; padding-right: 15px;">
              DETALLE
            </th>
            <td mat-cell
                *matCellDef="let element"
                style="text-align: center;">
              <mat-icon (click)="detallePoliza(element.id, idTipo)"
                        id="verDetalles"

                        matTooltip="Ver detalles"
                        mat-raised-button>
                remove_red_eye
              </mat-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="poliza">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
              POLIZA
            </th>
            <td mat-cell
                *matCellDef="let element">
              {{element.poliza}}
            </td>
          </ng-container>

          <ng-container matColumnDef="nombreCliente">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header >
              CLIENTE
            </th>
            <td mat-cell
                *matCellDef="let element" >
              {{element.nombreCliente}}
            </td>
          </ng-container>

          <ng-container matColumnDef="correo">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
              CORREO
            </th>
            <td mat-cell
                *matCellDef="let element">
              {{element.correo}}
          </ng-container>

          <ng-container matColumnDef="telefonoMovil">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
              TELÉFONO
            </th>
            <td mat-cell
                *matCellDef="let element">
              {{element.telefonoMovil}}
            </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
              EMPLEADO
            </th>
            <td mat-cell
                *matCellDef="let element" >
              {{element.nombreEmpleado}}
            </td>
          </ng-container>

          <ng-container matColumnDef="nombreComercial">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
              SOCIO
            </th>
            <td mat-cell
                *matCellDef="let element" >
              {{element.nombreComercial}}
            </td>
          </ng-container>

          <ng-container matColumnDef="estadoPoliza">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
              ESTADO POLIZA
            </th>
            <td mat-cell
                *matCellDef="let element" >
              {{element.estadoPoliza ? element.estadoPoliza : 'SIN LLAMADAS'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="estadoRecibo">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
              ESTATUS RECIBO
            </th>
            <td mat-cell
                *matCellDef="let element">
              {{element.estadoRecibo}}
            </td>
          </ng-container>

          <ng-container matColumnDef="fechaInicio">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
              FECHA INICIO
            </th>
            <td mat-cell
                *matCellDef="let element">
              {{element.fechaInicio | date : 'dd/MM/yy'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="fechaRegistro">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
              FECHA REGISTRO
            </th>
            <td mat-cell
                *matCellDef="let element">
              {{element.fechaRegistro | date : 'dd/MM/yy'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="numeroSerie">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
              NÚMERO DE SERIE
            </th>
            <td mat-cell
                *matCellDef="let element">
              {{element.numeroSerie}}
            </td>
          </ng-container>

          <ng-container matColumnDef="estadoPago">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
              ESTADO PAGO
            </th>
            <td mat-cell
                *matCellDef="let element">
              {{element.estadoPago}}
            </td>
          </ng-container>

          <ng-container matColumnDef="descripcion">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
              DEPARTAMENTO
            </th>
            <td mat-cell
                *matCellDef="let element">
              {{element.descripcion}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Acciones" stickyEnd>
            <th mat-header-cell
                *matHeaderCellDef
                style="text-align: center;">
              <span >ACCIONES</span>
            </th>
            <td  mat-cell
                 *matCellDef="let element">
              <div class="actions">

                <button mat-icon-button
                        *ngIf="puedeLlamar && (extension.length > 0 && extension !== 'null')"
                        [matMenuTriggerFor]="menu"
                        (click)="getNumeros(element.id, element.telefonoMovil)">
                  <mat-icon>call</mat-icon>
                </button>

                <mat-menu #menu="matMenu">
                  <mat-spinner *ngIf="cargando"></mat-spinner>
                  <div *ngFor="let numero of numeros">
                    <button mat-menu-item (click)="llamar(element.id, numero)">
                      <mat-icon>call</mat-icon>
                      <span>{{numero}}</span>
                    </button>
                  </div>
                </mat-menu>

                <mat-icon matTooltip="Agregar Número"

                          (click)="agregarNumero(element.id, element.poliza)">
                  person_add
                </mat-icon>

                <mat-icon matTooltip="Solicitar endoso"
                          mat-raised-button
                          *ngIf="(idTipo === undefined || idTipo === 'renovaciones')"
                          (click)="crearEndoso(element.id)">
                  assignment
                </mat-icon>

                <mat-icon matTooltip="Mostrar Documentos"
                          mat-raised-button

                          (click)="mostrarPoliza(element.id)">
                  search
                </mat-icon>

                <mat-icon matTooltip="Recibos"
                          mat-raised-button
                          *ngIf="(idTipo === undefined || idTipo === 'renovaciones')"
                          (click)="recibos(element.id, element.idRecibo, idTipo, element.idSolicitud)">
                  description
                </mat-icon>

                <span *ngIf="!element.carpetaCliente">
                <mat-icon matTooltip="Subir archivo" mat-icon-button aria-label="" *ngIf="(idTipo === undefined)"
                          (click)="subirArchivo(element.id)">
                  cloud_upload
                </mat-icon>
              </span>

                <mat-icon matTooltip="Actualizar cliente"
                          *ngIf="(idTipo === undefined || idTipo === 'renovaciones')"
                          (click)="editarCliente(element.idCliente, idTipo, element.idSolicitud)">
                  assignment_ind
                </mat-icon>

                <mat-icon *ngIf="(idTipo == undefined)"
                          matTooltip="Tipificar Póliza"
                          (click)="tipificarPoliza(element.id, element.idLlamada)">
                  receipt_long
                </mat-icon>

                <mat-icon matTooltip="Modificar recibos"
                          *ngIf="(element.estadoRecibo >  1 && idTipo === undefined)"
                          (click)="bajaRecibos(element.id)">
                  money_off
                </mat-icon>

                <mat-icon matTooltip="Historial de llamadas"
                          (click)="historico(element.id)">
                  history
                </mat-icon>
                <mat-icon *ngIf="element.idPago" matTooltip="Reenviar app/WebApp" (click)="enviarEmail(element.id)">
                  mail_outline
                </mat-icon>
                <mat-icon matTooltip="Copiar Link de Pago" *ngIf="element.url" (click)="copiarLink(element.url)">
                  content_copy
                </mat-icon>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="row.idEstadoRecibo === 5 ? 'blue' : !row.idPago ? 'warning': 'greeat'"></tr>

        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
      <ng-template #spin >
        <mat-spinner  ></mat-spinner>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
