<!-- <mat-card>
    <mat-card-title>
        <p style="color: #364088; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 2rem;">
            COTIZAR CON
        </p>
    </mat-card-title>
    <mat-card-content>
        <pdf-viewer src="https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf" style="width:400px;"
            autoresize="true" original-size="false">
        </pdf-viewer>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="downloadFile()">
            <mat-icon>file_download</mat-icon>Descargar Póliza
        </button>
    </mat-card-actions>
</mat-card> -->

<!--#region Dialog para mostrar el PDF de la Póliza-->

<h2 mat-dialog-title> Mi Póliza </h2>
<mat-dialog-content>
  <mat-tab-group>
    <mat-tab [label]="'Póliza Número ' + (indicie + 1)" *ngFor="let document of documentsArray; let indicie = index">
      <pdf-viewer (after-load-complete)="loadComplete()" [src]="document" style="width:815px; height: 400px;"
                  [autoresize]="true" [original-size]="false">
      </pdf-viewer>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!--     <button mat-raised-button mat-dialog-close>Cerrar</button> -->
  <button *ngIf="completePDF" mat-raised-button mat-dialog-close (click)="downloadFile()">
    <mat-icon>file_download</mat-icon>Descargar Póliza
  </button>
</mat-dialog-actions>
<!--#endregion Dialog para mostrar el PDF de la Póliza-->

