<h1 mat-dialog-title>LINK DE PAGO</h1>

<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="link">
      <mat-form-field class="example-full-width" appearance="fill" id="form">
        <mat-label>*INGRESA LA PRIMA TOTAL:</mat-label>
        <input matInput placeholder="Ex. 25000" formControlName="primaTotal">
        <mat-error *ngIf="form.controls.primaTotal.hasError('required') &&form.controls.primaTotal.touched">Esté campo es requerido</mat-error>
        <mat-error *ngIf="form.controls.primaTotal.hasError('pattern') &&form.controls.primaTotal.touched">Se aceptan números, un punto y 2 decimales</mat-error>
      </mat-form-field>

      <div id="button" ><button mat-raised-button (click)="generarLink()" [disabled]="form.invalid || form.controls.url.value"> GENERAR LINK</button></div>
    </div>

    <div class="link">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>URL</mat-label>
        <input matInput formControlName="url">
      </mat-form-field>

      <div id="button" ><button mat-raised-button (click)="copiarLink()" [disabled]="!form.controls.url.value"> COPIAR LINK</button></div>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button id="cerrar" [mat-dialog-close]="true">CERRAR</button>
</div>
