<mat-card-title class="titulo" xmlns="http://www.w3.org/1999/html">
  <p class="center">AHORRA T-ESCUCHA</p>
</mat-card-title>
<mat-card-content class="formContainer">
  <mat-spinner *ngIf="!(temaTrigaranteEscucha); else cargo"></mat-spinner>
  <ng-template #cargo>
    <form [formGroup]="trigaranteEscucha">
      <div>

        <!--    TEMA-->

        <div class="formItems1">
          <mat-form-field>
            <mat-label>TEMA *</mat-label>
            <mat-select formControlName="idTema" (selectionChange)="getByIdTema()">
              <mat-option *ngFor="let tema of temaTrigaranteEscucha" [value]="tema.id"  id="idTema">{{tema.descripcion}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="trigaranteEscucha.controls.idTema.hasError('required')">
              Se requiere llenar el campo
            </mat-error>
          </mat-form-field>
        </div>

        <!--            MOTIVO-->

        <div class="formItems1">
          <mat-form-field>
            <mat-label>MOTIVO *</mat-label>
            <mat-select formControlName="idMotivoTrigaranteEscucha">
              <mat-option *ngFor="let motivo of motivoTrigaranteEscucha" [value]="motivo.id"  id="idMotivoTrigaranteEscucha">
                {{motivo.descripcion}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="trigaranteEscucha.controls.idMotivoTrigaranteEscucha.hasError('required')">
              Se requiere llenar el campo
            </mat-error>
          </mat-form-field>
        </div>

        <!--     COMENTARIOS-->

        <div class="formItems1">
          <mat-form-field>
            <mat-label>COMENTARIO *</mat-label>
            <textarea rows="3" matInput oninput="this.value = this.value.toUpperCase()" formControlName="comentarios" maxlength="255"></textarea>
            <mat-error *ngIf="trigaranteEscucha.controls.comentarios.hasError('required')">
              Se requiere llenar el campo
            </mat-error>
          </mat-form-field>
        </div>

        <!--     PROPUESTA-->

        <div class="formItems1">
          <mat-form-field>
            <mat-label>PROPUESTA DE MEJORA *</mat-label>
            <textarea rows="3" matInput oninput="this.value = this.value.toUpperCase()" formControlName="propuesta" maxlength="255"></textarea>
            <mat-error *ngIf="trigaranteEscucha.controls.propuesta.hasError('required')">
              Se requiere llenar el campo
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </ng-template>
</mat-card-content>
<mat-dialog-actions>
  <button  mat-raised-button color="accent" (click)="cerrar()">Cerrar</button>
  <button  mat-raised-button color="primary" [disabled]="trigaranteEscucha.invalid" (click)="registrar()">Registrar</button>
</mat-dialog-actions>

