<mat-card>

  <div fxLayoutAlign="end">
    <!--    <div class="lds-ring" ><div></div><div></div><div></div><div></div></div>-->
    <button mat-icon-button (click)="getRemoteData()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <mat-card-title style="text-align: center; color: #354089" >
    Tabla cascaron
  </mat-card-title>

  <div fxLayout="row" fxLayoutAlign="space-between" >
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label" fxFlex="30">inicio</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="picker" disabled
               [(ngModel)]="rangeDates[0]"
               [value]="rangeDates[0]"
               [max]="max"
               matTooltip="Agregar fecha inicio">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label"  fxFlex="30">fin</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label >Fecha final</mat-label>
        <input matInput [matDatepicker]="picker2" disabled
               [(ngModel)]="rangeDates[1]"
               [value]="rangeDates[1]"
               matTooltip="Agregar fecha final">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

  </div>

  <mat-card-content>
    <div>
      <div>
        <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px; width: 10%;">
          <mat-label>Filtrar por {{filter.name}}</mat-label>
          <input matInput #message [(ngModel)]="filter.modelValue" [placeholder]="filter.columnProp" (keyup)="filterChange(filter, message)">
        </mat-form-field>
        &nbsp;
        <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
      </div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 ">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID LLAMADA</th>
          <td mat-cell *matCellDef="let element">
            {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NÚMERO</th>
          <td mat-cell *matCellDef="let element">
            {{element.numero}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>INICIO LLAMADA</th>
          <td mat-cell *matCellDef="let element">
            {{element.fechaInicio | date: 'medium'}}
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>AGENTE</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombre}}
        </ng-container>

        <ng-container matColumnDef="extension">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>EXTENSIÓN</th>
          <td mat-cell *matCellDef="let element">
            {{element.extension}}
        </ng-container>

        <ng-container matColumnDef="campania">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>CAMPAÑA</th>
          <td mat-cell *matCellDef="let element">
            {{element.subarea}}
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"><span >ACCIONES</span>
          </th>
          <td  mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon pTooltip="Espiar llamada"  mat-raised-button >person_search
              </mat-icon>

              <mat-icon pTooltip="Couching"  mat-raised-button >supervised_user_circle
              </mat-icon>

              <mat-icon pTooltip="Conferencia"  mat-raised-button>groups
              </mat-icon>

            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
