<!--<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>-->
<table mat-table [dataSource]="dataVehicle" #sort matSort>
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>COBERTURA</th>
    <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
  </ng-container>

  <ng-container matColumnDef="sumaAsegurada">
    <th mat-header-cell  *matHeaderCellDef mat-sort-header>SUMA ASEGURADA</th>
    <td mat-cell *matCellDef="let row" class="rightCell">  <p *ngIf="nombreAseguradora === 'QUALITAS'">
      {{row.sumaAsegurada | currency }}{{'MXN'}}</p>
      <P *ngIf="nombreAseguradora === 'GNP'">{{row.sumaAsegurada }}</P></td>
  </ng-container>

  <ng-container matColumnDef="deducible">
    <th mat-header-cell style="text-align: center!important;" *matHeaderCellDef mat-sort-header>DEDUCIBLE</th>
    <td mat-cell style="text-align: center!important; " *matCellDef="let row"><p *ngIf="nombreAseguradora === 'QUALITAS'">
      {{row.deducible + '%'}}</p>
      <P *ngIf="nombreAseguradora === 'GNP'">{{row.deducible }}</P></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- <mat-paginator #paginador [pageSizeOptions]="[50]"></mat-paginator> -->
<!-- <label for="">{{ dataVehicle | json }}</label> -->
