table {
  margin: 25px;
  width: 95%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: auto;
}

th {
  color: #000 !important;
  background-color: #fff;
}

table .mat-header-cell:last-child,
.mat-header-cell {
  background-color: #fff !important;
  color: #000 !important;
  font-weight: bold;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #8a8a8a;
}
