<mat-card >
  <mat-card-title>PRODUCTO CLIENTE
    <div fxLayout='row' fxLayoutAlign='center'>
      <a style=" color: #000; font-size: 1.1rem;">Todos los datos que tienen un asterisco  (<b
        style="color: red;">*</b>) son requeridos</a>
    </div>
  </mat-card-title>
  <mat-card-content >
    <div >
      <div class="detalles" fxLayout='row' *ngIf="!datos" >

        <span id="header-title" style="margin-bottom: 3%;">
          ¡LOS DATOS NO HAN SIDO LLENADOS Y POR ELLO NO SE PUEDE MOSTRAR LA INFORMACIÓN DE LA COTIZACIÓN,
          SI LO DESEA VUELVA A CREAR LA COTIZACIÓN EN LA LEYENDA DE "DESEA CAMBIAR LOS DATOS DEL PRODUCTO"!
        </span>
      </div>
      <div *ngIf="datos">
        <div fxLayoutAlign="center" fxLayoutGap="25px">
          <div fxLayout="column">
            <p><span>MARCA: </span> {{datos.marca}} </p>
            <p><span>MODELO: </span> {{datos.modelo}} </p>
          </div>
          <div fxLayout="column">
            <p><span>DESCRIPCION: </span> {{datos.descripcion}} </p>
            <p><span>SUB-DESCRIPCION: </span>  {{datos.subDescripcion}} </p>
          </div>
          <div fxLayout="column">
            <p><span>DETALLE: </span> {{datos.detalle}} </p>
          </div>
        </div>
      </div>

      <span>
        INTRODUCE LOS SIGUIENTES DATOS CORRECTAMENTE:
      </span>
      <mat-card>
        <form [formGroup]="formDatos">
          <div fxLayout='row'
               fxLayoutAlign="space-between">
            <div fxFlex='45'>
              <mat-form-field>
                <input matInput type="text" formControlName="numeroSerie" oninput="this.value = this.value.toUpperCase()"
                       maxlength="17" placeholder="Número de Serie *" autocomplete="off"/>
                <mat-error *ngIf="formDatos.controls['numeroSerie'].hasError('minlength'); else numSerieExistente">
                  Se requieren al menos 8 carácteres alfanuméricos
                </mat-error>
                <ng-template #numSerieExistente>
                  <mat-error *ngIf="!formDatos.controls['numeroSerie'].valid && formDatos.controls['numeroSerie'].value !== '' ">
                    Se requiere un número de serie <strong>inexistente</strong>
                  </mat-error>
                  <mat-hint
                    *ngIf="formDatos.controls['numeroSerie'].hasError('pattern')">
                    No se aceptan las letras <strong>"I", "O"</strong>
                  </mat-hint>
                  <mat-error *ngIf="!formDatos.controls['numeroSerie'].valid && formDatos.controls['numeroSerie'].value === '' ">
                    Se requiere llenar este campo
                  </mat-error>
                </ng-template>
              </mat-form-field>
            </div>
            <div fxFlex='45'>
              <mat-form-field>
                <input matInput type="text"
                       formControlName="numeroPlacas" (blur)="verificarNumeroPlaca()" oninput="this.value = this.value.toUpperCase()"
                       maxlength="10" minlength="3" placeholder="Número de Placas" autocomplete="off"/>
                <mat-error *ngIf="!formDatos.controls['numeroPlacas'].valid && formDatos.controls['numeroPlacas'].dirty">
                  Se requiere llenar el campo
                </mat-error>
              </mat-form-field>
            </div>

          </div>

          <div fxLayout="row">
            <mat-form-field>
              <input matInput type="text" formControlName="numeroMotor" maxlength="30" oninput="this.value = this.value.toUpperCase()"
                     placeholder="Número de Motor" autocomplete="off"/>
              <mat-hint *ngIf="!formDatos.controls['numeroMotor'].valid&&formDatos.controls['numeroMotor'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>
          <mat-slide-toggle (change)="actualizarValidador()" formControlName="recotizar">
            Desea cambiar los datos del producto?</mat-slide-toggle>

          <div *ngIf="formDatos.controls.recotizar.value || !datosCotizacion">

            <div fxLayout="row"
                  fxLayoutAlign="space-between">
              <mat-form-field fxFlex="23">
                <mat-label>Tipo Catalogo</mat-label>
                <mat-select (selectionChange)="getMarcas()" formControlName="idTipoSubRamo">
                  <mat-option *ngFor="let cotizadores of tipoSubRamos" [value]="cotizadores.id">
                    {{cotizadores.tipo}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field fxFlex="23">
                <mat-label>Marca</mat-label>
                <mat-select (selectionChange)="getModelos()" formControlName="idMarca">
                  <mat-option *ngFor="let m of marcas" [value]="m.id" (onSelectionChange)="setvalue('marca', m.nombre)">
                    {{m.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field fxFlex="23">
                <mat-label>Modelos</mat-label>
                <mat-select (selectionChange)="getDescripcion()" formControlName="idModelo">
                  <mat-option *ngFor="let mo of modelos" [value]="mo.id" (onSelectionChange)="setvalue('modelo', mo.nombre)">
                    {{mo.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field fxFlex="23">
                <mat-label>Descripcion</mat-label>
                <mat-select (selectionChange)="getSubdescripcion()" formControlName="idDescripcion">
                  <mat-option *ngFor="let d of descripciones" [value]="d.idDescripcion" (onSelectionChange)="setvalue('descripcion', d.descripcion)">
                    {{d.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxLayout="row"
                  fxLayoutAlign="start"
                  fxLayoutGap="15px">
              <mat-form-field fxFlex="20">
                <mat-label>Sub Descripcion</mat-label>
                <mat-select (selectionChange)="getDetalles()" formControlName="idSubDescripcion">
                  <mat-option *ngFor="let s of subdescripciones" [value]="s.idSubDescripcion" (onSelectionChange)="setvalue('subDescripcion', s.subDescripcion)">
                    {{s.subDescripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field fxFlex="40">
                <mat-label>Detalles</mat-label>
                <mat-select formControlName="idDetalle">
                  <mat-option *ngFor="let d of detalles" [value]="d.id" (onSelectionChange)="setvalue('detalle', d.detalle)">
                    {{d.detalle}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>

          </div>
        </form>
      </mat-card>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button [ngClass]="{'btns': '[disabled]'}" mat-raised-button (click)="fileInput.click()" *ngIf="!seRegistroArchivo">
      Guardar documentos
      <input hidden accept="application/pdf" type="file" #fileInput (change)="almacenarArchivo()"/>
    </button>
    <button mat-raised-button (click)="crearProducto()" [disabled]="formDatos.invalid">{{idProductoCliente ? 'Actualizar' : 'Crear'}} Producto</button>
  </mat-card-actions>
</mat-card>
