<h1 mat-dialog-title>DATOS SOLICITUD</h1>
<div mat-dialog-content *ngIf="solicitud && prospecto" fxLayoutAlign="space-around">
  <div>
    <p><span>NOMBRE:</span> {{prospecto.nombre}} </p>
    <p><span>EMAIL:</span> {{prospecto.correo}}</p>
    <p><span>NUMERO CELULAR:</span> {{prospecto.numero}}</p>
    <p><span>GENERO:</span> {{prospecto.sexo}}</p>
    <p><span>EDAD:</span> {{prospecto.edad}}</p>
  </div>
  <div>
    <p *ngIf="solicitud.codigoPostal"><span>CP: </span> {{solicitud.codigoPostal}} </p>
    <p *ngIf="solicitud.cp"><span>CP: </span> {{solicitud.cp}} </p>
    <p><span>MARCA: </span> {{solicitud.marca}} </p>
    <p><span>MODELO: </span> {{solicitud.modelo}} </p>
    <p><span>DESCRIPCIÓN: </span> {{solicitud.descripcion}} </p>
    <p><span>SUBDESCRIPCIÓN: </span> {{solicitud.subDescripcion}} </p>
    <p><span>DETALLE: </span> {{solicitud.detalle}} </p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>Cerrar</button>
</div>
