.side-container{
  padding: 20px 10px 20px 10px;

  background-color: #8e95b1;
  height: 90vh;
  width: 100%;
  border-radius: 15px;
}
.active{
  border-radius:  0px 0px  0px 18px;
  background-color: #ebe6e6;
  width: 100%;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(195,55,100,1);
  transform: translateX(25px);
  cursor: pointer;
  transition: all linear 0.2s;
}
.img-cont{
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}
img{
  width: 40%;
}



span{
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  transition: all linear 0.2s;
  cursor: pointer;
  padding-left: 5px;
}
mat-icon{
  color: #ffffff;
}


mat-list-item:hover{

  font-weight: bold;
  transform: translateX(15px);
  cursor: pointer;
}
.badge{
  width: 18px;
  height: 18px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #36419deb;
  position: absolute;
  left: 18%;
  top:3.7%;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: all 1s ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: corte;
  /*span{*/
  /*  align-self: center;*/
  /*}*/
}
@keyframes corte {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}
.papaBadge{
  position: relative;
}
