h1{
  width: 100%;
  text-align: center;
  font-size: 18px;
}
ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0;
  padding: 0;

  li{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgb(233, 233, 233) solid 1px;
    margin-bottom: 10px;

    p{
      color: var(--iron);
      margin: 0;
    }
  }
}