<h1>INFORMACIÓN DE TARJETA</h1>
<ul>
  <li>
    <p>TITULAR:</p><p>{{infoTarjeta.titular}}</p>
  </li>
  <li>
    <p>NUM. TARJETA:</p><p>{{infoTarjeta.tarjeta}}</p>
  </li>
  <li>
    <p>CLAVE:</p><p>{{infoTarjeta.csv}}</p>
  </li>
  <li>
    <p>MES VENCIMIENTO:</p><p>{{infoTarjeta.mesVencimiento}}</p>
    <p>ANIO VENCIMIENTO:</p><p>{{infoTarjeta.anioVencimiento}}</p>
  </li>
  <li>
    <p>BANCO:</p><p>{{infoTarjeta.banco}}</p>
  </li>
  <li>
    <p>MEDIO DE PAGO:</p><p>{{infoTarjeta.formaPago}}</p>
  </li>
  <li>
    <p>TIPO DE PAGO:</p><p>{{infoTarjeta.plazoPago}}</p>
  </li>
  <li>
    <p>TIPO DE SEGURO:</p><p>{{infoTarjeta.tipoSeguro}}</p>
  </li>
  <li>
    <p>TARJETA DIGITAL:</p><p>{{infoTarjeta.tarjetaDigital == 1 ? 'SI' : 'NO'}}</p>
  </li>
  <li>
    <p>FECHA DE SOLICITUD:</p><p>{{fechaPago | date:'dd/MM/yy'}}</p>
  </li>
</ul>
