table {
    width: 100%;
  }
  .color {
    color: red;
  }
  .estilosModal {
    max-width: none!important;
    background-color: #0bbb79 !important;
  }
  .notification {
    padding: 1px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  .Blink {
    color: #088529;
    animation: blinker 0.7s linear infinite;
  }
  @keyframes blinker {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  .mat-menu-content {
    width: 345px !important;
    overflow-x: hidden;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .flex-container {
    display: flex;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  .boton-llamar {
    margin-top: -5px;
    margin-left: 20px;
  }
  .button-input {
    width: 100%;
    display: flex;
    margin-top: 0;
    top: 15px;
    position: relative;
  }
  .input {
    display: inline-grid;
    width: 50%;
  }
  .input2 {
    display: inline-grid;
    //width: 50%;
    float: right;
    margin-right: 22px;
  }
  .mff {
    width: 100% !important;
    text-align: end;
  }
  .flexStyle {
    width: 100%;
    height: auto;
    display: inline-flex;
  }
  .mat-form-field {
    width: 40%;
    color: #111218;
  }
  .mat-input-element {
    color: #111218;
  }
  .mat-header-cell {
    background-color: #354089;
    color: white;
  }
  .actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
  }
  .example-user-input {
    margin-right: 8px;
  }
  #reactivar {
    color: #28B463;
  }
  button:focus {
    outline: none;
  }
  .button-detalle {
    background-color: transparent;
    border: none;
  }
  .crearSolicitudBtn {
    position: relative;
    bottom: 7px;
  }
  .mat-icon-disabled {
    color: #ccc!important;
    cursor: not-allowed;
  }
  .timePicker {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #666666;
    cursor: pointer;
    outline: none;
    color: #666;
    margin-right: 17px;
    width: 120px;
  }
  .fechas-label {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-right: 10px;
  }
  .pickTimes {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #666666;
  }
  .btnDesplegar { width: 200px; height: 50px;}
  .btnDesplegar:disabled {background-color: #fff;}
  #tableContainer {
    overflow: auto;
    padding: 0;
    margin: 0;
  }
  .buttonsContainer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: content-box;
    margin-left: 20px;
  }
  .buttonsVN:hover {
    color: #fff;
    background: #df1d52;
    background: linear-gradient(to right, #df1d52, #364088);
  }