<form [formGroup]="datosPago" >
  <mat-form-field  *ngIf="variablesPorMostrar.includes('cantidad')">
    <input matInput placeholder="Cantidad" formControlName="cantidad">
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('cantidad')]}}
    </mat-hint>
    <mat-error *ngIf="datosPago.controls['cantidad'].hasError('required')">
      ¡El campo es requerido!
    </mat-error>
    <mat-error *ngIf="datosPago.controls['cantidad'].hasError('pattern')">
      Solo se aceptan números, un punto y dos decimales
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('formapagoDescripcio')">
    <mat-label>Forma de pago *</mat-label>
    <mat-select formControlName="idFormaPago" (selectionChange)="seleccionarForma()">
      <mat-option *ngFor="let formaPago of formasPago" [value]="formaPago.id">
        {{formaPago.descripcion}}
      </mat-option>
    </mat-select>
    <mat-hint>
      {{variablesComentarios[variablesPorMostrar.indexOf('formapagoDescripcio')]}}
    </mat-hint>
    <mat-error
      *ngIf="!datosPago.controls['idFormaPago'].valid&&datosPago.controls['idFormaPago'].dirty">
      Se requiere llenar el campo
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('fechaPago')">
    <input matInput [matDatepicker]="picker" placeholder="Fecha de pago" formControlName="fechaPago" readonly>
    <mat-datepicker-toggle matTooltip="Agregar fecha" matSuffix [for]="picker">
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-hint>
      {{variablesComentarios[variablesPorMostrar.indexOf('fechaPago')]}}
    </mat-hint>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('numeroTarjeta') && (datosPago.controls.idFormaPago.value === 1 ||
  datosPago.controls.idFormaPago.value === 2)">
    <input matInput placeholder="Numero de tarjeta" formControlName="numeroTarjeta">
    <mat-hint>
      {{variablesComentarios[variablesPorMostrar.indexOf('numeroTarjeta')]}}
    </mat-hint>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('titular') && (datosPago.controls.idFormaPago.value === 1 ||
  datosPago.controls.idFormaPago.value === 2)">
    <input matInput placeholder="Titular" formControlName="titular">
    <mat-hint>
      {{variablesComentarios[variablesPorMostrar.indexOf('titular')]}}
    </mat-hint>
  </mat-form-field>
</form>
  