<form [formGroup]="datosProducto">
  <mat-form-field  *ngIf="variablesPorMostrar.includes('marca')">
    <input matInput
           placeholder="Marca"
           formControlName="marca"


           oninput="this.value =
           this.value.toUpperCase()">
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('marca')]}}
    </mat-hint>
    <mat-error *ngIf="datosProducto.controls['marca'].hasError('required')">
      ¡El campo es requerido!
    </mat-error>
  </mat-form-field>
  <mat-form-field  *ngIf="variablesPorMostrar.includes('modelo')">
    <input matInput
           placeholder="Modelo"
           formControlName="modelo"


           oninput="this.value = this.value.toUpperCase()">
    <mat-hint>
      {{variablesComentarios[variablesPorMostrar.indexOf('modelo')]}}
    </mat-hint>
    <mat-error *ngIf="datosProducto.controls['modelo'].hasError('required')">
      ¡El campo es requerido!
    </mat-error>
  </mat-form-field>
  <mat-form-field  *ngIf="variablesPorMostrar.includes('descripcion')">
    <input matInput
           placeholder="Descripción"
           formControlName="descripcion"


           oninput="this.value = this.value.toUpperCase()">
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('descripcion')]}}
    </mat-hint>
    <mat-error *ngIf="datosProducto.controls['descripcion'].hasError('required')">
      ¡El campo es requerido!
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('numeroMotor')">
    <input matInput
           placeholder="Número de Motor"
           formControlName="numeroMotor"


           oninput="this.value = this.value.toUpperCase()">
    <mat-hint>
      {{variablesComentarios[variablesPorMostrar.indexOf('numeroMotor')]}}
    </mat-hint>
    <mat-error *ngIf="datosProducto.controls['numeroMotor'].hasError('required')">
      Se requiere llenar el campo
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('numeroPlacas')">
    <input matInput
           placeholder="Número de Placas"
           formControlName="numeroPlacas"


           oninput="this.value = this.value.toUpperCase()">
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('numeroPlacas')]}}
    </mat-hint>
    <mat-error *ngIf="datosProducto.controls['numeroPlacas'].hasError('required')">
      ¡El campo es requerido!
    </mat-error>
  </mat-form-field>
  <mat-form-field  *ngIf="variablesPorMostrar.includes('numeroSerie')">
    <input matInput
           placeholder="Número de seríe"
           formControlName="numeroSerie"
           maxlength="17"

           oninput="this.value = this.value.toUpperCase()">
    <mat-error *ngIf="datosProducto.controls['numeroSerie'].hasError('minlength'); else numSerieExistente">
      Se requieren al menos 8 carácteres alfanuméricos
    </mat-error>
    <ng-template #numSerieExistente>
      <mat-error *ngIf="!datosProducto.controls['numeroSerie'].valid && datosProducto.controls['numeroSerie'].value !== '' ">
        Se requiere un número de serie <strong>inexistente</strong>
      </mat-error>
      <mat-hint
        *ngIf="datosProducto.controls['numeroSerie'].hasError('pattern')">
        No se aceptan las letras <strong>"I", "O"</strong>
      </mat-hint>
      <mat-error *ngIf="!datosProducto.controls['numeroSerie'].valid && datosProducto.controls['numeroSerie'].value === '' ">
        Se requiere llenar este campo
      </mat-error>
    </ng-template>
  </mat-form-field>
</form>

