header {
  width: 100%;
  height: 40px;
  background-color: #2F4579;
  display: inline-flex;
}

.titleWrapper{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;

  p{
    font-size: 22px;
    color: white;
    margin: 0;
  }
}

.closeButton{
  width: min-content;
  height: 100%;
  background-color:indianred !important;
  border-radius: 0;
  border: 0;

  mat-icon{
    color: white;
    font-weight: 100;
    font-size: 24px;
  }
}

.closeButton:focus{
  outline: 0 !important;
  border: 0 !important;
}

.dialogContent{
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px 24px 0px 24px;
}

.formWrapper{
  width: 100%;
  height: 56%;
}

form{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  .mat-form-field{
    width: 22%;
  }
}

.rowWrapper{
  display: flex;
  justify-content: space-around;
}

.buttonsWrapper{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px 0 22px;
}

.cleanButton {
  width: 11%;
  background-color: #d7a432f0 !important;
  color: white !important;
}

.nextButton:disabled {
  background-color: transparent!important;
  color: #777!important;
}

.nextButton{
  width: 22%;
  background-color: #5bb34b !important;
  color: white!important;
}
