<mat-card ngxClickDerechoDesactivado
          *ngIf="permisos?.SUB?.autoErrPolizas?.autoPago ||
                  permisos?.SUB?.autoErrPolizas?.autoRegistro ||
                  permisos?.SUB?.autoErrPolizas?.autoProducto ||
                  permisos?.SUB?.autoErrPolizas?.autoCliente ||
                  permisos?.SUB?.autoErrPolizas?.autoDocs ||
                  permisos?.SUB?.autoErrPagos?.autoPago">
  <div class="regresar" (click)="cerrar()">
    <mat-icon >keyboard_arrow_left</mat-icon><span>REGRESAR</span>
  </div>
  <mat-card-title fxLayoutAlign="center" style="color: #354089 ">
    Validar documentos {{textoDocumentoActual}}
  </mat-card-title>
  <mat-card-content fxLayout="row" fxLayoutAlign="space-between baseline ">
    <div fxFlex="45">
      <mat-slide-toggle [(ngModel)]="documentoLegible">
        Da click si todos los documentos son legibles
      </mat-slide-toggle>
      <mat-divider style="width: 50%;" class="mat-divider"></mat-divider>

      <div *ngIf="documentosPCorregir.length === 0 || checkBoxes.length === 0; else documentosYFormulario" class="loader">
        <mat-spinner mode="indeterminate"></mat-spinner>
      </div>

      <!----------------------------------------- Formularios de documentos ------------------------------------------------>
      <ng-template #documentosYFormulario>
        <div *ngIf="!documentoLegible; else formularios">
          <p>Selecciona los documentos que no puedas </p>
          <div *ngFor="let documentoPCorregir of documentosPCorregir">
            <mat-slide-toggle
              [(ngModel)]="documentoPCorregir.activado"> {{documentoPCorregir.descripcion}} </mat-slide-toggle>
            <mat-form-field *ngIf="documentoPCorregir.activado">
                  <textarea matInput placeholder="Comentarios" [matTextareaAutosize]="true"
                            oninput="this.value = this.value.toUpperCase()"
                            maxlength="255" [(ngModel)]="documentoPCorregir.comentario"></textarea>
            </mat-form-field>
          </div>
        </div>
        <!------------------------------ Formularios de datos de los distintos documentos ------------------------------------->
        <ng-template #formularios>
          <mat-divider style="width: 50%;" class="mat-divider"></mat-divider>
          <p>Selecciona los campos que tengan los datos erróneos</p>
          <div *ngFor="let campo of checkBoxes" class="prueba">
            <div class="espacioCheckBox">
              <mat-slide-toggle [(ngModel)]="campo.activo" (change)="verificarCheck(false)">
                <span>{{campo.nombre}}: </span>
              </mat-slide-toggle>
              <div>
                {{campo.informacion}}
              </div>
            </div>
            <mat-form-field *ngIf="campo.activo">
                  <textarea matInput placeholder="Comentarios" [matTextareaAutosize]="true"
                            oninput="this.value = this.value.toUpperCase()"
                            [(ngModel)]="campo.comentario" maxlength="255"></textarea>
            </mat-form-field>
          </div>
        </ng-template>
      </ng-template>
    </div>

    <div fxFlex="45" fxLayout="column" fxLayoutGap="10px">
      <app-viewer *ngIf="autorizacionRegistro || verificacionPago"
                  [carpetaRegistro]="verificacionPago ? null : autorizacionRegistro.carpetaRegistro"
                  [archivoPago]="verificacionPago ? verificacionPago.archivoPago :autorizacionRegistro.archivoPago"
                  [carpetaCliente]="verificacionPago ? null :autorizacionRegistro.carpetaCliente"
                  [carpetaInspeccion]="verificacionPago ? null :autorizacionRegistro.archivoInspeccion"
                  [autorizacion] = true
                  [soloPago] = "verificacionPago ? true : false">
      </app-viewer>

      <div fxLayoutAlign="end" fxFlex="20">
        <div *ngIf="(!documentoLegible && verificarCheck(true)) ||
                      (documentoLegible && verificarCheck(false)); else elseBoton">


          <div *ngIf="proboolean; else noIdentificado">
            <button mat-raised-button color="primary" (click)="documentoLegible ? postErroresEnCamposPago(): postErroresDocumentosPago()">
              Reportar error documento
            </button>
          </div>
          <ng-template #noIdentificado>
            <button mat-raised-button color="primary" (click)="documentoLegible ? postErroresEnCampos(): postErroresDocumentos()">
              Reportar documento
            </button>
          </ng-template>
        </div>

        <ng-template #elseBoton>
          <div *ngIf="proboolean; else noIdentificado">
            <button mat-raised-button color="primary" (click)="putAutorizacionPago(4)">
              Datos correctos
            </button>
          </div>
          <ng-template #noIdentificado>
            <button mat-raised-button color="primary" (click)="putAutorizacionRegistro(4)">
              Datos correctos
            </button>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </mat-card-content>
</mat-card>
