mat-form-field {
  width: 100%;
}
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
th.mat-sort-header-sorted {
  color: black;
}
.example-container {
  max-width: 100%;
  overflow: auto;
}

table {
  width: 110vw;
  height: 50vw;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}



.mat-header-cell {
  background-color: #354089;
  color: white;
}
.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mat-icon-disabled {
  color: #ccc!important;
  cursor: not-allowed;
}
.fechas-label {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-right: 10px;
}
.btnDesplegar { width: 200px; height: 50px;}
.btnDesplegar:disabled {background-color: #fff;}
#tableContainer {
  overflow: auto;
  padding: 0;
  margin: 0;
}
.buttonsContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: content-box;
}
.buttonsVN:hover {
  color: #fff;
  background: #df1d52;
  background: linear-gradient(to right, #df1d52, #364088);
}
mat-progress-bar {width: 150px;}
.warning {
  background: #ffdbe2;
}
.greeat {
  background: #d7ffcf;
}
.blue {
  background: #32cbff;
}
.purple {
  background: #b388eb;
}

.ajuste{
  display: inline-flex;
  width: 100%;
  align-content: center;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
}

.mat-icon {
  color: #111218;
}
