.conten{
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
.conten2{
  display: flex;
  justify-content: end;
  gap: 10px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 40%;
}

td, th {
  width: 25%;
}

.selects {
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: space-between;
}

.example-form-field {
  margin-right: 20px;
}
.example-container {
  height: 346px;
  margin-top: 15px;
  overflow: auto;
}
td.mat-cell, th.mat-header-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: #fff;
  text-align: center;
}
td.mat-footer-cell {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: center;
  padding: 0;
}
.warning {
  background: rgba(247, 37, 133,.3);
}
.orange {
  background: rgba(181, 23, 158,.3);
}
.greeat {
  background: rgba(114, 9, 183,.3);
}
.blue {
  background: rgba(63, 55, 201, .3);
}

.error {
  background: rgba(72, 12, 168, .3);
}

.red {
  background: rgba(72, 149, 239, .3);
}
td.mat-cell{color:black!important;}
