<section>
  <div class="conten" style="margin-top: 10px;">
    <mat-form-field appearance="fill" *ngIf="puesto !== '8'">
      <mat-label>CAMPAÑAS</mat-label>
      <mat-select (selectionChange)="getFilter()" [(value)]="idSubarea">
        <mat-option *ngFor="let subs of dashBoardFiltro" [value]="subs.idSubarea">
          {{subs.subarea}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="conten">
      <mat-form-field appearance="fill" >
        <mat-label>FECHA INICIO</mat-label>
        <input matInput [matDatepicker]="picker"
               [(ngModel)]="rangeDates[0]"
               [value]="rangeDates[0]"
               matTooltip="Agregar fecha inicio"
               placeholder="Fecha Inicio"
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>FECHA FIN</mat-label>
        <input matInput [matDatepicker]="picker2"
               [(ngModel)]="rangeDates[1]"
               [value]="rangeDates[1]"
               matTooltip="Agregar fecha inicio"
               placeholder="Fecha Inicio"
               (dateChange)="getFechas()"
        >
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>FILTRO GENERAL</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
  </div>

  <div class="conten2">
    <button mat-raised-button *ngIf="puesto !== '8'" (click)="descargaLead()">DESCARGA LEADS</button>
    <button mat-raised-button *ngIf="puesto !== '8'" (click)="descargaLlamadas()">DESCARGA LLAMADAS</button>
    <button mat-raised-button *ngIf="puesto !== '8'" (click)="descargaDashBoard()">DESCARGA TABLA</button>
  </div>

  <div class="example-container mat-elevation-z8" *ngIf="dataSource; else spin">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="subarea">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CAMPAÑA </th>
        <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
        <td mat-footer-cell *matFooterCellDef> Suma en contactacion / promedio en Logueo </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="ejecutivo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EJECUTIVO </th>
        <td mat-cell *matCellDef="let row"> {{row.ejecutivo}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="leads">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> LEADS </th>
        <td mat-cell *matCellDef="let row"> {{row.leads}} </td>
        <td mat-footer-cell *matFooterCellDef> {{leadsTotal | number: '1.0-0'}} </td>
      </ng-container>

      <!-- Fruit Column -->

      <ng-container matColumnDef="noContactados">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NO CONTACTADOS </th>
        <td mat-cell *matCellDef="let row" [ngClass]="'warning'" (click)="descargaDash(row.idEmpleado, 2)"> {{row.noContactados}} </td>
        <td mat-footer-cell *matFooterCellDef> {{noContactadosTotal | number: '1.0-0'}} </td>
      </ng-container>

      <ng-container matColumnDef="noC%">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> % </th>
        <td mat-cell *matCellDef="let row" [ngClass]="'warning'"> {{row.noContactados / row.leads | percent: '1.0-2'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{noContactadosTotal / leadsTotal | percent: '1.0-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="leadsError">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TELEFONO INCORRECTO </th>
        <td mat-cell *matCellDef="let row" [ngClass]="'error'" (click)="descargaDash(row.idEmpleado, 1)"> {{row.contactoErroneo}} </td>
        <td mat-footer-cell *matFooterCellDef> {{erororTotal | number: '1.0-0'}} </td>
      </ng-container>

      <ng-container matColumnDef="error%">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> % </th>
        <td mat-cell *matCellDef="let row" [ngClass]="'error'"> {{row.contactoErroneo / row.leads | percent: '1.0-2'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{erororTotal / leadsTotal | percent: '1.0-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="enMarcacion1a4">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EN MARCACION 1 - 7 </th>
        <td mat-cell *matCellDef="let row" [ngClass]="'orange'" (click)="descargaDash(row.idEmpleado, 3)"> {{row.enMarcacion1a4}} </td>
        <td mat-footer-cell *matFooterCellDef> {{enMarcacion14Total | number: '1.0-0'}} </td>
      </ng-container>

      <ng-container matColumnDef="enM14%">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> % </th>
        <td mat-cell *matCellDef="let row" [ngClass]="'orange'"> {{row.enMarcacion1a4 / row.leads | percent: '1.0-2'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{enMarcacion14Total / leadsTotal | percent: '1.0-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="enMarcacion5">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> MARCACION 8 O MAS </th>
        <td mat-cell *matCellDef="let row" [ngClass]="'red'" (click)="descargaDash(row.idEmpleado, 4)"> {{row.enMarcacion5}} </td>
        <td mat-footer-cell *matFooterCellDef> {{enMarcacion5Total | number: '1.0-0'}} </td>
      </ng-container>

      <ng-container matColumnDef="enM5%">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> % </th>
        <td mat-cell *matCellDef="let row" [ngClass]="'red'"> {{row.enMarcacion5 / row.leads | percent: '1.0-2'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{enMarcacion5Total / leadsTotal | percent: '1.0-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="contactados">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CONTACTO EFECTIVO </th>
        <td mat-cell *matCellDef="let row" [ngClass]="'blue'" (click)="descargaDash(row.idEmpleado, 5)"> {{row.contactados}} </td>
        <td mat-footer-cell *matFooterCellDef> {{contactadosTotal | number: '1.0-0'}} </td>
      </ng-container>

      <ng-container matColumnDef="con%">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> % </th>
        <td mat-cell *matCellDef="let row" [ngClass]="'blue'"> {{row.contactados / row.leads | percent: '1.0-2'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{contactadosTotal / leadsTotal | percent: '1.0-2'}} </td>
      </ng-container>


      <ng-container matColumnDef="contactoEfectivo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CONTACTOS EMITIDOS </th>
        <td mat-cell *matCellDef="let row" [ngClass]="'greeat'" (click)="descargaDash(row.idEmpleado, 6)"> {{row.contactoEfectivo}} </td>
        <td mat-footer-cell *matFooterCellDef> {{contactoEfectivoTotal | number: '1.0-0'}} </td>
      </ng-container>

      <ng-container matColumnDef="conE%">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> % </th>
        <td mat-cell *matCellDef="let row" [ngClass]="'greeat'"> {{row.contactoEfectivo / row.leads | percent: '1.0-2'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{contactoEfectivoTotal / leadsTotal | percent: '1.0-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="horaLogueo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> HORA LOGUEO </th>
        <td mat-cell *matCellDef="let row" [ngClass]="row.horaLogueo <= 30600 ? 'greeat' : 'warning'"> {{totalDays === 0 ? ((row.horaLogueo * 1000) + 21600000 | date:'HH:mm:ss') : ' '}} </td>
        <td mat-footer-cell *matFooterCellDef> {{((horaTotal * 1000) + 21600000 | date:'HH:mm:ss')}} </td>
      </ng-container>

      <ng-container matColumnDef="tiempoLogueo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TIEMPO LOGUEO </th>
        <td mat-cell *matCellDef="let row" [ngClass]="row.tiempoLogueo >= 36000 ? 'greeat' : 'warning'"> {{totalDays === 0 ? ((row.tiempoLogueo * 1000) + 21600000 | date:'HH:mm:ss'): ' '}} </td>
        <td mat-footer-cell *matFooterCellDef> {{((tiempoTotal * 1000) + 21600000 | date:'HH:mm:ss')}} </td>
      </ng-container>

      <ng-container matColumnDef="pausas">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PAUSAS </th>
        <td mat-cell *matCellDef="let row"> {{totalDays === 0 ? row.pausas : ' '}} </td>
        <td mat-footer-cell *matFooterCellDef> {{totalDays === 0 ? (pausasTotal | number: '1.0-0') : ' '}} </td>
      </ng-container>

      <ng-container matColumnDef="tiempoPausaa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TIEMPO EN PAUSAS </th>
        <td mat-cell *matCellDef="let row"> {{totalDays === 0 ? row.tiempoPausaa : ' '}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <ng-container matColumnDef="tiempoProductivo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TIEMPO PRODUCTIVO </th>
        <td mat-cell *matCellDef="let row" [ngClass]="row.tiempoProductivo > 16200? 'greeat' : 'warning'"> {{totalDays === 0 ? ((row.tiempoProductivo * 1000) + 21600000 | date:'HH:mm:ss') : ' '}} </td>
        <td mat-footer-cell *matFooterCellDef> {{((tiempoProductivoTotal * 1000) + 21600000 | date:'HH:mm:ss')}} </td>
      </ng-container>

      <ng-container matColumnDef="llamadas">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> LLAMADAS </th>
        <td mat-cell *matCellDef="let row"> {{row.llamadas}} </td>
        <td mat-footer-cell *matFooterCellDef> {{llamadasTotal | number: '1.0-0'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[100, 50, 25, 10]"></mat-paginator>
  </div>
  <ng-template #spin >
    <mat-spinner  ></mat-spinner>
  </ng-template>
</section>
