
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
p{
  font-family: 'Quicksand', sans-serif;
}
img{
  height: 100%;
}
.header{
  display: inline-flex;
  justify-content: space-around;
  //height: 100%;
  //width: 100%;
  //margin: 0;
}
.titulo{
  font-family: 'Fira Sans', sans-serif;
  font-size: 28px;
  text-align: center;
  font-weight: 700;
}
// .subtitulo{
//   font-size: 18px ;
//   text-align: center;
//   margin: 0;
// }
div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.iconWrapper{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  mat-icon{
    height: auto;
    width: auto;
    color: #4650a5;
    animation: parpadeo 3s infinite linear;
  }
}
@keyframes parpadeo {
  10%{
    color: #4650a561;
    transform: translateY(5px);
  }
  20%{
    color: #4650a5;
    transform: translateY(0)
  }
  80%{
    color: #4650a5;
    transform: translateY(0);
  }
  90%{
    color: #4650a561;
    transform: translateY(5px);
  }
  100%{
    color: #4650a5;
    transform: translateY(0);
  }
}
.prueba {
  text-align: center;
}

p {
  margin: 0;
}

.infoText{
  font-size: 13px;
  font-weight: 700;
}

p span {
  font-weight: 500;
  color: #515874;
}

//======================= RESPONSIVE ========================//

@media only screen and(max-width: 414px){
  .header{
    padding: 0;
  }
  .titulo{
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 6px;
  }
  .subtitulo{
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: 1px solid #4650a570;
  }

  ::ng-deep .cdk-overlay-connected-position-bounding-box{
    left: 4% !important;
    top: calc(16% + 60px) !important;
    width: 92% !important;
    height: calc(80% - 60px) !important;

    .cdk-overlay-pane{
      left: 0 !important;
      top: 0 !important;
    }

    .menuNombreDash{
      max-width: 100%;
      padding:5px;

      p{
        text-align: center;
        margin: 0;
        font-size: 11px;
      }
    }
  }
}
