<mat-card-title style="text-align: center;">
  ¿Cuál es el motivo de la cancelación?
</mat-card-title>

<mat-card-content>
  <div >
    <div fxLayout="row" fxLayoutAlign="center" style="margin-top: 5%">
      <mat-form-field>
        <mat-label> Seleccione el motivo por el cual cancelará el registro </mat-label>
        <mat-select [(ngModel)] = "motivoSeleccionado">
          <mat-option *ngFor="let motivos of motivosCancelacion" [value]="motivos.id">
            {{motivos.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-card-content>

<div fxLayoutAlign="space-between">
  <button mat-raised-button color="primary" (click)="dismiss(false)"> Cerrar </button>
  <button mat-raised-button color="primary" (click)="postCancelacion()" [disabled]="!motivoSeleccionado"> Cancelar Registro </button>
</div>
