<mat-card >

  <div fxLayout="row" fxLayoutAlign="space-between">

    <button mat-icon-button
            matTooltip="RECARGAR PÁGINA"
            (click)="getFechas(true)">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <mat-card-title style="text-align: center; color: #354089" >
    SOLICITUDES INTERNAS
  </mat-card-title>
  <div fxLayout="row" fxLayoutAlign="space-between" >
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label" fxFlex="30">Inicio</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="picker" disabled
               [(ngModel)]="rangeDates[0]"
               [value]="rangeDates[0]"
               [max]="max"
               matTooltip="Agregar fecha inicio">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label"  fxFlex="30">Fin</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label >Fecha final</mat-label>
        <input matInput [matDatepicker]="picker2" disabled
               [(ngModel)]="rangeDates[1]"
               [value]="rangeDates[1]"
               matTooltip="Agregar fecha final">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

  </div>
      <!--      INPUTS DE FECHAS-->

      <div fxLayout="row" fxLayoutAlign="end" style="margin-bottom: 14px;" >

            <div fxLayoutAlign="space-between center" fxLayoutGap="100px" fxFlex="100">
              <mat-form-field class="example-form-field" appearance="legacy" fxFlex="60">
                <mat-label>Filtrar</mat-label>
                <input matInput type="text" (keyup)="applyFilter($event)">
                <button matSuffix mat-icon-button aria-label="Clear" >
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
              <button mat-raised-button fxFlex="50" (click)="getFechas(true)">DESPLEGAR FECHAS</button>
              <button mat-raised-button fxFlex="50" (click)="crearSolicitudVN()">CREAR SOLICITUD</button>
            </div>
      </div>
  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort *ngIf="dataSource || errorSpin; else spin"
      (matSortChange)="announceSortChange($event)" class="example-container mat-elevation-z8 ">
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;" > DETALLE</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <mat-icon (click)="verDatos(element.idProducto)" id="verDetalles" matTooltip="Ver detalles"
                      mat-raised-button
                      style="color: red">
              remove_red_eye
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
          <td mat-cell *matCellDef="let element">
            {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nombreEmpleado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> EMPLEADO</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreEmpleado}} </td>
        </ng-container>

        <ng-container matColumnDef="nombreaCliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CLIENTE</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreCliente}} </td>
        </ng-container>

        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TELÉFONO</th>
          <td mat-cell *matCellDef="let element"> {{element.numero}}  </td>
        </ng-container>


        <ng-container matColumnDef="descripcionDepartemento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Departamento</th>
          <td mat-cell *matCellDef="let element" style="font-weight: 900;">
            <!--{{element.idEstadoSolicitud | FechaRestante: element.estado}} -->
            {{element.descripcionDepartemento}}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaSolicitud">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA</th>
          <td mat-cell *matCellDef="let element"> {{element.fechaSolicitud | date:"dd/MM/yyyy" }} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"><span >ACCIONES</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon matTooltip="Generar Emision" (click)="generarEmision(element.id)" mat-raised-button>launch
              </mat-icon>
              <mat-icon matTooltip="Reasignar solicitud"
                        (click)="reasignarSolicitud(element)"
                        *ngIf="idPuesto !== 8 && idPuesto !== 38 && permisos?.ENR?.solicitudes?.reasignar"
                        mat-raised-button>
                supervisor_account
              </mat-icon>

              <button mat-icon-button
                      *ngIf="puedeLlamar && (extension.length > 0 && extension !== 'null')"
                      [matMenuTriggerFor]="menu"
                      (click)="getNumeros(element.id, element.numero)">
                <mat-icon>call</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <mat-spinner *ngIf="cargando"></mat-spinner>
                <div *ngFor="let numero of numeros">
                  <button mat-menu-item (click)="llamar(element.id, numero)">
                    <mat-icon>call</mat-icon>
                    <span>{{numero}}</span>
                  </button>
                </div>
              </mat-menu>

<!--              <div class="notification">-->
<!--                <mat-icon  matTooltip="Enviar mensaje" (click)="mostrarChat(element)">-->
<!--                  whatsapp-->
<!--                </mat-icon>-->
<!--              </div>-->

              <mat-icon matTooltip="Historial de llamadas"  (click)="historicoLlamadas(element.id)">
                history
              </mat-icon>

              <button mat-icon-button
                      matTooltip="Agregar Número"
                      (click)="agregarNumero(element.id)">
                <mat-icon>person_add</mat-icon>
              </button>

            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
      <ng-template #spin >
        <mat-spinner  ></mat-spinner>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
