.comentario {
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.tipoDocumento {
  margin-top: 5%;
  font-weight: bold;
  font-size: 20px;
}
.info {
  color: black;
  font-size: 15px;
}
