<mat-card >

  <div fxLayout="row" fxLayoutAlign="space-between">

    <button mat-icon-button
            matTooltip="RECARGAR PÁGINA"
            (click)="getPolizasCanceladas()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <mat-card-title style="text-align: center; color: #354089" >
    HISTORIAL CANCELACIONES
  </mat-card-title>
  <div fxLayout="row" fxLayoutAlign="space-between" >
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label" fxFlex="30">Inicio</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="picker" disabled
               [(ngModel)]="rangeDates[0]"
               [value]="rangeDates[0]"
               [max]="max"
               matTooltip="Agregar fecha inicio">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label"  fxFlex="30">Fin</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label >Fecha final</mat-label>
        <input matInput [matDatepicker]="picker2" disabled
               [(ngModel)]="rangeDates[1]"
               [value]="rangeDates[1]"
               matTooltip="Agregar fecha final">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

  </div>
      <!--      INPUTS DE FECHAS-->

      <div fxLayout="row" fxLayoutAlign="end" style="margin-bottom: 14px;" >

            <div fxLayoutAlign="space-between center" fxLayoutGap="100px" fxFlex="100">
              <mat-form-field class="example-form-field" appearance="legacy" fxFlex="60">
                <mat-label>Filtrar</mat-label>
                <input matInput type="text" (keyup)="applyFilter($event)">
                <button matSuffix mat-icon-button aria-label="Clear" >
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
              <button mat-raised-button fxFlex="50" (click)="getPolizasCanceladas()">DESPLEGAR FECHAS</button>
            </div>
      </div>
  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort *ngIf="dataSource || errorSpin; else spin"
      (matSortChange)="announceSortChange($event)" class="example-container mat-elevation-z8 ">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
          <td mat-cell *matCellDef="let element">
            {{element.idRegistro}} </td>
        </ng-container>

        <ng-container matColumnDef="nombreEmpleado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> REALIZÓ</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreEmpleado}} </td>
        </ng-container>

        <ng-container matColumnDef="poliza">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PÓLIZA</th>
          <td mat-cell *matCellDef="let element">
            {{element.poliza}} </td>
        </ng-container>

        <ng-container matColumnDef="motivo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> MOTIVO CANCELACIÓN</th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}}  </td>
        </ng-container>

        <ng-container matColumnDef="fechaSolicitud">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA</th>
          <td mat-cell *matCellDef="let element"> {{element.fecha | date:"dd/MM/yyyy HH:mm:ss" }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
      <ng-template #spin >
        <mat-spinner  ></mat-spinner>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
