<mat-card *ngIf="permisos?.COB?.adminPolizas">
<div fxLayoutAlign="center">
  <div class="view">

    <div class="header">
      SUBE TU ARCHIVO DE CLIENTE
    </div>
    <mat-card-content>

      <div class="tam" fxLayoutAlign="center">
        <mat-icon class="tamanio" >cloud_upload</mat-icon>
      </div>

    </mat-card-content>
    <mat-card-actions fxLayoutAlign="space-around">
      <div class="button" >
        <button mat-raised-button (click)="fileInput.click()" >Guardar documentos</button>
        <input hidden accept="application/pdf" type="file" #fileInput (change)="almacenarArchivo()"/>
      </div>
      <div class="button" >
        <button  mat-raised-button (click)="dismiss(false)" >Cancelar</button>
      </div>

    </mat-card-actions>

  </div>

</div>
</mat-card>
