button {
  color: #fff !important;
}

input:focus {
  outline: none !important;
  border: none !important;
}

#title {
  margin-bottom: 5% !important;
}

mat-card {
  border: none!important;
  box-shadow: none!important;
}



mat-datepicker-toggle {
  font-size: 1.5rem;
  background-color: transparent;
  color: #000000;
  transition: all ease 0.4s;
}

mat-datepicker-toggle:hover {
  color: #0082ff;
}

.btns {
  transition: ease .5s;
}

//.btns:hover {
//  color: #fff;
//  background: #df1d52;
//  background: linear-gradient(to right, #df1d52, #364088);
//}
// Icono de espera en formulario
.laodingData {
  color: tomato;
  animation: reload 1s linear infinite;
  z-index: 10;
  position: absolute;
  right: -22px;
  top: 15px;
}
.relativeLoad {
  position: relative;
}

