<mat-horizontal-stepper #stepper (selectionChange)="selectionChange($event)">
  <mat-step>
    <ng-template matStepLabel>Cliente</ng-template>
    <app-create-emision  [idCliente]="step[0]['idCliente']" (datosSalida)="emisionHijo($event)" *ngIf="step[0]['idCliente'] != null"
                        [idSolicitud]="idSolicitud">
    </app-create-emision>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Producto Cliente</ng-template>
    <app-datos-producto *ngIf = "step[1]['idProducto'] != null"
                        [idCliente]="step[0]['idCliente']"
                        [idProductoCliente] = "step[1]['idProducto']"
                        [datosCotizacion] = "solicitud.peticion"
                        [idSubRamo]="solicitud.idSubRamo"
                        (_idProductoCliente)="emisionHijo($event)">
    </app-datos-producto>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel matTabContent>Registro Póliza</ng-template>
    <app-registro-poliza *ngIf = "step[2]['idRegistro'] != null" [idRegistroPoliza]="step[2]['idRegistro']"
                         (salida)="emisionHijo($event)">
    </app-registro-poliza>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Recibos</ng-template>
    <app-recibos *ngIf = "step[3]['idRecibo'] != null" [idRegistro] = "step[3]['idRecibo']"
                 [esStep]="true" (salida)="emisionHijo($event)">
    </app-recibos>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Pago</ng-template>
    <app-pagos [idRegistro]="solicitud.idRegistro" [esStep]="true"
               [id]="step[4]['idPago']"
               *ngIf = "step[4]['idPago'] != null"
               (nextStepper)="emisionHijo($event)">
    </app-pagos>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Inspeccion</ng-template>
    <app-inspecciones [idRegistro]="solicitud.idRegistro" [esStep]="true"
                      [idCliente] = "solicitud.idCliente"
                      *ngIf = "step[5]['idInspeccion'] != null">
    </app-inspecciones>
  </mat-step>

</mat-horizontal-stepper>
