
<mat-card class="example-form">
  <!--  <mat-card-title class="title">Registrar Póliza-->
  <div class="generalWrapper">
    <div class="header">
      <div class="stepTitle">
        Guardar Documentos de la Póliza
      </div>
    </div>
    <!--<mat-card-title *ngIf="mostrar === true">ACTUALIZAR PROSPECTO</mat-card-title>-->
    <div class="cardContent">
      <!--    <span>-->
      <!--      {{instrucciones}}-->
      <!--    </span>-->
      <!--    se oculta formalario de registro pero se completa las acciones-->
      <div *ngIf="ocultarFormulario">
        <form [formGroup]="registroForm">
          <div class="row justify-content-center">
            <div class="col-6">
              <div class="form-group">
                <mat-form-field>
                  <mat-label>TIPO PAGO *</mat-label>
                  <mat-select formControlName="idTipoPago">
                    <mat-option *ngFor="let tipoPago of tipoPagos"
                                (click)="tipoPago.id === 4 ? getPeriodicidadFilter() : getPeriodicidad()" [value]="tipoPago.id"
                                id="idTipoPago">
                      {{tipoPago.tipoPago}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="!registroForm.controls['idTipoPago'].valid&&registroForm.controls['idTipoPago'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>SOCIO *</mat-label>
                  <mat-select formControlName="idSocio">
                    <mat-option *ngFor="let socio of socios" [value]="socio.id" id="idSocio" (click)="getRamo(socio.id)">
                      {{socio.nombreComercial}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="!registroForm.controls['idSocio'].valid&&registroForm.controls['idSocio'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>

                <mat-form-field *ngIf="registroForm.controls['idSocio'].value !== ''">
                  <mat-label>RAMO *</mat-label>
                  <mat-select formControlName="idRamo">
                    <mat-option *ngFor="let ramo of ramos" [value]="ramo.id" id="idRamo" (click)="getSubRamo(ramo.id)">
                      {{ramo.tipoRamo}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="!registroForm.controls['idRamo'].valid&&registroForm.controls['idRamo'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>

                <mat-form-field *ngIf="registroForm.controls['idRamo'].value !== ''">
                  <mat-label>SUBRAMO *</mat-label>
                  <mat-select formControlName="idSubRamo">
                    <mat-option *ngFor="let subRamo of subRamos" [value]="subRamo.id" id="idSubRamo"
                                (click)="getProductoSocio(subRamo.id)">
                      {{subRamo.tipoSubRamo}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="!registroForm.controls['idSubRamo'].valid&&registroForm.controls['idSubRamo'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>

                <mat-form-field *ngIf="registroForm.controls['idSubRamo'].value !== ''">
                  <mat-label>PRODUCTO SOCIO *</mat-label>
                  <mat-select formControlName="idProductoSocio">
                    <mat-option *ngFor="let pSocio of productosSocio" [value]="pSocio.id">
                      {{pSocio.tipoProducto}}
                    </mat-option>
                  </mat-select>
                  <mat-hint
                    *ngIf="!registroForm.controls['idProductoSocio'].valid&&registroForm.controls['idProductoSocio'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>

                <mat-checkbox #checkin *ngIf="urlPreventa === 1">URL PREVENTA</mat-checkbox>

              </div>
            </div>
            <div class="col-6">
              <div class="form-group">

                <mat-form-field>
                  <input readonly matInput [matDatepicker]="picker" placeholder="INICIO DE VIGENCIA *" id="fechaInicio"
                         onpaste="return true" oncopy="return false" formControlName="fechaInicio" autocomplete="false">
                  <mat-datepicker-toggle matTooltip="Agregar fecha" matSuffix [for]="picker" matTooltip="Agregar fecha">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-hint *ngIf="!registroForm.controls['fechaInicio'].valid&&registroForm.controls['fechaInicio'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>VIGENCIA DE PÓLIZA *</mat-label>
                  <mat-select formControlName="periodo">
                    <mat-option *ngFor="let periodo of periodicidad" [value]="periodo.id" id="periodo">
                      {{periodo.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="!registroForm.controls['periodo'].valid&&registroForm.controls['periodo'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>

                <!--            <input matInput type="text" formControlName="oficina" id="oficina" [pKeyFilter]="numeroGuion"  onpaste="return true" oncopy="return false"-->
                <!--                   oninput="this.value = this.value.toUpperCase()" placeholder="OFICINA"-->
                <!--                   onDrop="return false"  autocomplete="off"/>-->
                <!--            </mat-form-field><mat-form-field>-->


                <mat-form-field>
                  <input matInput type="text" formControlName="poliza" id="poliza" onpaste="return true"
                         oncopy="return false" oninput="this.value = this.value.toUpperCase()" placeholder="POLIZA *"
                         onDrop="return false" autocomplete="off" />
                  <mat-error *ngIf="registroForm.controls['poliza'].hasError('required')">
                    Se requiere llenar el campo
                  </mat-error>
                  <mat-error *ngIf="registroForm.controls['poliza'].hasError('pattern')">
                    La nomenclatura correcta para una poliza de {{socioOnline.nombreComercial}} es:
                    {{socioOnline.ejemploExpresionRegular}}
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput type="text" formControlName="primaNeta" id="primaNeta" maxlength="10"
                         onpaste="return true" oncopy="return false" placeholder="PRIMA NETA GENERAL *" onDrop="return false"
                         autocomplete="off" />
                  <mat-hint *ngIf="!registroForm.controls['primaNeta'].valid&&registroForm.controls['primaNeta'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>

                <!--            <mat-form-field>-->
                <!--              <input matInput type="text" formControlName="primerPago" id="primerPago"  onpaste="return true" oncopy="return false"-->
                <!--                     placeholder="PRIMA NETA DEL PRIMER PAGO *" onDrop="return false"  autocomplete="off"/>-->
                <!--              <mat-hint *ngIf="!registroForm.controls['primerPago'].valid&&registroForm.controls['primerPago'].dirty">-->
                <!--                Se requiere llenar el campo-->
                <!--              </mat-hint>-->
                <!--            </mat-form-field>-->

                <mat-form-field *ngIf="getNumeroPagos() > 1">
                  <input matInput type="text" formControlName="pagoMensual" id="mensualidades" onpaste="return true"
                         oncopy="return false" placeholder="PRIMA NETA DE LAS MENSUALIDADES *" onDrop="return false"
                         autocomplete="off" />
                  <mat-hint *ngIf="!registroForm.controls['pagoMensual'].valid&&registroForm.controls['pagoMensual'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="buttonsRow">
    <!-- <button [disabled]="desactivarBotones" mat-raised-button [ngClass]="{'btns': !'[disabled]'}"
      (click)="fileInput.click()">
      Guardar Poliza
      <input hidden accept="application/pdf" type="file" #fileInput (change)="almacenarArchivo()" onpaste="return true"
        oncopy="return false" />
    </button> -->

    <!-- <button mat-raised-button (click)="findPolicieUrl('qualitas', '7160186330')">
      Guardar Poliza
    </button> -->
    <button mat-button (click)="dataUrlToBlob()" *ngIf="!ocultarboton" class="nextButton">
      Siguiente
    </button>

    <button class="nextButton" mat-button (click)="fileInput.click()" *ngIf="ocultarboton">
      Guardar documentos Cliente
      <input hidden accept="application/pdf" type="file" #fileInput (change)="almacenarArchivoCliente()"/>
    </button>
    <!--  <button mat-button [disabled]="validarCampos()" *ngIf="!gruposCargados && this.idRegistroPoliza === 0"
      [ngClass]="{'btns': !'[disabled]'}" (click)="crearRegistroEnUno()">
      Registrar
    </button> -->
    <!-- <button mat-button [disabled]="!archivoValido" *ngIf="!gruposCargados && this.idRegistroPoliza !== 0"
      [ngClass]="{'btns': !'[disabled]'}" (click)="subirADrive('poliza', this.idRegistroPoliza)">
      Subir Archivo
    </button> -->
    <!-- <button mat-raised-button color="primary" mat-button style="margin-left: 10%;" (click)="getDocuments()"
      class="btns">Emision</button> -->
  </div>
</mat-card>

