<mat-card class="header">
  <p>Administrador de Asistencias</p>
  <div></div>
</mat-card>
<mat-tab-group (selectedTabChange)="tabClick($event)" mat-align-tabs="center">
  <mat-tab label="Registrar asistencias" *ngIf="permisos?.registrarAsistencias">
    <mat-card class="contentCard">
      <app-asistencia></app-asistencia>
    </mat-card>
  </mat-tab>
  <mat-tab label="Asistencias por corte" *ngIf="permisos?.asistenciasCorte">
    <mat-card class="contentCard">
      <app-ver-asistencia></app-ver-asistencia>
    </mat-card>
  </mat-tab>
</mat-tab-group>

