<mat-card>
  <div class="generalWrapper">
    <div *ngIf="banderaEmitirMal" class="emitWrapper">
      <button
        mat-button
        (click)="emitir(idSolicitud)"
        class="nextButton emitButton">Volver a Emitir</button>
      <p>ERROR AL EMITIR</p>
      <p style="color: red;">{{ responseEmision['codigoError']}}</p>
    </div>

    <div *ngIf="banderaPagoMal" class="emitWrapper">

      <p>ERROR AL REALIZAR EL PAGO</p>
      <p>FAVOR DE REVISAR</p>
      <p style="color: red;" *ngIf="nombreAseguradora === 'QUALITAS'">{{ dataArrayPago['codigoError']}}</p>

      <p style="color: red;" *ngIf="nombreAseguradora === 'GNP'">{{ dataArrayValidacionTarjeta['codigoError']}}</p>
      <!--      <p style="color: red;">{{ response['codigoError']}}</p>-->
    </div>


    <div class="header">
      <div class="stepTitle">Método de Pago</div>
    </div>
    <div class="cardContent">
      <div class="col-12">

        <form [formGroup]="formPago">


          <div class="col-6" *ngIf="ocultarFormulario">
            <mat-form-field class=" example-full-width"  >
              <mat-label>Cantidad</mat-label>
              <input
                matInput
                formControlName="cantidad"
                onpaste="return true"
                oncopy="return false"
              >
            </mat-form-field>
          </div>


          <div class="col-6" *ngIf="ocultarFormulario" >
            <mat-form-field appearance="outline">
              <mat-label>Fecha de Pago</mat-label>
              <input
                matInput onpaste="return true"
                oncopy="return false"
                [matDatepicker]="picker"
                formControlName="fechaPago">
              <mat-datepicker-toggle matTooltip="Agregar fecha" matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>




          <div class="payForm">

            <mat-form-field appearance="outline">
              <mat-label>Forma de pago</mat-label>
              <mat-select (selectionChange)="seleccionFormaPago()" formControlName="idFormaPago" [disabled]="banderaEmitirMal">
                <mat-option *ngFor="let forma of formaPagoData" [value]="forma.id">
                  {{forma.descripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <form *ngIf="formPago.controls['idFormaPago'].value !== ''" [formGroup]="formDatosPago" class="payOptions">
              <mat-form-field class="col-4" appearance="outline">
                <mat-label>Banco de tarjeta</mat-label>
                <mat-select formControlName="idBanco" *ngIf="nombreAseguradora === 'QUALITAS'" (selectionChange)="gbanco($event)">
                  <mat-option *ngFor="let banco of bancosArrayExterno" [value]="banco.abreviacion" [id]="banco.abreviacion">
                    {{banco.abreviacion}}
                  </mat-option>
                </mat-select>

                <mat-select formControlName="idBanco" *ngIf="nombreAseguradora === 'GNP'" (selectionChange)="gbanco($event)">
                  <mat-option *ngFor="let banco of bancosOnline" [value]="banco.NOMBRE" [id]="banco.NOMBRE">
                    {{banco.NOMBRE}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-4" appearance="outline">
                <mat-label>Carrier</mat-label>
                <mat-select formControlName="idCarrier" (selectionChange)="verificarInputs()">
                  <mat-option *ngFor="let c of carrierArray" [value]="c.id">
                    {{c.carrier}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-4" appearance="outline"  *ngIf="ocultarMsi">
                <mat-label>Meses sin intereses</mat-label>
                <mat-select *ngIf="nombreAseguradora === 'QUALITAS'" (selectionChange)="verificaMesesSinIntereses()" formControlName="mesesSinIntereses">
                  <mat-option *ngFor="let m of msi" [value]="m.nombreMsi">
                    {{m.nombreMsi}}
                  </mat-option>
                </mat-select>

                <mat-select *ngIf="nombreAseguradora === 'GNP'" (selectionChange)="verificaMesesSinIntereses()" formControlName="mesesSinIntereses">
                  <mat-option *ngFor="let m of msiGnp" [value]="m.CLAVE">
                    {{m.VALOR}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>

        </form>
        <!------------------------------------------------------ Switch ------------------------------------------------------->
        <div *ngIf="formPago.controls['idFormaPago'].value !== ''">
          <form *ngIf="formDatosPago !== undefined" [formGroup]="formDatosPago">
            <!--------------------------------------------------- Transferencia --------------------------------------------------->
            <div *ngIf="formPago.controls['idFormaPago'].value === 7; else  elseBlock">
              <div class="row">
                <mat-form-field class="col-6" appearance="outline">
                  <mat-label>Banco</mat-label>
                  <mat-select formControlName="idBanco">
                    <mat-option *ngFor="let banco of bancosArray" [value]="banco.id">
                      {{banco.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-6" appearance="outline">
                  <mat-label>Número de Autorización</mat-label>
                  <input
                    matInput
                    oncopy="return false"
                    formControlName="noAutorizacion"
                    autocomplete="off">
                </mat-form-field>
              </div>
            </div>
            <!-------------------------------------------- Tarjeta de crédito y débito -------------------------------------------->
            <ng-template #elseBlock>
              <div *ngIf="formPago.controls['idFormaPago'].value <= 2">
                <!--                <mat-slide-toggle formControlName="toggleCodigo" (toggleChange)="cambioCT()" class="col-4"> Agregar-->
                <!--                  código </mat-slide-toggle>-->
                <!--                <mat-slide-toggle #mostrarCodigoCheck [checked]="false" (toggleChange)="cambioCT()" class="col-4"> Agregar código </mat-slide-toggle>-->
                <mat-form-field class="col-12 mt-4" appearance="outline" *ngIf="ocultarFormulario">
                  <mat-label>Comentarios</mat-label>
                  <input matInput formControlName="comentarios" onpaste="return true"
                         oncopy="return false" oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <!------------------------------------------ Tarjeta para ingresar los datos ------------------------------------------>
                <div class=" tarjeta col-lg-4 col-md-4 col-sm-6 row" [ngClass]="{
               'credito': formPago.controls['idFormaPago'].value === 1,
               'debito': formPago.controls['idFormaPago'].value === 2}"
                     *ngIf="formPago.controls['idFormaPago'].value <= 2">

                  <div *ngIf="nombreAseguradora === 'GNP'" >

                    <p>* Por favor insertar primero N. de Tarjeta</p>

                  </div>
                  <mat-form-field class="col-12">
                    <mat-icon matPrefix>credit_card</mat-icon>
                    <input [type]="inputType"  matInput formControlName="numeroTarjeta" maxLength="16" minlength="15"
                           onpaste="return true" oncopy="return false" class="placeholder" (keyup)="validarTarjeta()">
                    <mat-placeholder class="colortarjeta">Número de tarjeta *</mat-placeholder>
                    <!-- <mat-icon matSuffix (click)="ocultarInput()" class="pointer" [hidden]="ocultarEye()">remove_red_eye</mat-icon> -->
                    <mat-icon *ngIf="ocultarEyePermanent" matSuffix (click)="ocultarInput()" class="pointer"
                              [hidden]="ocultarEye()">remove_red_eye</mat-icon>

                  </mat-form-field>

                  <mat-form-field class="col-12">
                    <mat-icon matPrefix>person</mat-icon>
                    <input matInput formControlName="titular" oninput="this.value = this.value.toUpperCase()"
                           class="placeholder" onpaste="return true" oncopy="return false"
                           (paste)="$event.preventDefault()">
                    <mat-placeholder class="colortarjeta">Titular *</mat-placeholder>
                  </mat-form-field>

                  <mat-form-field class="col-12">
                    <mat-icon matPrefix>credit_card</mat-icon>
                    <input matInput formControlName="nombreTarjeta" oninput="this.value = this.value.toUpperCase()"
                           class="placeholder" onpaste="return true" oncopy="return false"
                           (paste)="$event.preventDefault()">
                    <mat-placeholder class="colortarjeta">Nombre Tarjeta *</mat-placeholder>
                  </mat-form-field>
                  <div *ngIf="ocultarFormulario">
                    <mat-form-field class="col-12">
                      <mat-icon matPrefix>credit_card</mat-icon>
                      <input matInput formControlName="noClave" maxLength="18"
                             class="placeholder" onpaste="return true" oncopy="return false">
                      <mat-placeholder class="placeholder">no clave bancaria</mat-placeholder>
                    </mat-form-field>
                  </div>

                  <mat-form-field *ngIf="this.formDatosPago.controls['toggleCodigo'].value === true; else elseBlock"
                                  class="col-4">
                    <input matInput formControlName="codigoToken" onpaste="return true" oncopy="return false"
                           minlength="3" maxlength="6" [type]="inputType" class="placeholder">
                    <mat-placeholder class="colortarjeta">Código *</mat-placeholder>
                  </mat-form-field>
                  <ng-template #elseBlock>
                    <mat-form-field class="col-4">
                      <!-- <mat-icon matSuffix (click)="ocultarInput('CCV')" class ="pointer">remove_red_eye</mat-icon> -->
                      <input matInput formControlName="codigo" minLength="3" maxLength="5" onpaste="return true"
                             oncopy="return false" [type]="inputType" class="placeholder">
                      <mat-placeholder class="colortarjeta">CCV *</mat-placeholder>
                    </mat-form-field>
                  </ng-template>

                  <mat-form-field class="col-8">
                    <input matInput type="text" maxLength="5" formControlName="fechaVencimiento" onpaste="return true"
                           oncopy="return false" class="placeholder" (keyup)="fechaTarjeta($event.target.value)" #fechaV>
                    <mat-placeholder class="colortarjeta">Fecha de vencimiento *</mat-placeholder>
                  </mat-form-field>
                </div>
              </div>
            </ng-template>
            <div class="row">
              <mat-form-field class="col-12" *ngIf="formPago.controls['idFormaPago'].value > 2" appearance="outline">
                <input matInput placeholder="Comentarios" formControlName="comentarios" onpaste="return true"
                       oncopy="return false" oninput="this.value = this.value.toUpperCase()">
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="buttonsRow">
    <button
      mat-button
      (click)="enviarpagoOnline()"
      [disabled]="!formDatosPago.valid"
      class="nextButton">Pagar</button>


    <!-- <div class="row">
      <div class="col-10">
        <button [ngClass]="{'btns': '[disabled]'}" mat-raised-button (click)="fileInput.click()"o´{0>
          Guardar comprobante
          <input hidden accept="application/pdf" type="file" onpaste="return true" oncopy="return false" #fileInput
            (change)="almacenarArchivo()" multiple />
        </button>
      </div>
      <div class="relativeLoad">
      <button *ngIf="!btnLoad" [ngClass]="{'btns': !'[disabled]'}" mat-raised-button [disabled]="desactivarBoton()"
          (click)="subirADrive()">
          Guardar
        </button>

     <button mat-raised-button color="primary" mat-button style="margin-left: 10%;" class="btns"
          (click)="fileInput.click()">
          (click)="enviarpagoOnline()"
          Enviar Pago
          <input hidden accept="application/pdf" type="file" onpaste="return true" oncopy="return false" #fileInput
            (change)="enviarpagoOnline()" />
        </button>

       <button mat-raised-button color="primary" mat-button style="float: right;"
               (click)="enviarpagoOnline()" [disabled]="!formDatosPago.valid" class="btns">Enviar Emision</button>

        <input hidden type="file" #fileInput (change)="files(fileInput.files)">

         <button mat-button *ngIf="btnLoad" disabled>Cargando... </button>
        <div *ngIf="btnLoad" class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div> -->
  </div>
</mat-card>
