
.telefono {
    color: tomato;
  }
  input{
    border: none;
    padding: 0px!important;
  }
  mat-form-field {
    width: 100%;
  }
  .contenedor{
    overflow: scroll;
    padding: 15px;
    padding-top: 30px;
  
  }
  mat-card-actions {
    text-align: right;
  }
  mat-card-actions button {
    background-color: #0b1558;
    color: white;
  }
  mat-card-actions button:disabled {
    background-color: transparent;
  }
  .detalles {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .detalles .col {
    width: 33%;
    margin: auto;
  }
  .detalles .col span {
    color: #354089;
    font-weight: 500;
  }
  .detalles .col .box {
    display: block;
    width: 60%;
    justify-self: center;
    margin: 0 auto;
  }
  .title {
    width: 100%;
    text-align: center;
  }
  .title span {
    color: #354089;
    font-weight: bold;
    font-size: 18px;
  }
  hr {
    opacity: 0;
  }
  .cotizacion-btn{
    width: 100%;
    text-align: right;
  }  