<mat-card-title >INSPECCIONES
  <div class="col align-self-center">
    <a style=" color: #000; font-size: 1.1rem;">Todos los datos que tienen un asterisco  (<b
      style="color: red;">*</b>) son requeridos</a>
  </div>
</mat-card-title>

<mat-card-content>
  <div class="col">
    <p>¿La inspección será online?</p>
    <mat-radio-group aria-label="Select an option" (change)="inspeccionOnlie($event)">
      <mat-radio-button #check1 checked value="1" style="margin-right: 20px;">Si</mat-radio-button>
      <mat-radio-button #check2 value="2">No</mat-radio-button>
    </mat-radio-group>
  </div>

  <form [formGroup]="inspeccionesForm" style="margin-left: 1.3%; margin-right: 4.1%;">
    <mat-form-field *ngIf="check1.checked">
      <input formControlName="urlPostventa" matInput placeholder="Introduce la URL *">
    </mat-form-field>

    <div class="col">
      ¿La inspección será en el domicilio del cliente?:
      <mat-radio-group formControlName="respuestaDireccion">
        <mat-radio-button *ngFor="let opcion of opcionesRadioButton" [value]="opcion" style="margin-left: 5%" (change)="disableInspeccionesForm(opcion)">
          {{opcion}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div fxLayoutAlign="space-between">
      <!--        <div class="row justify-content-center">-->
      <div fxFlex="48">

        <mat-form-field>
          <input matInput type="text" formControlName="cp" oninput="this.value = this.value.toUpperCase()" placeholder="CODIGO POSTAL *"
                 (keyup)="validarCp(false)" autocomplete="off" [max]="5" [min]="4"/>
          <mat-hint *ngIf="inspeccionesForm.controls['cp'].errors&&inspeccionesForm.controls['cp'].dirty">
            Se requiere llenar el campo
          </mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>COLONIA *</mat-label><mat-select formControlName="idColonia">
          <mat-option *ngFor="let colonia of coloniasSe" [value]="colonia.idCp">
            {{colonia.asenta}}
          </mat-option>
        </mat-select>

        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="calle" oninput="this.value = this.value.toUpperCase()" placeholder="CALLE *"
                 autocomplete="off"/>

        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="numExt" placeholder="NUMERO EXTERIOR * "
                 oninput="this.value = this.value.toUpperCase()" maxlength="40"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="numInt" placeholder="NUMERO INTERIOR"
                 oninput="this.value = this.value.toUpperCase()" maxlength="40"/>
        </mat-form-field>
      </div>
      <div fxFlex="48" *ngIf="check2.checked">
        <mat-form-field>
          <input matInput type="text" formControlName="placas"   id="placas" placeholder="PLACAS"/>
        </mat-form-field>
        <mat-form-field>
          <input readonly matInput [matDatepicker]="picker"    placeholder="FECHA INSPECCION*" formControlName="fechaInspeccion" id="fechaInspeccion">
          <mat-datepicker-toggle matTooltip="Agregar fecha" matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint *ngIf="!inspeccionesForm.controls['fechaInspeccion'].valid&&inspeccionesForm.controls['fechaInspeccion'].dirty">
            Se requiere llenar el campo
          </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="kilometraje" id="kilometraje" maxlength="10"
                 placeholder="KILOMETRAJE"  onPaste="return false" autocomplete="off" />
          <!--<mat-hint *ngIf="!inspeccionesForm.controls['kilometraje'].valid&&inspeccionesForm.controls['kilometraje'].dirty">
                Se requiere llenar el campo
              </mat-hint>-->
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="comentarios" id="comentarios" placeholder="COMENTARIOS"
                 oninput="this.value = this.value.toUpperCase()"
                 autocomplete="off"/>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-card-content>
<mat-card-actions fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
  <div fxFlex="30">
    <button [ngClass]="{'btns': '[disabled]'}" mat-raised-button (click) = "fileInput.click()">
      Guardar documentos
      <input hidden accept="application/pdf" type="file" #fileInput (change)="almacenarArchivo()"/>
    </button>
  </div>
  <div fxFlex="30" fxLayoutAlign="end">
    <button [ngClass]="{'btns': !'[disabled]'}" mat-raised-button (click)="guardarInspeccion()"
            [disabled]="!(inspeccionesForm.valid &&archivoValido)">
      Guardar Inspeccion
    </button>
  </div>

</mat-card-actions>
