<mat-card-title>
  RECHAZAR JUSTIFICANTE
</mat-card-title>
<div class="campo">
  <span style="color: #e21c51;">Ingrese los motivos por los cuales no se autoriza el justificante</span>
</div>

<div mat-dialog-content>
  <div class="form-group">
    <mat-form-field class="example-form-field">
      <mat-label> COMENTARIOS </mat-label>
      <input matInput type="text" [formControl]="comentarios" oninput="this.value = this.value.toUpperCase()">
      <button *ngIf="comentarios.value" matSuffix mat-icon-button aria-label="Clear" (click)="comentarios.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="comentarios.hasError('required')">Se requiere llenar el campo</mat-error>
    </mat-form-field>

    <button mat-raised-button class="button-modal" (click)="cerrar(false)">Cerrar</button>
    <button mat-raised-button [disabled]="comentarios.invalid" (click)="guardar()">Guardar</button>
  </div>
</div>
