<div class="row">
  <div class="col-sm-6">
    <div mat-dialog-content>
      <p>
        {{speech || speechService.speechDefault}}
      </p>
    </div>
  </div>
  <div class="col-sm-6" *ngIf="data.solicitud">
    <h2>Solicitud: {{data.solicitud.id}}</h2>
    <div>
      <p>Nombre: {{data.solicitud.CotizacionesAli.Cotizacione.ProductoSolicitud.Prospecto.nombre}}</p>
      <p>Correo: {{data.solicitud.CotizacionesAli.Cotizacione.ProductoSolicitud.Prospecto.correo}}</p>
      <p>Número: {{data.solicitud.CotizacionesAli.Cotizacione.ProductoSolicitud.Prospecto.numero}}</p>
      <p> Marca: {{data.solicitud.CotizacionesAli.peticion.marca}}</p>
      <p> Detalle: {{data.solicitud.CotizacionesAli.peticion.descripcion}}</p>
      <p> Modelo: {{data.solicitud.CotizacionesAli.peticion.modelo}}</p>
      <p> Aseguradora: {{data.solicitud.CotizacionesAli.peticion.aseguradora}}</p>
    </div>
  </div>

  <div class="col-sm-6" *ngIf="!data.solicitud">
    <div>
      <app-propspecto-ib (cerrarModal)="matDialogRef.close()"></app-propspecto-ib>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-stroked-button color="primary"
          (click)="generarEmision(data.solicitud.id || data.idSolicitud)"
          *ngIf="data.solicitud">Generar emisión
  </button>
</mat-dialog-actions>
