<h1>INFORMACIÓN IVR</h1>
<ul>
  <li>
    <p>PÓLIZA:</p><p>{{data.poliza}}</p>
  </li>
  <li>
    <p>TITULAR:</p><p>{{data.titular}}</p>
  </li>
  <li>
    <p>NÚMERO DE TARJETA:</p><p>{{data.numeroTarjeta}}</p>
  </li>
  <li>
    <p>FECHA:</p><p>{{data.fecha}}</p>
  </li>
  <li>
    <p>ORIGEN:</p><p>{{data.origen}}</p>
  </li>
  <li>
    <p>MSI:</p><p>{{+data.msi === 1 ? 'CON MSI' : (+data.msi === 2 ? 'SIN MSI' : 'SIN INFORMACIÓN')}}</p>
  </li>
  <li>
    <p>CODIGO DE VERIFICACIÓN:</p><p>{{data.codigoVerificacion}}</p>
  </li>
  <li>
    <p>DISEÑO TARJETA:</p><p>{{data.disenoTarjeta}}</p>
  </li>
  <li>
    <p>TIPO TARJETA:</p><p>{{data.tipoTarjeta}}</p>
  </li>
</ul>
