<div class="container-header">
  <div class="dateWrapper">
    <button class="boton" (click)="solicitarIncapacidad()" mat-raised-button *ngIf="permisos?.JUST?.justificacionesPendientes?.solicitarJustificante"> SOLICITAR</button>
    <p>Fecha: <span>{{fecha | date: 'dd/MM/yyyy'}}</span></p>
    <img src="../../../../assets/images/reload.png" matTooltip="RECARGAR PÁGINA" class="recargar" (click)="getSolicitudes()">
  </div>
</div>

<div class="dash-content">
  <mat-accordion>
    <mat-expansion-panel (opened)="onOpen(solicitud.documento, i)"
                         *ngFor="let solicitud of paginator; let i = index" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-description>
          <span class="negrita">FECHA DE SOLICITUD:</span>{{ solicitud.fechaRegistro | date: 'dd/MMM/YYYY' }}
          <span class="negrita">ESTATUS:</span> <span [ngClass]="{
              'rechazada': solicitud.idEstadoJustificacion === 1,
              'pendiente': solicitud.idEstadoJustificacion === 3,
              'aceptada': solicitud.idEstadoJustificacion === 2 }">
              {{ solicitud.descripcion}} </span>
          <span class="negrita">EMPLEADO:</span> <span class="normal">{{solicitud.idEmpleado}} - {{solicitud.nombre}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div id="columna">
        <p>PERIODO DE AUSENCIA: <span class="normal">{{ solicitud.fechaInicio | date: 'dd/MMM/YYYY' }} - {{solicitud.fechaFin | date: 'dd/MMM/YYYY' }}.</span></p>
        <p>ÁREA: <span class="normal">{{ solicitud.area }}.</span></p>
        <p>DEPARTAMENTO: <span class="normal">{{ solicitud.departamento }}.</span></p>
        <p>MOTIVO: <span class="normal">{{ solicitud.motivo }}.</span></p>
        <p>SUPERVISOR: <span class="normal">{{ solicitud.nombreSolicitante }}.</span></p>
        <p>COMENTARIOS: <span class="normal">{{ solicitud.comentarios }}.</span></p>
        <p *ngIf="solicitud.idEstadoJustificacion !== 3">  EMPLEADO ADP:  <span class="normal">{{ solicitud.nombreAutorizo }} </span></p>
        <p *ngIf="solicitud.idEstadoJustificacion !== 3">  COMENTARIOS RRHH:  <span class="normal">{{ solicitud.comentariosAdp }} </span></p>
      </div>
      <ngx-extended-pdf-viewer *ngIf="data && currentTab === i; else noCargo" height="90vh"
                               [base64Src]="data"
                               [showBorders]="false"
                               [showDownloadButton]="false"
                               [showOpenFileButton]="false"
                               [showPropertiesButton]="false"
                               [contextMenuAllowed]="false"
                               [showSecondaryToolbarButton]="false"
                               [showBookmarkButton]="false"
                               [enablePrint]="false">
      </ngx-extended-pdf-viewer>
      <ng-template #noCargo>
        <mat-spinner></mat-spinner>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[10, 15, 20, 50]"
                 (page)="onPage($event)">
  </mat-paginator>
</div>

