.unactiveIcon{
  background-color: #abaeb38a;
  width: 51px;
  height: 51px;
  border-radius: 50%;

  mat-icon{
    color: #f1f5f8
  }
}

.activeIcon{
  background-color: transparent;
  width: 51px;
  height: 51px;
  border-radius: 50%;

  mat-icon{
    color: #f1f5f8
  }
}


.mat-stepper-horizontal{
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
:host ::ng-deep .mat-horizontal-content-container{
  overflow: hidden !important;
  padding: 0 24px 0 24px !important;
  width: 74% !important;
  height: 95% !important;
}

.showInfo{
  position: absolute;
  top: 30%;
  right: 3%;
  width: 17%;
  height: 54%;
  background-color: white;
  z-index: 10;
  visibility: visible;
  padding: 4px 0 4px 0;
}

.resumeWrapper{
  width: 100%;
  height: 100%;
  padding: 10px 16px 10px 16px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.resume{
  display:flex;
  justify-content: center;
  align-items: center;

  p{
    margin: 4px;
    font-weight: bold;
    font-size: 12px;

  }
}

.discountWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2edfd;
  border: dashed 1px #a07cf1;
  border-radius: 5px;
  height: 90px;
  padding: 5px 12px 5px 12px;
}

.oneRow{
  text-align: center;
  font-size: 13px;
  margin: 4px 0 0 0;
  color: #5e3c7c;
  font-weight: bold;

  mat-icon{
    color: #d34f7e;
    font-size: 13px;
    margin: 0;
    width: auto;
    height: auto;
    transform: translate(-2px, 2px);
  }
}

.columnsWrapper{
  display: flex;
  justify-content: space-between;
  height: 66%;
}

.discountCol{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  p{
    text-align: left;
    margin: 0;
    width: 100%;
    font-size: 12px;

  }
}

.Left p {
  text-align: left;
}

.Right p{
  text-align: right;
}

/*Imagenes de pago seguro */
.payIcons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.cards{
  height: 30px;
  width: auto;
}
.safe{
  height: 28px;
  width: auto;
}

hr{
  width: 100%;
}

.coverage{
  display: flex;
  justify-content: center;
}

/*Tabla del resumen */
table.mat-table{
  width: 100%;
}

.rightCell{
  text-align: right;
}

tr.mat-row{
  height: 25px;
}
td.mat-cell:first-of-type, td.mat-cell:last-of-type{
  padding: 0;
}
td.mat-cell{
  font-weight: normal;
}

/*Iconos del stepper*/

:host ::ng-deep .mat-step-header .mat-step-icon {
  background: linear-gradient(
      114deg, #df1d52 -25%, #364088 61%);
  height: 50px;
  width: 50px;
  font-size: 30px;

  .mat-icon{
    font-size: 34px;
    width: auto;
    height: auto;
  }
}

//////////////////////RESPONSIVE WIDTH///////////////
@media only screen and(max-width: 1920px){
  .showInfo{
    right: 70px;
    width: 350px;
  }
}
@media only screen and(max-width: 1600px){
  .showInfo{
    width: 300px;
    right: 50px;
  }
}
@media only screen and(max-width: 1024px){
  .showInfo{
    width: 20%;
  }
}

////////////////RESPONSIVE HEIGHT/////////////////////////
@media only screen and(max-height: 1080px) {
  .showInfo{
    top: 180px;
    height: 590px;
  }

  table{
    font-size: 12px;

    td{
      padding: 3px;
    }

    tr{
      border-top: 2px solid #dee2e6;
    }
  }


  hr{
    width: 100%;
  }

  .coverage{
    font-size: 14px;
  }
}
@media only screen and(max-height: 900px){
  .showInfo{
    top: 102px;
    height: 503px;
  }

  table{
    font-size: 12px;
    tr{
      border-top: 1px solid #dee2e6;
    }
  }
  .resumeWrapper{
    padding: 8px 14px 0 14px;
  }
}

@media only screen and(max-height: 768px){
  .showInfo{
    top: 92px;
    height: 375px;
    right: 0px;
    width: 260px;
  }
  table tr{
    border-top: 1px solid #dee2e6;
  }
  tr.mat-row{
    height: 20px;
  }
  .resumeWrapper{
    padding: 2px 14px 2px 14px;
  }

  hr{
    margin: 8px 0 0 0;
  }

  .coverage{
    font-size: 12px;
    p{
      margin: 8px;
    }
  }
  td.mat-cell{
    font-size: 10px;
  }
  .unactiveIcon, .activeIcon{
    width: 45px;
    height: 45px;
  }
}
