<mat-card >
  <mat-card-title >REGISTRO PÓLIZA
    <div fxLayoutAlign="center">
      <a style=" color: #000; font-size: 1.1rem;">Todos los datos que tienen un asterisco  (<b
        style="color: red;">*</b>) son requeridos</a>
    </div>
  </mat-card-title>
  <mat-card-content>
    <span>
      {{instrucciones}}
    </span>
    <form [formGroup]="registroForm">
      <div fxLayout="row"
            fxLayoutAlign="space-between">

        <div fxLayout="column"
              fxFlex="45">
          <mat-form-field>
            <mat-label>TIPO PAGO *</mat-label>
            <mat-select formControlName="idTipoPago">
              <mat-option *ngFor="let tipoPago of tipoPagos" (click)="tipoPago.id === 4 ? getPeriodicidadFilter() : getPeriodicidad()" [value]="tipoPago.id" id="idTipoPago">
                {{tipoPago.tipoPago}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!registroForm.controls['idTipoPago'].valid&&registroForm.controls['idTipoPago'].dirty">
              Se requiere llenar el campo
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>SOCIO *</mat-label>
            <mat-select formControlName="idSocio">
              <mat-option *ngFor="let socio of socios" [value]="socio.id" id="idSocio" (click)="getRamo(socio.id)">
                {{socio.nombreComercial}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="!registroForm.controls['idSocio'].valid&&registroForm.controls['idSocio'].dirty">
              Se requiere llenar el campo
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="registroForm.controls['idSocio'].value !== ''">
            <mat-label>RAMO *</mat-label>
            <mat-select formControlName="idRamo">
              <mat-option *ngFor="let ramo of ramos" [value]="ramo.id" id="idRamo" (click)="getSubRamo(ramo.id)">
                {{ramo.tipoRamo}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="!registroForm.controls['idRamo'].valid&&registroForm.controls['idRamo'].dirty">
              Se requiere llenar el campo
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="registroForm.controls['idRamo'].value !== ''">
            <mat-label>SUBRAMO *</mat-label>
            <mat-select formControlName="idSubRamo">
              <mat-option *ngFor="let subRamo of subRamos" [value]="subRamo.id" id="idSubRamo"
                          (click)="getProductoSocio(subRamo.id)">
                {{subRamo.tipoSubRamo}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="!registroForm.controls['idSubRamo'].valid&&registroForm.controls['idSubRamo'].dirty">
              Se requiere llenar el campo
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="registroForm.controls['idSubRamo'].value !== ''">
            <mat-label>PRODUCTO SOCIO *</mat-label>
            <mat-select formControlName="idProductoSocio">
              <mat-option *ngFor="let pSocio of productosSocio" [value]="pSocio.id" id="idProductoSocio">
                {{pSocio.tipoProducto}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="!registroForm.controls['idProductoSocio'].valid&&registroForm.controls['idProductoSocio'].dirty">
              Se requiere llenar el campo
            </mat-error>
          </mat-form-field>

        </div>

        <div fxLayout="column"
             fxFlex="45">
          <mat-form-field>
            <input readonly matInput [matDatepicker]="picker" placeholder="INICIO DE VIGENCIA *" id="fechaInicio"
                   formControlName="fechaInicio" autocomplete="false">
            <mat-datepicker-toggle matTooltip="Agregar fecha" matSuffix [for]="picker" matTooltip="Agregar fecha"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="!registroForm.controls['fechaInicio'].valid&&registroForm.controls['fechaInicio'].dirty">
              Se requiere llenar el campo
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>VIGENCIA DE PÓLIZA *</mat-label>
            <mat-select formControlName="idPeriodicidad">
              <mat-option *ngFor="let periodo of periodicidad" [value]="periodo.id" id="periodo">
                {{periodo.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!registroForm.controls['idPeriodicidad'].valid&&registroForm.controls['idPeriodicidad'].dirty">
              Se requiere llenar el campo
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" formControlName="oficina" id="oficina"
                   oninput="this.value = this.value.toUpperCase()" placeholder="OFICINA"
                     autocomplete="off"/>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" formControlName="poliza" id="poliza"
                   oninput="this.value = this.value.toUpperCase()" placeholder="POLIZA *"
                     autocomplete="off"/>
            <mat-error *ngIf="registroForm.controls['poliza'].hasError('required')">
              Se requiere llenar el campo
            </mat-error>
            <mat-error *ngIf="registroForm.controls['poliza'].hasError('pattern')">
              La nomenclatura correcta para una poliza de {{socio.nombreComercial}} es: {{socio.ejemploExpresionRegular}}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" formControlName="primaNeta" id="primaNeta" maxlength="10"
                   placeholder="PRIMA NETA GENERAL *"   autocomplete="off"/>
            <mat-error *ngIf="!registroForm.controls['primaNeta'].valid&&registroForm.controls['primaNeta'].dirty">
              Se requiere llenar el campo
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" formControlName="primerPago" id="primerPago"
                   placeholder="PRIMA NETA DEL PRIMER PAGO *"   autocomplete="off"/>
            <mat-error *ngIf="!registroForm.controls['primerPago'].valid&&registroForm.controls['primerPago'].dirty">
              Se requiere llenar el campo
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="numeroPagos > 1">
            <input matInput type="text" formControlName="pagoMensual" id="mensualidades"
                   placeholder="PRIMA NETA DE LAS MENSUALIDADES *"  autocomplete="off"/>
            <mat-error *ngIf="registroForm.controls.pagoMensual.hasError('required'); else pattern">
              Se requiere llenar el campo
            </mat-error>
            <ng-template #pattern>
              <mat-error *ngIf="registroForm.controls.pagoMensual.hasError('pattern'); else incorrect">
                Solo se aceptan números, un punto y 2 decimales
              </mat-error>
            </ng-template>

            <ng-template #incorrect>
              <mat-error *ngIf="registroForm.controls.pagoMensual.hasError('incorrect');">
                El pago de las mensualidades debe ser menor al primer pago
              </mat-error>
            </ng-template>

          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions fxLayoutAlign="end"
                    fxLayoutGap="15px">

    <button [disabled]="seRegistroArchivo" mat-raised-button [ngClass]="{'btns': !'[disabled]'}" (click) = "fileInput.click()"  >
      Guardar Poliza
      <input hidden accept="application/pdf" type="file" #fileInput (change)="almacenarArchivo()"/>
    </button>

    <button mat-raised-button
            [disabled]="registroForm.invalid || !archivoValido" *ngIf="this.idRegistroPoliza === 0" [ngClass]="{'btns': !'[disabled]'}" (click)="crearRegistroEnUno()">
      Registrar
    </button>
  </mat-card-actions>
</mat-card>
  