<ng-template #nocargo>
  <mat-spinner ></mat-spinner>
</ng-template>

<div *ngIf="recibo; else nocargo">
  <div class="campo" *ngIf="!esStep">
    <div class="regresar" (click)="cerrar()">
      <mat-icon>keyboard_arrow_left</mat-icon>
      <span>REGRESAR</span>
    </div>
  </div>
  <mat-card >

    <mat-card-title>RECIBO
    </mat-card-title>
    <mat-card-content>
      <div class="contenedor">
        <div fxLayout="column">
          <div>
            <p><span>NUMERO DE RECIBO:</span> <span style="color: black">{{recibo.numero}}</span> </p>
          </div>
          <div>
            <p><span>CANTIDAD A PAGAR:</span> <span style="color: black">{{recibo.cantidad}}</span></p>
          </div>
          <div>
            <p><span>FECHA VIGENCIA:</span> <span style="color: black">{{recibo.fechaVigencia | date: 'dd/MM/ yy'}}</span></p>
          </div>
        </div>
        <div fxLayout="column">
          <div>
            <p><span>ESTADO:</span> <span style="color: black">{{recibo.estado}}</span></p>
          </div>
          <div>
            <p><span>NÚMERO PÓLIZA:</span> <span style="color: black">{{recibo.poliza}}</span></p>
          </div>
          <div *ngIf="recibo.idPago">
            <p>
              <span>EMPLEADO: </span>
              {{recibo.apellidoPaternoEmpleadoPago + ' ' + recibo.apellidoMaternoEmpleadoPago + ' ' + recibo.nombreEmpleadoPago}}
            </p>
          </div>
          <div>
            <p *ngIf="recibo.fechaLiquidacion" ><span>FECHA LIQUIDACION:</span> {{recibo.fechaLiquidacion}}</p>
          </div>
        </div>
      </div>
      <div class="solid" *ngIf="recibo.idPago">
        <div class="texto">PAGADO</div>
        <div class="date">{{recibo.fechaPago | date : 'dd/MM/ yy'}}</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="botones">
  <i class="material-icons hola" color="#df1d52;" matTooltip="Anterior"><button style="background-color: transparent; border: none; box-shadow: none;" (click)="regresar()" *ngIf="conjuntoRecibos?.length > 1" [disabled]=" count === 0" [ngClass]="{'allowed': count === 0}">arrow_left</button></i>
  <i class="material-icons hola2" color="#df1d52;" matTooltip="Siguiente"><button style="background-color: transparent; border: none; box-shadow: none;" (click)="siguiente()" *ngIf="conjuntoRecibos?.length > 1" [disabled]="count === conjuntoRecibos?.length -1" [ngClass]="{'allowed': count === conjuntoRecibos?.length -1}">arrow_right</button></i>
  <!--      !conjuntoRecibos.length === 1 ||-->
</div>
<div class="action">
  <button mat-raised-button  color="primary" mat-button style = "margin-left: 10%;" class="btns"
          *ngIf="recibo && recibo.numero === 1 && !recibo.idPago" (click)="pagarAhoraDespues()">
    PAGAR
  </button>
</div>
