.hola {
  font-size: 3rem;
  color: #364088;
  transition: all ease 0.5s;
  margin-left: 45%;
  overflow: hidden;
}

.hola2 {
  font-size: 3rem;
  color: #364088;
  transition: all ease 0.5s;
  margin-right: 45%;
  overflow: hidden;
}

.hola:hover {
  color: #df1d52;
}

.contenedor {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 3%;
}

mat-card {
  margin: auto;
  margin-top: 7%;
  width: 80%;
  height: 300px;
}

.card {
  width: 100%;
  margin: auto;
  margin-top: 0%;
  height: 70vh;
}

.button {
  color: #fff;
}

.box1 {
  width: 100%;
  height: 300px;
  background: #1A5276;
}

.box2 {
  width: 100%;
  height: 300px;
  background: #1A5276;
}

.box3 {
  width: 100%;
  height: 300px;
  background: #1A5276;
}

ngb-carousel {
  border: #fff none !important;
  margin: auto;
  //background: #1A5276;
  width: 80%;
}

.action {
  margin-top: 5%;
  width: 100%;
  padding-left: 10%;
  text-align: right;
}

.botones {
  margin-top: 2%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #364088;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  outline: none;
}

.btns {
  transition: ease .5s;
}

.btns:hover {
  color: #fff;
  background: #df1d52;
  background: linear-gradient(to right, #df1d52, #364088);
}

.material-icons {
  transition: ease-in-out .5s;
  color: #364088;
}

.material-icons:hover {
  color: #df1d52;
}
.allowed {
  cursor: not-allowed;
}
ngb-carousel.carousel.slide:focus {outline:none;}
