.mat-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  height: 100%;
  margin-top: 3%;
  width: 100%;
  border-radius: 4px;
  justify-content: space-between;
}

.generalWrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 92%;
  height: fit-content;
}

.header{
  width: 95%;
  height: 65px;
  border-bottom: #80808030 solid 2px;
}

.stepTitle{
  margin-left: 5px;
  text-align: start;
  font-size: 26px;
  color: #354089;
}

.cardContent{
  font-size: 14px;
  display: inline-flex;
  width: 94%;
  align-items: center;
  justify-content: space-between;
  height: 62%;
}

input:focus {
  outline: none !important;
  border: none !important;
}

#title {
  margin-bottom: 5% !important;
}

mat-card-actions {
  position: absolute;
  top: 425px;
  left: 680px;
}

mat-datepicker-toggle {
  font-size: 1.5rem;
  background-color: transparent;
  color: #000000;
  transition: all ease 0.4s;
}

mat-datepicker-toggle:hover {
  color: #0082ff;
}

.btns {
  transition: ease .5s;
}

.btns:hover {
  color: #fff;
  background: #df1d52;
  background: linear-gradient(to right, #df1d52, #364088);
}
// Icono de espera en formulario
.laodingData {
  color: tomato;
  animation: reload 1s linear infinite;
  z-index: 10;
  position: absolute;
  right: -22px;
  top: 15px;
}
.relativeLoad {
  position: relative;
}

.buttonsRow{
  width: 92%;
  display: inline-grid;
  grid-auto-flow: column;
}


.nextButton{
  background-color: #5bb34b !important;
  color: white;
  justify-self: end;
}

.nextButton:hover{
  background-color: #41a330 !important;
}

@media only screen and (max-width: 1920px){
  .buttonsRow{
    padding: 0 52px 0 0;
    margin-bottom: 50px !important;
  }

  .nextButton{
    height: 40px;
    font-size: 20px;
    width: 282px;
  }

}
@media only screen and (max-height: 1080px){
  .mat-card{
    height: 590px;
  }
}

@media only screen and (max-height: 900px){
  .mat-card{
    height: 503px;
  }
}
@media only screen and (max-height: 768px){
  .mat-card{
    height: 375px;
  }
  .mat-card{
    height: 375px;
  }
  .header{
    height: 30px;
  }
  .stepTitle{
    font-size: 22px;
  }
  .nextButton{
    height: 34px;
    font-size: 14px;
    width: 210px;
  }
  .buttonsRow{
    padding: 0 32px 0 0;
    margin-bottom: 18px !important;
  }
}
