<mat-card-title> Dar de Baja Recibos</mat-card-title>

<mat-dialog-content>
  <form [formGroup]="recibosForm" fxLayout="column">
    <mat-form-field>
      <input readonly matInput [matDatepicker]="picker" placeholder="INICIO DE VIGENCIA *" id="fechaInicio"
             formControlName="fechaInicio" autocomplete="false">
      <mat-datepicker-toggle matTooltip="Agregar fecha" matSuffix [for]="picker" matTooltip="Agregar fecha"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="!recibosForm.controls['fechaInicio'].valid&&recibosForm.controls['fechaInicio'].dirty">
        Se requiere llenar el campo
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>VIGENCIA DE PÓLIZA *</mat-label>
      <mat-select formControlName="idPeriodicidad">
        <mat-option *ngFor="let periodo of periodicidad" [value]="periodo.id" id="periodo">
          {{periodo.nombre}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!recibosForm.controls['idPeriodicidad'].valid&&recibosForm.controls['idPeriodicidad'].dirty">
        Se requiere llenar el campo
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>TIPO PAGO *</mat-label>
      <mat-select formControlName="idTipoPago">
        <mat-option *ngFor="let tipoPago of tipoPagos" (click)="tipoPago.id === 4 ? getPeriodicidadFilter() : getPeriodicidad()" [value]="tipoPago.id" id="idTipoPago">
          {{tipoPago.tipoPago}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!recibosForm.controls['idTipoPago'].valid&&recibosForm.controls['idTipoPago'].dirty">
        Se requiere llenar el campo
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="primerPago" id="primerPago"
             placeholder="PRIMA NETA DEL PRIMER PAGO *"   autocomplete="off"/>
      <mat-error *ngIf="!recibosForm.controls['primerPago'].valid&&recibosForm.controls['primerPago'].dirty">
        Se requiere llenar el campo
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="numeroPagos > 1">
      <input matInput type="text" formControlName="pagoMensual" id="mensualidades"
             placeholder="PRIMA NETA DE LAS MENSUALIDADES *"  autocomplete="off"/>
      <mat-error *ngIf="recibosForm.controls.pagoMensual.hasError('required'); else pattern">
        Se requiere llenar el campo
      </mat-error>
      <ng-template #pattern>
        <mat-error *ngIf="recibosForm.controls.pagoMensual.hasError('pattern'); else incorrect">
          Solo se aceptan números, un punto y 2 decimales
        </mat-error>
      </ng-template>

      <ng-template #incorrect>
        <mat-error *ngIf="recibosForm.controls.pagoMensual.hasError('incorrect');">
          El pago de las mensualidades debe ser menor al primer pago
        </mat-error>
      </ng-template>

    </mat-form-field>

  </form>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-raised-button [disabled]="recibosForm.invalid" (click)="bajarRecibo()">
    Registrar
  </button>
  <button mat-raised-button (click)="dismiss()">
    Cancelar
  </button>
</mat-dialog-actions>




