<mat-card *ngIf="permisos?.COB?.autoErrores">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <button mat-icon-button
            matTooltip="NOMECLATURA DE LOS COLORES"
            (click)="openHelpModal()">
      <mat-icon>help_outline</mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="RECARGAR PÁGINA"
            (click)="getRegistrosEnProceso(true)">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <mat-card-title style="text-align: center; color: #354089" >
    REGISTROS {{titulo}} DE AUTORIZACIÓN
  </mat-card-title>

  <div fxLayout="row" fxLayoutAlign="space-between" >
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label" fxFlex="30">inicio</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="picker" disabled [(ngModel)]="rangeDates[0]" [value]="rangeDates[0]" [max]="max" matTooltip="Agregar fecha inicio">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label"  fxFlex="30">fin</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label >Fecha final</mat-label>
        <input matInput [matDatepicker]="picker2" disabled [(ngModel)]="rangeDates[1]" [value]="rangeDates[1]" matTooltip="Agregar fecha final">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

    <div *ngIf="permisos?.COB?.autoErrores?.fechas" fxLayoutAlign="end center" fxLayoutGap="10px" fxFlex="60">
      <button mat-raised-button fxFlex="50" (click)="getRegistrosEnProceso(true)">DESPLEGAR FECHAS</button>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="end" style="margin-bottom: 14px;" >

    <div fxLayoutAlign="space-between center" fxLayoutGap="100px" fxFlex="100">
      <mat-form-field class="example-form-field" appearance="legacy" fxFlex="60">
        <mat-label>Filtrar</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event)">
        <button matSuffix mat-icon-button aria-label="Clear" >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

    </div>
  </div>

  <mat-card-content>
    <div>
      <table mat-table [dataSource]="autorizacionesEnProceso" matSort *ngIf="autorizacionesEnProceso || errorSpin; else spin"
      (matSortChange)="announceSortChange($event)" class="example-container mat-elevation-z8 ">
        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            NÚMERO DE INTENTOS
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.numero}} </td>
        </ng-container>

        <ng-container matColumnDef="poliza">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            PÓLIZA
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.poliza}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            EMPLEADO
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.nombre}}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombreCliente">
          <th mat-header-cell *matHeaderCellDef
              mat-sort-header>
            CLIENTE
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreCliente}}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaCreacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            FECHA DE CREACIÓN
            </th>
          <td mat-cell *matCellDef="let element">
            {{element.fechaCreacion | date: 'dd/MM/yy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaPago">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            FECHA DE PAGO
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.fechaPago | date: 'dd/MM/yy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombreComercial">
          <th mat-header-cell *matHeaderCellDef >SOCIO</th>
          <td mat-cell *matCellDef="let element" >
            {{element.nombreComercial}}
          </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef >
            DEPARTAMENTO
          </th>
          <td mat-cell *matCellDef="let element" >
            {{element.descripcion}}
          </td>
        </ng-container>
        <ng-container matColumnDef="horasTranscurridas">
          <th mat-header-cell *matHeaderCellDef >
            HORAS RESTANTES
          </th>
          <td mat-cell *matCellDef="let element" >
            <span *ngIf="diferenciaDeHoras(element.fechaCreacion) >= 0; else mensajeIncumplimiento">
              {{diferenciaDeHoras(element.fechaCreacion)}}
            </span>
            <ng-template #mensajeIncumplimiento>
              Revisión extemporanea
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">
            <span >ACCIONES</span>
          </th>
          <td  mat-cell *matCellDef="let element">

            <ng-template #iconos>
              <mat-icon *ngIf="permisos?.COB?.autoErrores?.autoDocs && estadoVerificacion === 1; else enProceso" (click)="documentosPendientes(element)"
                        matTooltip="Autorizar documentos"
                        matTooltipPosition="left">
                pageview
              </mat-icon>

              <ng-template #enProceso>
                <!--Icono de documentos del cliente-->
                <mat-icon *ngIf="permisos?.COB?.autoErrores?.autoCliente"
                  (click)="element.verificadoCliente === 1 || element.verificadoCliente === 3 ?
                  mostrarDocumentos(element, 1) : null"
                  [ngClass]="{'documento-espera': element.verificadoCliente === 1 ||element.verificadoCliente === 3,
                  'documento-en-proceso': element.verificadoCliente === 2 || element.verificadoCliente === 5,
                  'documento-verificado': element.verificadoCliente === 4}"
                  [matTooltip]="leyendasToolTip[element.verificadoCliente - 1]"
                  matTooltipPosition="right">
                  person
                </mat-icon>

                <!--Icono de documentos de producto cliente-->
                <mat-icon *ngIf="permisos?.COB?.autoErrores?.autoProducto"
                  (click)="element.verificadoProducto === 1 || element.verificadoProducto === 3 ?
                  mostrarDocumentos(element, 3) : null"
                  [ngClass]="{'documento-espera': element.verificadoProducto === 1 ||element.verificadoProducto === 3,
                  'documento-en-proceso': element.verificadoProducto === 2 || element.verificadoProducto === 5,
                  'documento-verificado': element.verificadoProducto === 4}"
                  [matTooltip]="leyendasToolTip[element.verificadoProducto - 1]"
                  matTooltipPosition="right">
                  directions_car
                </mat-icon>

                <!--Icono de documentos de registro-->
                <mat-icon *ngIf="permisos?.COB?.autoErrores?.autoRegistro"
                  (click)="element.verificadoRegistro === 1 || element.verificadoRegistro === 3 ?
                  mostrarDocumentos(element, 2) : null"
                  [ngClass]="{'documento-espera': element.verificadoRegistro === 1 ||element.verificadoRegistro === 3,
                  'documento-en-proceso': element.verificadoRegistro === 2 || element.verificadoRegistro === 5,
                  'documento-verificado': element.verificadoRegistro === 4}"
                  [matTooltip]="leyendasToolTip[element.verificadoRegistro - 1]"
                  matTooltipPosition="right">
                  insert_drive_file
                </mat-icon>

                <!--Icono de documentos de pago-->
                <mat-icon *ngIf="permisos?.COB?.autoErrores?.autoPago"
                  (click)="element.verificadoPago === 1 || element.verificadoPago === 3 ?
                  mostrarDocumentos(element, 4) : null"
                  [ngClass]="{'documento-espera': element.verificadoPago === 1 ||element.verificadoPago === 3,
                  'documento-en-proceso': element.verificadoPago === 2 || element.verificadoPago === 5,
                  'documento-verificado': element.verificadoPago === 4}"
                  [matTooltip]="leyendasToolTip[element.verificadoPago - 1]"
                  matTooltipPosition="right">
                  attach_money
                </mat-icon>

              </ng-template>
            </ng-template>

            <!--Nuevo Icono que va a enviar a verificaciones-->
            <mat-icon (click)="enviarVerificacion(element)"
                      *ngIf="permisos?.COB?.autoErrores?.enviarMesa && element.verificadoCliente === 4
                             && element.verificadoPago === 4
                             && element.verificadoRegistro === 4
                             && element.verificadoProducto === 4;
                             else iconos"
                      matTooltipPosition="right"
                      matTooltip="Enviar a mesa de control">
              check_circle
            </mat-icon>


          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngStyle]="{'background-color': diferenciaDeHoras(row.fechaCreacion) <= 0? '#ffdbe2': '#d7ffcf'}"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
      <ng-template #spin >
        <mat-spinner  ></mat-spinner>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>

