.mat-card{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 100%;
  margin-top: 3%;
  width: 100%;
  border-radius: 4px;
}
.generalWrapper{
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 92%;
  max-height: 500px;
}

.header{
  width: 92%;
  height: 45px;
  border-bottom: #80808030 solid 2px;
}

.stepTitle{
  text-align: start;
  font-size: 26px;
  color: #354089;
}
.cardContent{
  margin-top: 20px;
}
.payForm{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;

  .mat-form-field{
    width: 22%;
  }
}
.payOptions{
  display: inline-flex;
  width: 76%;
  .mat-form-field{
    width: 20%;
  }
}
.mat-card-title{
  display: block;
  margin-bottom: 16px;
  text-align: left;
  width: 92%;
}

.archivo {
  background-color: #4caf50;
  color: #fff;
}

.tarjeta {
  -webkit-box-shadow: 5px 5px 5px #000;
  box-shadow: 0px 12px 21px #777;
  border-radius: 20px;
  margin: 15px auto;
  padding: 10px;
  max-width: 400px;
  width: 100%;
}

.debito {
  background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
}

.credito {
  background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
}

.tarjeta-creditoA input, .tarjeta-creditoB input,
.tarjeta-debito input {
  color: #fff;
  font-weight: 400 !important;
}

button {
  color: #fff;
}

input {
  padding: 3px 0 !important;
}

mat-icon {
  margin-right: 5px;
  color: #fff;
}
.colortarjeta{
  color: #fff;
}
.mat-focused .colortarjeta {
  color: #fff;
  opacity: 0.75;
}
.placeholder {
  font-weight: 400;
}

.mat-focused .placeholder {
  color: #fff;
  opacity: 0.75;
}

.switch {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

mat-card-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px !important;
}

mat-datepicker-toggle {
  font-size: 1.5rem;
  background-color: transparent;
  color: #000000;
  transition: all ease 0.4s;
}

mat-datepicker-toggle:hover {
  color: #0082ff;
}

.btns {
  transition: ease .5s;
}

.emitWrapper{
  text-align: center;
  border: dashed 1px red;
  background-color: #ff2a0024;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 114px;

  p{
    margin: 0;
  }
}

.btns:hover {
  color: #fff;
  background: #df1d52;
  background: linear-gradient(to right, #df1d52, #364088);
}

.buttonsRow{
  width: 92%;
  display: inline-grid;
  grid-auto-flow: column;
}

.nextButton{
  background-color: #5bb34b !important;
  color: white;
  justify-self: end;
}

.nextButton:disabled{
  background-color: #b9b9bda6 !important;
  font-weight: normal;
  color: #a6a8b3;
}

.nextButton:not(:disabled):hover{
  background-color: #41a330 !important;
}

.emitButton{
  background-color: #b3ae4b !important;
}

.emitButton:hover{
  background-color: #cfc843  !important;
}
// Icono de espera en formulario
.laodingData {
  color: tomato;
  animation: reload 1s linear infinite;
  z-index: 10;
  position: absolute;
  right: -22px;
  top: 15px;
}
.relativeLoad {
  position: relative;
}

@media only screen and (max-width: 1920px){
  .buttonsRow{
    padding: 0 52px 0 0;
    margin-bottom: 50px !important;
  }
  .nextButton{
    height: 40px;
    font-size: 20px;
    width: 240px;
  }

}

@media only screen and (max-height: 1080px){
  .mat-card{
    height: 590px;
  }
}

@media only screen and (max-height: 900px){
  .generalWrapper{
    margin-top: 0;
  }
  .mat-card{
    height: 550px;
  }
  .header{
    height: 38px;
  }
  .stepTitle{
    font-size: 24px;
  }
  .buttonsRow{
    padding: 0 50px 0 0;
    margin-bottom: 20px !important;
  }
  .nextButton{
    height: 36px;
    font-size: 16px;
    width: 220px;
  }
  .tarjeta{
    font-size: 12px;
    margin: 0 auto;
  }
}
@media only screen and (max-height: 768px){
  .mat-card{
    height: 425px;
  }
  .generalWrapper{
    overflow: auto;
    margin-bottom: 14px;
  }
  .payForm, .tarjeta{
    font-size: 12px;
  }
  .header{
    height: 30px;
  }
  .stepTitle{
    font-size: 22px;
  }
  .cardContent{
    height: fit-content;
  }
  .buttonsRow{
    padding: 0 38px 0 4px;
    margin-bottom: 14px !important;
  }
  .nextButton{
    height: 34px;
    font-size: 14px;
    width: 140px;
  }
}

