@keyframes slideEnphasis{
  7%{
    color: #5bb34b;
    transform: scale(1.2) translate(0, -6px);
  }
  14%{
    transform:  scale(1) translate(-10px, -6px) ;
    color: lightgrey;
  }
  21%{
    color: #5bb34b;
    transform: scale(1.2) translate(0, -6px);
  }
  28%{
    transform: translate(-10px, -6px) scale(1);
    color: lightgrey;
  }
}

.mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  height: 100%;
  margin-top: 3%;
  width: 100%;
  border-radius: 4px;
  justify-content: space-between;
}

.generalWrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 92%;
  height: fit-content;
}

.arrowNext{
  transform: translate(-10px, -6px);
  animation-duration: 7s;
  animation-name: slideEnphasis;
  animation-iteration-count: infinite;
  animation-delay: 5s;
}

.header{
  width: 95%;
  height: 45px;
  border-bottom: #80808030 solid 2px;
}

.buttonsRow{
  width: 92%;
  display: inline-grid;
  grid-auto-flow: column;
}

.advice{
  width: 93%;
  margin-top: 10px;
  margin-bottom: 10px;

  p{
    margin: 0;
    color: gray;
    vertical-align: text-top;

    b{
      color: #62367a;
      font-size: 17px;
    }
  }
}

.cardContent{
  font-size: 14px;
  display: inline-flex;
  width: 94%;
  align-items: center;
  justify-content: space-between;
  height: 62%;
}


.stepTitle{
  margin-left: 5px;
  text-align: start;
  font-size: 26px;
  color: #354089;
}

// mat-label {
//   color: #354089!important;
//   font-size: 15px!important;
// }

.mat-tab-header {
  margin-bottom: 4% !important;
}
.buttonSelectForm{
  width: fit-content;
  height: fit-content;
  cursor: pointer;

  mat-icon{
    font-size: 45px;
    color: lightgrey;
  }
}
.form-control:focus {
  border: none;
}

.formWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 93%;
  height: 92%;
}

.formCol{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  width: 47%;
}

.rowDivider{
  display: flex;
  justify-content: space-between;
  width: 100%;

  mat-form-field {
    width: 47.5%;
  }
}

.row3Divider{
  display: flex;
  justify-content: space-between;
  width: 100%;

  .numAdress{
    width: 20%;
  }

  .email{
    width: 55%;
  }
}

mat-form-field {
  width: 100%;
}


.mat-card-header {
  text-align: center;
  display: block;
}

.mat-hint {
  transition: all 0.5s;
}

.modButton {
  background-color: #354089;
  color: white;
  justify-self: start;
}

.nextButton{
  background-color: #5bb34b !important;
  color: white;
  justify-self: end;
}

.nextButton:disabled{
  background-color: #b9b9bda6 !important;
  font-weight: normal;
  color: #a6a8b3;
}

mat-datepicker-toggle {
  font-size: 1rem;
  background-color: transparent;
  color: #354089;
  transition: all ease 0.4s;
}

mat-datepicker-toggle:hover {
  color: #0082ff;
}

mat-datepicker-toggle.mat-datepicker-toggle button.mat-icon-button:focus {
  outline: none !important;
}

@media only screen and (max-width: 1920px){
  .buttonsRow{
    padding: 0 52px 0 0;
    margin-bottom: 50px !important;
  }

  .nextButton{
    height: 40px;
    font-size: 20px;
    width: 240px;
  }

  .modButton{
    height: 40px;
    font-size: 18px;
    width: 220px;
  }
}

////////////////////RESPONSIVE HEIGHT////////////////////////////
@media only screen and (max-height: 1080px){
  .mat-card{
    height: 590px;
  }
  .cardContent {
    height: 334px;
  }
  .buttonsRow{
    padding: 0 50px 0 0;
    margin-bottom: 36px !important;
  }
}

@media only screen and (max-height: 900px){
  .mat-card{
    height: 503px;
  }
  .header{
    height: 38px;
  }
  .stepTitle{
    font-size: 24px;
  }
  .cardContent {
    height: 290px;
  }
  .buttonsRow{
    padding: 0 50px 0 0;
    margin-bottom: 46px !important;
  }
  .nextButton{
    height: 36px;
    font-size: 16px;
    width: 220px;
  }
  .modButton{
    height: 36px;
    font-size: 16px;
    width: 172px;
  }
}
@media only screen and (max-height: 768px){
  .mat-card{
    height: 375px;
  }
  .header{
    height: 30px;
  }
  .stepTitle{
    font-size: 22px;
  }
  .cardContent{
    height: fit-content;
  }
  .formCol{
    font-size: 12px;
  }
  .formWrapper{
    height: 204px;
  }
  .advice{
    margin-top: 5px;
    margin-bottom: 14px;
    font-size: 12px;
  }
  .buttonsRow{
    padding: 0 38px 0 4px;
    margin-bottom: 16px !important;
  }
  .nextButton{
    height: 34px;
    font-size: 14px;
    width: 140px;
  }
  .modButton {
    height: 34px;
    font-size: 13px;
    width: 134px;
  }
}
