<mat-card class="header">
  <p>Administrador de Ultimos Movimientos</p>
  <div></div>
</mat-card>
<mat-tab-group (selectedTabChange)="tabClick($event)" mat-align-tabs="center">
  <mat-tab label="Pendientes" *ngIf="permisos?.ultimosMovPendientes">
    <mat-card class="contentCard">
      <app-ultimos-movimientos [Estado]="0"></app-ultimos-movimientos>
    </mat-card>
  </mat-tab>
  <mat-tab label="Completadas" *ngIf="permisos?.ultimosMovCompletos">
    <mat-card class="contentCard">
      <app-ultimos-movimientos [Estado]="1"></app-ultimos-movimientos>
    </mat-card>
  </mat-tab>
</mat-tab-group>

