<script src="../componentes-step-online/registro-poliza-online-new/registro-poliza-online-new.component.ts"></script>
<mat-horizontal-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Cliente</ng-template>
    <app-create-emision-online-new [idClientes]="idCliente" (datosSalida)="activarProductoCliente($event)" *ngIf="stepsIdentificados" [idSolicitudPros]="idSolicitud">
    </app-create-emision-online-new>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel >Vehiculo</ng-template>
    <app-datos-productos-online-new
      *ngIf = "idProductoCliente !== undefined" [idCliente]="idCliente"
      [idProductoCliente] = "idProductoCliente" [datosCotizacion] = "this.solicitud.peticion"
      [datosRespuesta]="this.solicitud.respuesta"
      [idSubRamo]="this.solicitud.idSubRamo"
      (idProductoClientesaliente)="activarCobro($event)"  (idEmitir)="activarEmitir($event)"> >
    </app-datos-productos-online-new>

  </mat-step>

  <mat-step *ngIf="showStepEmitir" >
    <ng-template matStepLabel >Emitir</ng-template>
    <app-emitir-online-new *ngIf = "idProductoCliente !== 0 && idProductoCliente !== undefined" [idProductoCliente]="idProductoCliente"
                           (idProductoClientesaliente)="activarCobrodesdeEmitir($event)">

    </app-emitir-online-new>

  </mat-step>

  <!--  Pago cobro-->
  <mat-step>
    <ng-template matStepLabel matTabContent>Pago </ng-template>
    <app-pagos-online-new    *ngIf = "idProductoCliente !== 0 && idProductoCliente !== undefined && ocultarEmision === true" [idProductoCliente]="idProductoCliente"  [datosCliente]="datosCliente"
                             [idCliente]="idCliente" [idRegistro]="idRegistro" (idCobroSaliente)="activarRegistroPoliza($event)"  (Inspeccione)="activarInspecciones($event)" (emisionMal)="anterioStep()" >
    </app-pagos-online-new>
  </mat-step>
  <!--  Registro poliza-->
  <mat-step *ngIf="ocularStepRegistro">
    <ng-template matStepLabel matTabContent>Registro Póliza</ng-template>
    <app-registro-poliza-online-new
      *ngIf = "idRegistro !== undefined" [idProductoCliente]="idProductoCliente"
      [datosCliente]="datosCliente" [filesToUploadPagado]="filesToUploadPagado"
      [idCliente]="idCliente" [idRegistroPoliza]="idRegistro" (Inspeccione)="activarInspecciones($event)">
    </app-registro-poliza-online-new>
    <!--   <ngx-registro-poliza-online-new [idProductoCliente]="idProductoCliente"-->
    <!--   [datosCliente]="datosCliente"-->
    <!--   [idCliente]="idCliente" [idRegistroPoliza]="idRegistro" (nextStepper)="nextSteper($event)">-->
    <!--  </ngx-registro-poliza-online-new>-->
  </mat-step>
  <!--  Inspeccion-->
  <mat-step>
    <ng-template matStepLabel matTabContent>Inspeccion</ng-template>
    <app-inspecciones-online-new [idRegistro]="idRegistro" [idCliente] = "idCliente" *ngIf = "idRegistro !== undefined && idRegistro !== 0" [esStep]="true">
    </app-inspecciones-online-new>
  </mat-step>
  <!--step Icons-->
  <ng-template matStepperIcon="number" let-stepIndex="index" let-active="active">

    <div class="unactiveIcon" *ngIf="stepIndex !== stepper.selectedIndex">
      <mat-icon>{{stepIcons[stepIndex]}}</mat-icon>
    </div>
    <div class="activeIcon" *ngIf="stepIndex === stepper.selectedIndex">
      <mat-icon>{{stepIcons[stepIndex]}}</mat-icon>
    </div>
  </ng-template>

  <!-- Selected Icons -->
  <ng-template matStepperIcon="edit" let-editIndex="index">
    <mat-icon>{{stepIcons[editIndex]}}</mat-icon>
  </ng-template>
</mat-horizontal-stepper>


<mat-card class="showInfo">
  <div class="resumeWrapper">

    <div class="resume"><p>Resumen</p></div>

    <div *ngIf="nombreAseguradorab === 'QUALITAS'" class="discountWrapper">
      <p class="oneRow"><mat-icon>local_offer</mat-icon>23% de Descuento</p>
      <div class=columnsWrapper>
        <div class="discountCol Left">
          <p>Precio Regular:</p>
          <p><b>Precio Oferta:</b></p>
          <p>Ahorro:</p>
        </div>
        <div class="discountCol Right">
          <p style="text-decoration:line-through;">{{precioTotal | currency}}{{'MXN'}}</p>
          <p><b>{{primaTotall | currency}}{{'MXN'}}</b></p>
          <p>{{ahorro | currency}}{{'MXN'}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="nombreAseguradorab === 'GNP'" class="discountWrapper">
      <div class=columnsWrapper>
        <div class="discountCol Left">
          <p><b>Precio Oferta:</b></p>
        </div>
        <div class="discountCol Right">
          <p><b>{{primaTotall | currency:'MXN':'symbol'}} {{'MXN'}}</b></p>
        </div>
      </div>
    </div>

    <div class="payIcons">
      <img src="../../../../../assets/images/step-icons/img-cards.png" class="cards">
      <img src="../../../../../assets/images/step-icons/pago-seguro.png" class="safe">
    </div>
    <hr>
    <div class="coverage">
      <p>Cobertura {{nombreCobertura}}</p>
    </div>
    <div class="coverageList">
      <!--      <table>-->
      <!--        <tr>-->
      <!--          <td>DAÑOS MATERIALES</td>-->
      <!--          <td class="rightCell">AMPARADA</td>-->
      <!--        </tr>-->
      <!--        <tr>-->
      <!--          <td>ROBO TOTAL</td>-->
      <!--          <td class="rightCell">AMPARADA</td>-->
      <!--        </tr>-->
      <!--        <tr>-->
      <!--          <td>RESPONSABILIDAD CIVIL</td>-->
      <!--          <td class="rightCell">$3,000,000</td>-->
      <!--        </tr>-->
      <!--        <tr>-->
      <!--          <td>GASTOS MEDICOS</td>-->
      <!--          <td class="rightCell">$200,000</td>-->
      <!--        </tr>-->
      <!--        <tr>-->
      <!--          <td>ASISTENCIA VIAL</td>-->
      <!--          <td class="rightCell">$20,000</td>-->
      <!--        </tr>-->
      <!--        <tr>-->
      <!--          <td>GASTOS LEGALES</td>-->
      <!--          <td class="rightCell">AMPARADA</td>-->
      <!--        </tr>-->
      <!--        <tr>-->
      <!--          <td>RC BIENES</td>-->
      <!--          <td class="rightCell">AMPARADA</td>-->
      <!--        </tr>-->
      <!--        <tr>-->
      <!--          <td>EXTENSION RC</td>-->
      <!--          <td class="rightCell">AMPARADA</td>-->
      <!--        </tr>-->
      <!--        <tr>-->
      <!--          <td>RC PERSONAS</td>-->
      <!--          <td class="rightCell">AMPARADA</td>-->
      <!--        </tr>-->
      <!--      </table>-->
      <table mat-table [dataSource]="coverageArray" #sort matSort>
        <ng-container matColumnDef="nombre">
          <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
        </ng-container>

        <ng-container matColumnDef="sumaAsegurada">
          <td mat-cell *matCellDef="let row" class="rightCell"> <p *ngIf="nombreAseguradorab === 'QUALITAS'">
            {{row.sumaAsegurada | currency  }} {{'MXN'}}
            <P *ngIf="nombreAseguradorab === 'GNP'">{{row.sumaAsegurada }}</P></td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</mat-card>
