.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 24px;
  height: 12%;
  border-bottom: solid 2px #2125291f;
  background-color: #772f6a47;

  .reset{
    cursor: pointer;
    width: 10%;
  }
  .repo{
    cursor: pointer;
    width: 10%;
  }
  p{
    color: #36419deb;
    font-weight: 500;
    font-size: 18px;
    justify-self: center;
    margin: 0;
  }
}

.dash-content{
  display: flex;
  flex-direction: column;
  //width: 100%;
  height: 92vh;
  padding: 1% 2% 22% 2%;
  margin: 0;
  justify-content: center;
  align-items: flex-start;

  .tableWrapper{
    width: 100%;
    overflow: auto;
    //overflow-x: scroll;
    padding-bottom: 100px;
  }
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}
::-webkit-scrollbar-thumb {
  background: #4a2b6e5e;
  cursor: pointer;
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background: #cbcbcb;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  transition: 0.4s;
  background: #4a2b6ed9;
}

.mat-header-cell {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 1.1em;
}
h2, h3, p {
  color: black;
}

.stickID{
  position: sticky;
  width: 70px;
  left: 0;
  z-index: 9;
}
.backTitle{
  background-color: #925585;
}
.backData{
  background-color: #d9c5d6;
}
.stickNom{
  position: sticky;
  width: 160px;
  left: 50px;
  z-index: 9;
}
.normalCol{
  width: 70px;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type{
  width: 80px;
}
.buttonWrapper{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 2% 1% 2%;
  width: 100%;
  height: 11%;

  button{
    height: fit-content;
  }
}

tr.mat-header-row {
  height: 56px;
  background: #7a306ad1;
}
:host ::ng-deep .mat-menu-content:not(:empty){
  max-height: 200px;
  overflow: auto;
}
.selects{
  display: flex;
  gap: 7px;
  flex-direction: row;
  align-content: space-around;
  width: 100%;
}
.selects mat-form-field {
  width: 25%;
}
.filter2{
  position: sticky;
  top: 0em;
  width: 100%;
  height: 2.5em;
  z-index: 1;
  display: flex;

}
.vacio{
  width: 25px;
  height: 25px;
}
.h2Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15%;
  width: 100%;
}
.load{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.noLoad{
  display:none;
}
.menu{
  width: 100px;
  background-color: rgba(119, 47, 106, 0.94);
  height: 100px;
  position: absolute;
  z-index: 35;
  overflow-y: scroll;
  display: block;
}
.men2{
  position: relative;

}
.all{
  width: 100vw;
  height: 100vh;
}
.estados{
  background-color: rgba(64, 17, 55, 0.95);
  padding: 4px;
  color: aliceblue;
  cursor: pointer;
  font-size: smaller;
}
.estados:hover{
  background-color: #772f6a47;
}
.todo{
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 33;
}
.btnPapa{
  position: relative;
}
.btnPapaSA{
  position: relative;
  background-color: rgba(146, 85, 133, 0.91);
  color: white;
}
.btnPapaSoli{
  position: relative;
  background-color: rgba(165, 110, 18, 0.91);
  color: white;
}
.btnsel{
  background-color: rgba(64, 17, 55, 0.36);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 35;
  color: #5d2c6c;
  position: absolute;
}
.cabezal{
  width: 100%;
  display: flex;
  justify-content: space-around;

  button{
    width: 40%;
  }
}
.moviendo{
  position: fixed;
  right: 50%;
  top: 50%;
  z-index: 999;
}
