main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

mat-card {
  width: 100%;
  height: 80vh;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

section {
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.globalCardsConfig {
  width: 96%;
  margin: 0 2%;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  color: #ffffff;
}
.red {
  background: #f36581;
}
.yellow {
  background: #f8cd75;
}
.orange {
  background: #e38d66;
}
