<div #reportContent>
  <div class="contaier">
    <mat-icon>check_circle_outline</mat-icon>
    <div class="text-succes">
      <p>¡El pago ha sido procesado exitosamente!</p>
      <p class="subtext">Número de Póliza: {{numPoliza}}</p>
    </div>
  </div>
</div>
<div class="nextButtonWrapper">
  <input type="file" id="fileinput" #fileInput hidden>
<!--  <button mat-button mat-dialog-close class="nextButton">Siguiente</button>-->
  <button mat-button [mat-dialog-close]="dataExternalDialog.blobImage" class="nextButton">Siguiente</button>
</div>
