<mat-card-title style="text-align: center;">
  Reasignar solicitud
</mat-card-title>

<div *ngIf="!empleadosSubArea">
  <mat-spinner style="margin-left: 35%; margin-top: 15px;"></mat-spinner>
</div>

<mat-card-content *ngIf="empleadosSubArea">
  <div >

    <p fxLayoutAlign="center" style="color: black">El empleado asignado a esta solicitud es:</p>

    <b fxLayoutAlign="center" >{{data.nombre}}</b>
    <div fxLayout="row" fxLayoutAlign="center" style="margin-top: 5%">
      <mat-form-field>
        <mat-label> Selecciona el nuevo empleado para esta solicitud </mat-label>
        <mat-select [(ngModel)] = "empleadoSeleccionado">
          <mat-option *ngFor="let empleado of empleadosSubArea" [value]="empleado.id">
            {{empleado.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-card-content>

<div fxLayoutAlign="space-between">
  <button mat-raised-button color="primary" (click)="dismiss(false)"> Cerrar </button>
  <button mat-raised-button color="primary" (click)="putSolicitud()" [disabled]="!empleadoSeleccionado"> Modificar </button>
</div>

