<mat-card>
  <div class="generalWrapper">
    <div class="header">
      <div class="stepTitle">Datos del vehículo</div>
    </div>
    <div class="advice"><p>todos los datos marcados con  <b>*</b>  son requeridos</p></div>
    <form [formGroup]="formDatos" class="firstRow">
      <mat-form-field appearance="outline">
        <mat-label>Descripción del Vehículo</mat-label>
        <input type="text" matInput disabled value="{{datos.marca}} {{datos.modelo}} {{datos.descripcion}}" readonly class="infoInput">
      </mat-form-field>
    </form>
    <form [formGroup]="formDatos" class="formWrapper">
      <div class="formCol">
        <mat-form-field appearance="outline">
          <mat-label>Número de Serie *</mat-label>
          <input
            matInput type="text"
            formControlName="numeroSerie"
            id="numeroSerie"
            onpaste="return true"
            oncopy="return false"
            oninput="this.value = this.value.toUpperCase()"
            maxlength="17"
            onDrop="return false"
            autocomplete="off"
          />
          <mat-error *ngIf="formDatos.controls['numeroSerie'].hasError('minlength'); else numSerieExistente">
            Se requieren al menos 8 carácteres alfanuméricos
          </mat-error>
          <ng-template #numSerieExistente>
            <mat-error *ngIf="!formDatos.controls['numeroSerie'].valid && formDatos.controls['numeroSerie'].value !== '' ">
              Se requiere un número de serie <strong>inexistente</strong>
            </mat-error>
            <mat-hint
              *ngIf="formDatos.controls['numeroSerie'].hasError('pattern')">
              No se aceptan las letras <strong>"I", "O"</strong>
            </mat-hint>
            <mat-error *ngIf="!formDatos.controls['numeroSerie'].valid && formDatos.controls['numeroSerie'].value === '' ">
              Se requiere llenar este campo
            </mat-error>
          </ng-template>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Número de Placas</mat-label>
          <input
            matInput
            type="text"
            formControlName="numeroPlacas"
            id="numeroPlacas"
            (blur)="verificarNumeroPlaca()"
            onpaste="return true"
            oncopy="return false"
            oninput="this.value = this.value.toUpperCase()"
            maxlength="10"
            minlength="3"
            onDrop="return false"
            autocomplete="off"
          />
          <mat-error *ngIf="!formDatos.controls['numeroPlacas'].valid && formDatos.controls['numeroPlacas'].dirty">
            Se requiere llenar el campo
          </mat-error>
        </mat-form-field>
      </div>
      <div class="formCol">
        <mat-form-field appearance="outline">
          <mat-label>Número de Motor</mat-label>
          <input
            matInput
            type="text"
            formControlName="numeroMotor"
            id="numeroMotor"
            maxlength="41"
            onpaste="return true"
            oncopy="return false"
            oninput="this.value = this.value.toUpperCase()"
            onDrop="return false"
            autocomplete="off"
          />
          <mat-hint *ngIf="!formDatos.controls['numeroMotor'].valid&&formDatos.controls['numeroMotor'].dirty">
            Se requiere llenar el campo
          </mat-hint>
        </mat-form-field>
        <div class="slideWrapper">
          <mat-slide-toggle (change)="actualizarValidador()" formControlName="recotizar">
            ¿Desea cambiar los datos del vehículo?
          </mat-slide-toggle>
        </div>
      </div>
    </form>
    <div *ngIf="formDatos.controls['recotizar'].value || datosCotizacion === null" class="changeInfoSection">
      <div class="row box-content content-form">

        <div class="col-3">
          <mat-form-field>
            <mat-label>Marca</mat-label>
            <mat-select [(value)]="marca" (selectionChange)="getModelos()" formControlName="marca">
              <mat-option *ngFor="let m of marcas" [value]="m.text">
                {{m.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>Modelos</mat-label>
            <mat-select [(value)]="modelo" (selectionChange)="getSubmarca()" formControlName="modelo">
              <mat-option *ngFor="let mo of modelos" [value]="mo.text">
                {{mo.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label> Submarca</mat-label>
            <mat-select [(value)]="submarca" (selectionChange)="getDescripcion()" formControlName="submarca">
              <mat-option *ngFor="let sub of submarcas" [value]="sub.text">
                {{sub.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-3">
          <mat-form-field>
            <mat-label> Descripcion</mat-label>
            <mat-select [(value)]="descripcion" formControlName="descripcion">
              <mat-option *ngFor="let d of descripciones" [value]="d.text">
                {{d.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="buttonsRow">
    <button
      mat-button
      *ngIf="idProductoCliente !== 0"
      [hidden]="!datosCotizacion"
      [disabled]="formDatos.invalid"
      (click)="crearProducto(false)"
      class="modButton"
    >
      Actualizar Producto
    </button>

    <button
      mat-button
      *ngIf="idProductoCliente === 0"
      [disabled]="formDatos.invalid"
      (click)="crearProducto(true)"
      class="nextButton"
    >
      Siguiente
    </button>
  </div>
</mat-card>

