.mat-card{
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 100%;
  margin-top: 3%;
  width: 100%;
  border-radius: 4px;
}
.generalWrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 94%;
  max-height: 500px;
}

.header{
  width: 92%;
  height: 45px;
  border-bottom: #80808030 solid 2px;
}

.stepTitle{
  text-align: start;
  font-size: 26px;
  color: #354089;
}

.advice{
  width: 92%;
  margin-top: 10px;
  margin-bottom: 10px;

  p{
    margin: 0;
    color: gray;
    vertical-align: text-top;

    b{
      color: #62367a;
      font-size: 17px;
    }
  }
}

.firstRow{
  width: 92%;
  margin-top: 10px;
}

.infoInput{
  text-align: center !important;
}

.formWrapper{
  display: flex;
  justify-content: space-between;
  width: 92%;
  height: 220px;
}

.formCol{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  width: 47%;
}

.slideWrapper{
  height: 77.88px;
  width: max-content;
  display: flex;
  align-items: center;
}

.changeInfoSection{
  width: 92%;
}



p span {
  color: #354089;
  font-weight: 500;
}

mat-card-title {
  margin-bottom: 4%;
}

#header-title {
  margin: 3% 0;
}


mat-hint {
  color: tomato !important;
}

.col-4 {
  padding: 0!important;
}

mat-card-actions {
  text-align: right;
}

.buttonsRow{
  width: 92%;
  display: inline-grid;
  grid-auto-flow: column;
}

.nextButton{
  background-color: #5bb34b !important;
  color: white;
  justify-self: end;
}

.nextButton:disabled, .modButton:disabled{
  background-color: #b9b9bda6 !important;
  font-weight: normal;
  color: #a6a8b3;
}

.modButton {
  background-color: #354089;
  color: white;
  justify-self: start;
}

/////////////////RESPONSIVE//////////////////////
@media only screen and (max-width: 1920px){
  .buttonsRow{
    padding: 0 52px 0 0;
    margin-bottom: 50px !important;
  }
  .nextButton{
    height: 40px;
    font-size: 20px;
    width: 240px;
  }

  .modButton{
    height: 40px;
    font-size: 18px;
    width: 220px;
  }
}

@media only screen and (max-height: 1080px){
  .mat-card{
    height: 590px;
  }
}

@media only screen and (max-height: 900px){
  .mat-card{
    height: 503px;
  }
  .header{
    height: 38px;
  }
  .stepTitle{
    font-size: 24px;
  }
  .slideWrapper{
    height: 70.88px;
    transform: translateY(-6px);
  }
  .formCol{
    justify-content: start;
    height: fit-content;
  }
  .formWrapper{
    height: fit-content;
    justify-content: space-between;
  }
  .buttonsRow{
    padding: 0 50px 0 0;
    margin-bottom: 34px !important;
  }
  .nextButton{
    height: 36px;
    font-size: 16px;
    width: 220px;
  }
  .modButton{
    height: 36px;
    font-size: 16px;
    width: 172px;
  }
}
@media only screen and (max-height: 768px){
  .mat-card{
    height: 375px;
  }
  .mat-slide-toggle{
    transform: translate(4px, -13px);
  }
  .generalWrapper{
    overflow: auto;
    max-height: 271px
  }
  .slideWrapper{
    height: 60.75px;
  }
  .header{
    height: 30px;
  }
  .stepTitle{
    font-size: 22px;
  }
  .cardContent{
    height: fit-content;
  }
  .formCol{
    font-size: 12px;
    justify-content: space-between;
    height: 134px;
  }
  .formWrapper{
    height: fit-content;
    justify-content: space-between;
  }
  .advice{
    margin-top: 5px;
    margin-bottom: 14px;
    font-size: 10px;
  }
  .buttonsRow{
    padding: 0 38px 0 4px;
    margin-bottom: 14px !important;
  }
  .nextButton{
    height: 34px;
    font-size: 14px;
    width: 140px;
  }
  .modButton {
    height: 34px;
    font-size: 12px;
    width: 138px;
  }

  .firstRow{
    margin-top: 0px;
    font-size: 12px;
    margin-bottom: 0;
  }
}
