mat-spinner {
  margin-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mat-dialog-container {
  overflow-x: hidden;
}

.link {
  color: #2b76b9;
  padding-top: 7px;
}

.nothing {
  width: 10px;
  height: 5px;
  border: none;
  background-color: transparent;
}

.Container {
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

mat-card {
  padding: 0;
}
