.contenedor {
  background-color: white;
  width: 440px;
  padding: 20px;
  margin: 30px auto;
  height: 470px;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
//#output {
//  font-size: 2rem;
//  height: 60px;
//  font-weight: bold;
//  color: #1976d2;
//}

input[type = text] {
  position: relative;
  display: block;
  width: 90%;
  margin: 5px 22px;
  font-size: 22px;
  padding: 10px;
  color: #1976d2;
  outline: none;
  border: none;
}

.fila {
  margin: 0 auto;
  width: 280px;
  clear: both;
  text-align: center;
}

.digit,
.dig {
  float: left;
  padding: 10px 30px;
  width: 90px;
  font-size: 2rem;
  cursor: pointer;
}

.sub {
  font-size: 0.8rem;
  margin-top: 4px;
  color: grey;
}

.botrow {
  margin: 60px auto;
  width: 317px;
  clear: both;
  text-align: center;
}

.digit:active,
.dig:active {
  background-color: #e6e6e6;
}

.borrar {
  position: relative;
  left: 84px;
  outline: none;
}
.colgar {
  transform: rotate(135deg);
  outline: none;
}

.llamar {
  outline: none;
}


