<main>

  <section class="body">
    <div class="component-l">
      <app-left></app-left>
    </div>
    <div class="contain">
      <div class="component-c">
        <app-dash-header></app-dash-header>
      </div>
      <div class="component-c">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!--    <div class="component-r">-->
    <!--      <app-right></app-right>-->
    <!--    </div>-->
  </section>
</main>
