<form [formGroup]="datosCliente">
  <mat-form-field *ngIf="variablesPorMostrar.includes('curp')">
    <input matInput
           type="text"
           formControlName="curp"
           placeholder="CURP *"
           oninput="this.value = this.value.toUpperCase()"
           maxlength="18"
           minlength="18" id="curpf"
           autocomplete="off"
             />
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('curp')]}}
    </mat-hint>
    <mat-error *ngIf="datosCliente.controls['curp'].hasError('required')">
      ¡El CURP es requerido!
    </mat-error>
    <mat-error *ngIf="datosCliente.controls['curp'].hasError('minlength')">
      Necesitas una longitud mínima de 18 dígitos
    </mat-error>
    <mat-error *ngIf="!datosCliente.controls['curp'].hasError('minlength') &&
                     datosCliente.controls['curp'].hasError('pattern')">
      CURP inválido
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('rfc')">
    <input matInput
           type="text"
           formControlName="rfc"
           placeholder="RFC *"
           minlength="10"
           maxlength="13"
           autocomplete="off"

           oninput="this.value = this.value.toUpperCase()"/>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('rfc')]}}
    </mat-hint>
    <mat-error *ngIf="datosCliente.controls['rfc'].value === ''">
      Recuerda que la homoclave <strong>NO</strong> es obligatoria
    </mat-error>
    <mat-error *ngIf="datosCliente.controls['rfc'].hasError('minlength')">
      Necesitas una longitud mínima de 10 dígitos
    </mat-error>
    <mat-error *ngIf="!datosCliente.controls['rfc'].hasError('minlength') &&
                   datosCliente.controls['rfc'].hasError('pattern')">
      RFC inválido
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('paterno')">
    <input matInput
           type="text"
           formControlName="paterno"
           placeholder="APELLIDO PATERNO *"

           oninput="this.value = this.value.toUpperCase()"
           id="paterno"

           autocomplete="off"/>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('paterno')]}}
    </mat-hint>
    <mat-error *ngIf="datosCliente.controls['paterno'].hasError('required')">
      ¡El apellido paterno es requerido!
    </mat-error>
    <mat-error *ngIf="datosCliente.controls['paterno'].hasError('minlength')">
      ¡Se requieren al menos 3 carácteres!
    </mat-error>
    <mat-error *ngIf="datosCliente.controls['paterno'].hasError('pattern')">
      ¡Solo se aceptan letras!
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('materno')">
    <input matInput
           type="text"
           formControlName="materno"
           placeholder="APELLIDO MATERNO *"

           oninput="this.value = this.value.toUpperCase()"
           maxlength="40"
           id="materno"

           autocomplete="off"/>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('materno')]}}
    </mat-hint>
    <mat-error *ngIf="datosCliente.controls['materno'].hasError('required')">
      ¡El apellido materno es requerido!
    </mat-error>
    <mat-error *ngIf="datosCliente.controls['materno'].hasError('minlength')">
      ¡Se requieren al menos 3 carácteres!
    </mat-error>
    <mat-error *ngIf="datosCliente.controls['materno'].hasError('pattern')">
      ¡Solo se aceptan letras!
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('nombre')">
    <input matInput type="text"
           formControlName="nombre"
           placeholder="NOMBRE *"
           oninput="this.value = this.value.toUpperCase()"
           maxlength="40"
           id="numExt"




           onPaste="return false"
           autocomplete="off"/>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('nombre')]}}
    </mat-hint>
    <mat-error *ngIf="datosCliente.controls['nombre'].hasError('required')">
      ¡El Nombre es requerido!
    </mat-error>
    <mat-error *ngIf="datosCliente.controls['nombre'].hasError('minlength')">
      ¡Se requieren al menos 3 carácteres!
    </mat-error>
    <mat-error *ngIf="!datosCliente.controls['nombre'].hasError('minlength')&&datosCliente.controls['nombre'].hasError('pattern')">
      ¡Solo se aceptan letras!
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('fechaNacimiento')">
    <input readonly
           matInput
           [matDatepicker]="picker1"
           placeholder="FECHA DE NACIMIENTO *"
           formControlName="fechaNacimiento"
           id="fechaNacimiento"/>
    <mat-datepicker-toggle matTooltip="Agregar fecha"
                           matSuffix
                           [for]="picker1">

    </mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
    <mat-hint>
      {{variablesComentarios[variablesPorMostrar.indexOf('fechaNacimiento')]}}
    </mat-hint>
    <mat-error *ngIf="datosCliente.controls['fechaNacimiento'].hasError('required')">
      Se requiere llenar el campo
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('genero')">
    <mat-label>SELECCIONE EL GÉNERO *</mat-label>
    <mat-select formControlName="genero">
      <mat-option *ngFor="let genero of genders"
                  [value]="genero.value"
                  id="genero">
        {{genero.label}}
      </mat-option>
    </mat-select>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('genero')]}}
    </mat-hint>
    <mat-error *ngIf="datosCliente.controls['genero'].hasError('required')">
      Se requiere llenar el campo
    </mat-error>
  </mat-form-field>
  <!--Nombre Paises creo no esta en el ts-->
  <mat-form-field *ngIf="variablesPorMostrar.includes('nombrePaises')">
    <mat-label>PAÍS DE ORIGEN *</mat-label>
    <mat-select formControlName="idPais">
      <mat-option *ngFor="let pais of paisOrigen" [value]="pais.id"
                  id="paisOrigenF">
        {{pais.nombre}}
      </mat-option>
    </mat-select>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('nombrePaises')]}}
    </mat-hint>
    <mat-error *ngIf="!datosCliente.controls['idPais'].valid&&datosCliente.controls['idPais'].dirty">
      Se requiere llenar el campo
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('cp')">
    <input matInput
           type="text"
           formControlName="cp"
           placeholder="CP *"


           oninput="this.value = this.value.toUpperCase()"
           minlength="5"
           maxlength="5"
           id="cp"
           (keyup)="getColonias($event.target.value)"

           autocomplete="off"/>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('cp')]}}
    </mat-hint>
    <mat-error *ngIf="datosCliente.controls['cp'].hasError('required')">
      ¡El Codigo Postal es requerido!
    </mat-error>
    <mat-error *ngIf="datosCliente.controls['cp'].hasError('minlength')">
      ¡Se requieren al menos 5 carácteres!
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('cp') || variablesPorMostrar.includes('colonia')">
    <mat-label>COLONIA *</mat-label>
    <mat-select formControlName="idColonia" [(ngModel)]="idColonia" >
      <mat-option *ngFor="let colonia of colonias"
                  [value]="colonia.idCp"
                  id="idColoniaF">
        {{colonia.asenta}}
      </mat-option>
    </mat-select>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('nombrePaises')]}}
    </mat-hint>
    <mat-error
      *ngIf="!datosCliente.controls['idColonia'].valid&&datosCliente.controls['idColonia'].dirty">
      Se requiere llenar el campo
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('calle')">
    <input matInput
           type="text"
           formControlName="calle"
           placeholder="CALLE *"


           oninput="this.value = this.value.toUpperCase()"
           maxlength="40"
           id="calle"

           autocomplete="off"/>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('calle')]}}
    </mat-hint>
    <mat-error *ngIf="datosCliente.controls['calle'].hasError('required')">
      ¡El Campo es requerido!
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('numExt')">
    <input matInput
           type="text"
           formControlName="numExt"
           placeholder="NUMERO EXTERIOR *"
           oninput="this.value = this.value.toUpperCase()"
           maxlength="40"
           id="numExtf"

           autocomplete="off"

           />
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('numExt')]}}
    </mat-hint>
    <mat-error *ngIf="!datosCliente.controls['numExt'].hasError('required')">
      ¡El Campo es requerido!
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('numInt')">
    <input matInput
           type="text"
           formControlName="numInt"
           placeholder="NUMERO INTERIOR"
           oninput="this.value = this.value.toUpperCase()"
           maxlength="5"
           id="numInt"

           onPaste="return false"
           autocomplete="off"
           />
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('numInt')]}}
    </mat-hint>
    <!--<mat-error *ngIf="!emisionMoralForm.controls['nombre'].valid&&emisionMoralForm.controls['nombre'].dirty">-->
    <!--¡El Nombre es requerido!</mat-error>-->
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('telefonoMovil')">
    <input matInput type="text" formControlName="telefonoMovil"
           placeholder="TELEFONO MOVIL *"
           oninput="this.value = this.value.toUpperCase()" maxlength="10" id="telefonoMovil"
            autocomplete="off"/>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('telefonoMovil')]}}
    </mat-hint>
    <mat-error *ngIf="datosCliente.controls['telefonoMovil'].hasError('required')">
      ¡El Teléfono móvil es requerido!
    </mat-error>
    <mat-error *ngIf="datosCliente.controls['telefonoMovil'].hasError('minlength')">
      ¡Se requieren al menos 10 números!
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('telefonoFijo')">
    <input matInput
           type="text"
           formControlName="telefonoFijo"


           placeholder="TELEFONO FIJO"
           oninput="this.value = this.value.toUpperCase()"
           maxlength="10"
           id="telefonoFijo"

           autocomplete="off"/>
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('telefonoFijo')]}}
    </mat-hint>
    <mat-error class="telefono"
               *ngIf="datosCliente.controls['telefonoFijo'].hasError('minlength')">
      Se requiere un telefono válido
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="variablesPorMostrar.includes('correo')">
    <input matInput
           type="text"
           formControlName="correo"
           placeholder="CORREO *"
           oninput="this.value = this.value.toUpperCase()"
           maxlength="40"
           id="correo"


           autocomplete="off"
           />
    <mat-hint >
      {{variablesComentarios[variablesPorMostrar.indexOf('correo')]}}
    </mat-hint>
    <mat-error *ngIf="datosCliente.controls['correo'].hasError('required')">
      ¡El Correo es requerido!
    </mat-error>
    <mat-error *ngIf="datosCliente.controls['correo'].hasError('email')">
      ¡El Correo es incorrecto!
    </mat-error>
  </mat-form-field>
</form>

