.opciones {
  padding-top: 10px;
}
mat-card-title {
  font-size: 2rem;
}
.documentoLegible {
  font-size: 18px;
}
mat-form-field {
  min-height: 50%;
}
.checkBoxDocumentos {
  width: 100% !important;
  display: block;
}
mat-divider {
  border-top-color: #52387f;
  margin-bottom: 30%;
}
textarea {
  min-height: 50%;
  margin-bottom: 3%;
}
//p {
//  margin-top: 5%;
//  font-weight: bold;
//  font-size: 2rem;
//  font-family: Arial;
//}
label {
  width: 100%;
}
span {
  font-weight: bold;
  width: 70%
}
.espacioCheckBox {
  display: flex;
  justify-content: space-between;
}
.tipoDocumento {
  margin-top: 5%;
  font-weight: bold;
  font-size: 15px;
}

.comentario {
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: bold;
}

.tipoDocumento {
  font-size: 1.7rem;
}

.info {
  font-family: Arial;
  font-size: 1.5rem;
}


/////////////////////////////////////////////////////

.telefono {
  color: tomato;
}

mat-card {
  width: 100%;
  padding: 2% 3%;
}

mat-label {
  color: #354089!important;
  font-size: 15px!important;
}

.mat-tab-header {
  margin-bottom: 4% !important;
}

input {
  border: none;
  padding: 0!important;
}

.form-control:focus {
  border: none;
}

//
///* input color class */
//::ng-deep input.mat-input-element {
//  color: #354089;
//}
//
///* Change label color on focused */
//::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
//  color: #111218 !important;
//}
//
///* underline border color on focused */
//::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
//  background-color: #111218 !important;
//}
//.mat-form-field-invalid .mat-input-element{
//  caret-color: #111218;
//}

mat-form-field {
  margin-right: 12px;
  width: 100%;
}

.mat-card-header {
  text-align: center;
  display: block;
}

.mat-hint {
  transition: all 0.5s;
}

mat-card-actions {
  text-align: right;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

button:disabled {
  background-color: transparent;
}

mat-datepicker-toggle {
  font-size: 1.5rem;
  background-color: transparent;
  color: #000000;
  transition: all ease 0.4s;
}

mat-datepicker-toggle:hover {
  color: #0082ff;
}

.btns {
  transition: ease .5s;
}

.btns:hover {
  color: #fff;
  background: #df1d52;
  background: linear-gradient(to right, #df1d52, #364088);
}


