<mat-card ngxClickDerechoDesactivado *ngIf="permisos?.COB?.corrErroresDocs">
  <div class="regresar" (click)="cerrar()">
    <mat-icon >keyboard_arrow_left</mat-icon><span>REGRESAR</span>
  </div>
  <mat-card-title fxLayoutAlign="center" style="color: #354089 ">
    {{tituloComponente}}
  </mat-card-title>
  <mat-card-content fxLayout="row" fxLayoutAlign="space-between baseline ">
    <div fxFlex="35">
      <p class="comentario">{{leyendaSuperior}}</p>
      <!----------------------------------------- Formularios de documentos ------------------------------------------------>
      <div *ngIf="tipoError === 'documento'; else datos">
        <div *ngFor="let comentario of comentariosDocumentos">
          <p class="tipoDocumento">
            {{comentario.nombreDocumentoCorregir}}
          </p>
          <p class="info">
            {{comentario.comentario == '' ? 'SIN COMENTARIOS' : comentario.comentario}}
          </p>
        </div>
      </div>
      <!------------------------------ Formularios de datos de los distintos documentos ------------------------------------->
      <ng-template #datos>
        <!-- Etiqueta para llamar al formulario datos del cliente -->
        <app-datos-cliente-correccion *ngIf="idTipoDocumento === 1 && tipoError === 'error' && autorizacionRegistro"
                                      (isAutorizacion)="isAutorizacion($event)"
                                      [variablesPorMostrar]="variablesPorMostrar"
                                      [variablesComentarios]="variablesComentarios"
                                      [idCliente]="autorizacionRegistro.idCliente">

        </app-datos-cliente-correccion>
        <app-datos-registro-correccion *ngIf="idTipoDocumento === 2 && tipoError === 'error' && autorizacionRegistro"
                                       (formularioCorrect)="estaCorrecto($event)"
                                       (isAutorizacion)="isAutorizacion($event)"
                                       [variablesPorMostrar]="variablesPorMostrar"
                                       [variablesComentarios]="variablesComentarios"
                                       [idRegistro]="autorizacionRegistro.idRegistro">

        </app-datos-registro-correccion>
        <app-datos-pago-correccion *ngIf="idTipoDocumento === 4 && tipoError === 'error' && autorizacionRegistro"
                                   (formularioCorrect)="estaCorrecto($event)"
                                   (isAutorizacion)="isAutorizacion($event)"
                                   [variablesPorMostrar]="variablesPorMostrar"
                                   [variablesComentarios]="variablesComentarios"
                                   [idPago]="autorizacionRegistro.idPago">

        </app-datos-pago-correccion>
        <app-producto-cliente-correccion *ngIf="idTipoDocumento === 3 && tipoError === 'error' && autorizacionRegistro"
                                         (formularioCorrect)="estaCorrecto($event)"
                                         (isAutorizacion)="isAutorizacion($event)"
                                         [camposPorCorregir]="camposPorCorregir"
                                         [variablesPorMostrar]="variablesPorMostrar"
                                         [variablesComentarios]="variablesComentarios"
                                         [idProducto]="autorizacionRegistro.idProducto">

        </app-producto-cliente-correccion>
      </ng-template>




    </div>

    <div fxFlex="65" fxLayout="column" fxLayoutGap="10px">
      <app-viewer *ngIf="autorizacionRegistro" [carpetaRegistro]="autorizacionRegistro.carpetaRegistro"
                  [archivoPago]="autorizacionRegistro.archivoPago" [carpetaCliente]="autorizacionRegistro.carpetaCliente"
                  [carpetaInspeccion]="autorizacionRegistro.archivoInspeccion" [autorizacion] = true>
      </app-viewer>

      <div fxLayoutAlign="end" fxFlex="20">
        <button mat-raised-button color="primary" (click) = "fileInput.click()" *ngIf="tipoError === 'documento'; else elseBlock">
          Guardar documentos
          <input hidden accept="application/pdf" type="file" #fileInput (change)="almacenarArchivo($event)"/>
        </button>
        <ng-template #elseBlock>
          <button mat-raised-button color="primary" *ngIf= "idTipoDocumento === 1" [ngClass]="{'btns': !'[disabled]'}"
                  (click)="activarMetodoCliente()">
            Actualizar cliente
          </button>
          <button mat-raised-button color="primary" *ngIf= "idTipoDocumento === 2" [ngClass]="{'btns': !'[disabled]'}"
                  [disabled]="!formularioCorrecto" (click)="activarMetodoRegistro()">
            Actualizar registro
          </button>
          <button mat-raised-button color="primary" *ngIf= "idTipoDocumento === 4" [ngClass]="{'btns': !'[disabled]'}"
                  [disabled]="!formularioCorrecto" (click)="activarMetodoPago()">
            Actualizar pago
          </button>
          <button mat-raised-button color="primary" *ngIf= "idTipoDocumento === 3" [ngClass]="{'btns': !'[disabled]'}"
                  [disabled]="!formularioCorrecto" (click)="activarMetodoProducto()">
            Actualizar producto cliente
          </button>
        </ng-template>
      </div>
    </div>
  </mat-card-content>
</mat-card>
