<!--Tono de llamada entrante-->
<iframe *ngIf="telefoniaServer" hidden src="https://mark46.ahorraseguros.mx:8089/httpstatus"></iframe>
<audio id="ringtone" loop src="../../../../assets/sounds/telephone-ring.mp3"></audio>
<audio id="callbackring" loop src="../../../../assets/sounds/callback.mp3"></audio>
<!--<audio id="ringtone" loop src="../../../../assets/sounds/spongebob_hornpipe.mp3"></audio>-->
<!--HEADER-->
<div class="redDisplay" *ngIf="!conectado && extension !== 'null' && idPuesto === 8"></div>
<header class="toolbar" role="banner">
  <!--    BLOCK CONTAINER 1-->
  <div class="headerBlock1 ">
    <!--BOTON PARA ABRIR CERRAR SIDENAV-->
    <div (click)="this.sidenav.opened ? closeSidenav() : this.sidenav.open()" class="openSidenavButton">
      <mat-icon>menu</mat-icon>
    </div>
    <!--    TITULO TRIGARANTE 2020-->
    <img src="../../../assets/images/ahorraio-blanco.svg" (click)="irInicio()">
    <!--    LOGOUT BUTTON-->

    <mat-menu #submenu="matMenu">
      <button mat-menu-item (click)="mostrarImagenes()">Boletín Semanal</button>
      <button mat-menu-item (click)="gacetasDelMes()">Comunicados del mes</button>
      <!--      <button mat-menu-item (click)="procedimientosSteps()">Diferenciadores</button>-->
      <button mat-menu-item >
        <a href="https://sites.google.com/ahorra.io/biblioteca-documental/biblioteca-documental"
           target="_blank">
          Biblioteca documental
        </a>
      </button>
      <button mat-menu-item >
        <a href="https://ahorra-recursos.s3.amazonaws.com/app/presentacion/Preguntas+frecuentes+capacitaci%C3%B3n.pdf"
           target="_blank">
          Preguntas frecuentes App
        </a>
      </button>
      <button mat-menu-item >
        <a href="https://ahorra-recursos.s3.amazonaws.com/app/video/vistaPoliza.mp4"
           target="_blank">
          Acceso App movil
        </a>
      </button>
      <button mat-menu-item (click)="logOut()">Cerrar sesión</button>
    </mat-menu>
  </div>
  <!--    BLOCK CONTAINER 3-->
  <div class="headerBlock2">
    <!-- Etiqueta que muestra la extensión-->
    <button mat-flat-button
            disabled
            matTooltip="Extensión"
            *ngIf= "extension.length > 0 &&
                      extension !== 'null'">
          <span class="extension"
                [style.color]="extStatus">
          Ext: {{extension ? extension : 'Sin extensión asignada'}}
        </span>
    </button>
    <!--            <h4 class="extension" [style.color]="extStatus">Extensión: {{extension ? extension : 'Sin extensión asignada'}} </h4>-->
    <!--   Botón para conectar extensión-->
    <button mat-flat-button
            *ngIf="!conectado &&
                        (extension.length > 0 &&
                        extension !== 'null')"
            color="primary"
            class="conectarbtn"
            matTooltip="Conectar extensión"
            [disabled]="!aparecer"
            id="reconnect"
            (click)="conectarExtension()">
      Conectar
    </button>
    <!--   Botón para pausar extensión-->
    <div *ngIf="conectado && (extension.length > 0 && extension !== 'null') && usuario.estadoUsuario === 1">
      <button mat-flat-button
              color="accent"
              matTooltip="Pausar extensión"
              (click)="motivoPausa()">
        <mat-icon>pause</mat-icon>
      </button>
      <!--<div  (click)="finalizarPausa()" class="alinear-items item4" *ngIf="usuario.estadoUsuario===2">-->
      <!--  <h4 style="color: red;">Finalizar pausa</h4>-->
      <!--  <mat-icon>warning</mat-icon>-->
      <!--</div>-->
    </div>
  </div>
  <!--    BLOCK CONTAINER 2-->
  <div class="headerBlock3">
    <!--    ACCESSIBILITY ASSISTANT-->
    <!--    TRIGARANTE ESCUCHA-->
    <a (click)="trigaranteEscucha()" class="logoContainer"><img src="assets/images/logoahorra.png" class="logoAhorra"></a>
    <!--<button mat-button class="escucha" (click)="trigaranteEscucha()">
      <mat-icon>fact_check</mat-icon>
    </button>-->

    <figure [matMenuTriggerFor]="submenu">
      <img src="../../../assets/images/perfil-blanco.svg" matTooltip="Submenú">
    </figure>
    <!--      <button matTooltip="Mensajes por responder" mat-icon-button style="outline: none;"-->
    <!--              [matMenuTriggerFor]="menu"-->
    <!--              matMenu (click)="clickBtn()">-->
    <!--        <mat-icon *ngIf="cantidadNotificacion === 0"-->
    <!--                  [ngClass]="{'moverCampana': efect === 1 && cantidadNotificacion !== 0}" style="font-size: 30px;">-->
    <!--         whatsapp-->
    <!--        </mat-icon>-->
    <!--        <mat-icon *ngIf="cantidadNotificacion !== 0"-->
    <!--                  [ngClass]="{'moverCampana': efect === 1 && cantidadNotificacion !== 0}"-->
    <!--                  [matBadge]="cantidadNotificacion" style="font-size: 30px;">-->
    <!--          whatsapp-->
    <!--        </mat-icon>-->
    <!--      </button>-->
    <mat-menu #menu="matMenu" #matMenuC>
      <!--            <button mat-menu-item *ngFor="let mensaje of dataMensajesCanal" (click)="filtrarPorMensajeNoLeido(mensaje.correlationId)">-->
      <div class="" #addStyle>
        <div class="d-flex" #mMenu>
          <div class="row">
            <div class="col">
              <button mat-menu-item *ngFor="let mensaje of dataMensajesCanal" (click)="aMensajesPendientes()"
                      style="outline: none;">
                <!--              <b>SOLICITUD</b>: {{ mensaje.correlationId }} - {{ mensaje.fecha | date : 'h:mm a' }}-->
                <b>SOLICITUD</b>: {{ mensaje }}
              </button>
            </div>
            <div class="col" style="display: grid;">
              <div *ngFor="let mensaje of dataMensajesCanal">
                <!--                <b #btnOptions></b>-->
                <button mat-icon-button>
                  <mat-icon [matBadge]="cantidadMensajesPorCanal[mensaje]" (click)="iconoMatMenu(mensaje)"
                            style="cursor: pointer;">
                    <img src="../../../assets/images/whatsapp_logo.png" style="height: 26px; width: 26px;" alt="">
                  </mat-icon>
                </button>
                <!--                      <p>{{ cantidadMensajesPorCanal[mensaje] }}</p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-menu>
  </div>
</header>

<mat-sidenav-container class="sidenavWrapper" (backdropClick)="closeSidenav()" autosize>
  <!--Contenido del Sidenav-->
  <mat-sidenav #sidenav (keydown.escape)="closeSidenav()" disableClose mode="over" [ngClass]="{sidenavMenuColor: true, sidenavColor: false, sidenavColorSub: false}">
    <div *ngFor="let menuButton of men; index as indexMenu" class="menuButtonWrapper">
      <div class="menuMain">
        <!-- botones del menu nomarles -->
        <div class="menuButton" *ngIf="!menuButton.children" [routerLink]="menuButton.rutas" (click)="closeSidenav()">
          <a class="menuButtonName">
            {{menuButton.name}}
          </a>
        </div>

        <!-- botones del menu que abren el submenu -->
        <div
          [ngClass]="{menuButton: true, menuButtonActive: indexMenu === buttonActivatedID && menuOpen}"
          *ngIf="menuButton.children"
          (click)="openMenu(indexMenu, menuButton.alias)"
        >
          <a class="menuButtonName">
            {{menuButton.name}}
          </a>
          <mat-icon>{{menuButton.icon}}</mat-icon>
        </div>
      </div>

      <!-- Sub Menu -->
      <div  class="menuChildrenWrapper" [@openClose]="menuOpen ? 'open' : 'close'" [hidden]="buttonActivatedID !== indexMenu">
        <div *ngFor="let menuButtonChildren of menuButton.children; index as indexSubMenu" class="menuChildren">
          <div
            [ngClass]="{
              shortSize:  buttonActivatedID === 6,
              mediumSize: true,
              largeSize:  buttonActivatedID === 12 || buttonActivatedID === 0 || buttonActivatedID === 5
            }"
          >
            <!-- botones del submenu sin hijos -->
            <div
              @slideMenu
              class="menuButton sub"
              *ngIf="!menuButtonChildren.grandChildren && buttonActivatedID === indexMenu && menuOpen === true"
              [routerLink]="menuButtonChildren.rutas"
              (click)="closeSidenav()"
            >
              <a class="menuButtonName subName">
                {{menuButtonChildren.name}}
              </a>
            </div>
            <!-- botones del submenu con hijos -->
            <div
              @slideMenu
              [ngClass]="{menuButton: true, sub: true, submenuButtonActive: indexSubMenu === subButtonActivatedID && submenuOpen === true}"
              *ngIf="menuButtonChildren.grandChildren && buttonActivatedID === indexMenu && menuOpen === true"
              (click)="openSubMenu(indexSubMenu, menuButtonChildren.alias)"
            >
              <a class="menuButtonName subName">
                {{menuButtonChildren.name}}
              </a>
              <mat-icon class="subName">{{menuButtonChildren.icon}}</mat-icon>
            </div>
          </div>
          <!-- Seccion del menu nieto -->
          <div class="menuGrandChildrenWrapper" [@openClose]="submenuOpen ? 'open' : 'close'" [hidden]="indexSubMenu !== subButtonActivatedID">
            <div *ngFor="let menuButtonGrand of menuButtonChildren.grandChildren; index as grandIndex" class="menuGrandChildren">
              <!-- SELECCIONA EL TAMAÑA DEL MENU NIETO -->
              <div [ngClass]="{
                large:  false,
                medium: true,
                small:  subMenuAlias === 'inter',
                tiny: false
              }">

                <!-- botones del submenu sin hijos -->
                <div @slideMenu class="menuButton subGrand" *ngIf="!menuButtonGrand.gen4 && indexSubMenu === subButtonActivatedID && submenuOpen === true" [routerLink]="menuButtonGrand.rutas" (click)="closeSidenav()">
                  <a class="menuButtonName subName">
                    {{menuButtonGrand.name}}
                  </a>
                </div>

                <!-- botones del submenu con hijos -->
                <div
                  @slideMenu
                  [ngClass]="{menuButton: true, subGrand: true, subGrandActive: grandIndex === gen4ActivatedID && gen4Open === true}"
                  *ngIf="menuButtonGrand.gen4 && indexSubMenu === subButtonActivatedID && submenuOpen === true"
                  (click)="openGen4(grandIndex, menuButtonGrand.alias)"
                >
                  <a class="menuButtonName subName">
                    {{menuButtonGrand.name}}
                  </a>
                  <mat-icon class="subName">{{menuButtonGrand.icon}}</mat-icon>
                </div>
              </div>

              <!-- Seccion sub menu gen4 -->
              <div class="gen4Wrapper" [@openClose]="gen4Open ? 'open' : 'close'" [hidden]="grandIndex !== gen4ActivatedID">
                <div *ngFor="let menuGen4 of menuButtonGrand.gen4; index as gen4Index" class="menuGen4">
                  <!-- SELECCIONA EL TAMAÑA DEL MENU GEN4 -->
                  <div [ngClass]="{
                    large:  false,
                    medium: true,
                    small:  gen4Alias === 'corr',
                    tiny: false
                  }">

                    <!-- botones del submenu sin hijos -->
                    <div @slideMenu class="menuButton gen4" *ngIf="!menuGen4.gen5 && grandIndex === gen4ActivatedID && gen4Open === true" [routerLink]="menuGen4.rutas" (click)="closeSidenav()">
                      <a class="menuButtonName subName">
                        {{menuGen4.name}}
                      </a>
                    </div>

                    <!-- botones del submenu con hijos -->
                    <div
                      @slideMenu
                      [ngClass]="{menuButton: true, gen4: true, gen4Active: gen4Index === gen5ActivatedID && gen5Open === true}"
                      *ngIf="menuGen4.gen5 && grandIndex === gen4ActivatedID && gen4Open === true"
                      (click)="openGen5(gen4Index, menuGen4.alias)"
                    >
                      <a class="menuButtonName subName">
                        {{menuGen4.name}}
                      </a>
                      <mat-icon class="subName">{{menuGen4.icon}}</mat-icon>
                    </div>
                  </div>

                  <!-- seccion del menu gen5 -->
                  <div class="gen5Wrapper" [@openClose]="gen5Open ? 'open' : 'close'" [hidden]="gen4Index !== gen5ActivatedID">
                    <div *ngFor="let menuGen5 of menuGen4.gen5; index as gen5Index" class="menuGen5">
                      <!-- SELECCIONA EL TAMAÑA DEL MENU GEN4 -->
                      <div [ngClass]="{
                        large: false,
                        medium: true,
                        small: false,
                        tiny: gen5Alias === 'auto'
                      }">

                        <!-- botones del submenu sin hijos -->
                        <div @slideMenu class="menuButton gen5" *ngIf="!menuGen5.gen6 && gen4Index === gen5ActivatedID && gen5Open === true" [routerLink]="menuGen5.rutas" (click)="closeSidenav()">
                          <a class="menuButtonName subName">
                            {{menuGen5.name}}
                          </a>
                        </div>

                        <!-- botones del submenu con hijos -->
                        <div
                          @slideMenu
                          [ngClass]="{menuButton: true, gen5: true, gen5Active: gen5Index === gen6ActivatedID && gen5Open === true}"
                          *ngIf="menuGen5.gen6 && gen4Index === gen5ActivatedID && gen5Open === true"
                          (click)="openGen6(gen5Index, menuGen5.alias)"
                        >
                          <a class="menuButtonName subName">
                            {{menuGen5.name}}
                          </a>
                          <mat-icon class="subName">{{menuGen5.icon}}</mat-icon>
                        </div>
                      </div>
                      <!-- seccion gen6 -->
                      <div class="gen6Wrapper" [@openClose]="gen6Open ? 'open' : 'close'" [hidden]="gen5Index !== gen6ActivatedID">
                        <div *ngFor="let menuGen6 of menuGen5.gen6; index as gen6Index" class="menuGen6">
                          <!-- SELECCIONA EL TAMAÑA DEL MENU GEN4 -->
                          <div [ngClass]="{
                            gen6Main: true,
                            gen6Large: gen6Alias === 'corr'
                          }">

                            <!-- botones del submenu sin hijos -->
                            <div @slideMenu class="menuButton gen6" *ngIf="!menuGen6.gen7 && gen5Index === gen6ActivatedID && gen6Open === true" [routerLink]="menuGen6.rutas" (click)="closeSidenav()">
                              <a class="menuButtonName subName">
                                {{menuGen6.name}}
                              </a>
                            </div>

                            <!-- botones del submenu con hijos -->
                            <div
                              @slideMenu
                              [ngClass]="{menuButton: true, gen6: true, gen6Active: gen6Index === gen7ActivatedID && gen6Open === true}"
                              *ngIf="menuGen6.gen7 && gen5Index === gen6ActivatedID && gen6Open === true"
                              (click)="openGen7(gen6Index, menuGen6.alias)"
                            >
                              <a class="menuButtonName subName">
                                {{menuGen6.name}}
                              </a>
                              <mat-icon class="subName">{{menuGen6.icon}}</mat-icon>
                            </div>
                          </div>
                          <!-- seccion gen7 -->
                          <div class="gen7Wrapper" [@openClose]="gen7Open ? 'open' : 'close'" [hidden]="gen6Index !== gen7ActivatedID">
                            <div *ngFor="let menuGen7 of menuGen6.gen7; index as gen7Index" class="menuGen7">
                              <!-- SELECCIONA EL TAMAÑA DEL MENU GEN4 -->
                              <div [ngClass]="{
                                gen7Main: true,
                                gen7Large: gen7Alias === 'corr'
                              }">

                                <!-- botones del submenu sin hijos -->
                                <div @slideMenu class="menuButton gen7" *ngIf="gen6Index === gen7ActivatedID && gen7Open === true" [routerLink]="menuGen7.rutas" (click)="closeSidenav()">
                                  <a class="menuButtonName subName">
                                    {{menuGen7.name}}
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!--cierre for-->
      </div > <!-- cierre del sub menu-->
    </div>
  </mat-sidenav>

  <!--Contenido de la pagina-->
  <mat-sidenav-content class="sidenavView">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
