<mat-tab-group>
  <mat-tab label="Catalogo Interno">
<mat-card>
  <a routerLink='/modulos/venta-nueva/solicitudes-interna'>
    <i class="material-icons" matTooltip="Regresar a solicitudes">
      arrow_back
    </i>
  </a>
  <p class="titulo">
    CATALOGOS INTERNOS
  </p>
    <div *ngIf="solicitud" >
      <span fxLayoutAlign="start"
            fxLayout="row"
            class="title">DETALLE DE SOLICITUD</span>

      <div fxLayoutAlign="start"
           fxLayout="row"
           fxLayoutGap="20px">

        <div fxLayout="column" fxFlex="31">
          <p><span>MARCA: </span> {{solicitud.marca}} </p>
          <p><span>MODELO: </span> {{solicitud.modelo}} </p>
        </div>

        <div fxLayout="column" fxFlex="31">
          <p><span>DESCRIPCION: </span> {{solicitud.descripcion}} </p>
          <p><span>SUB-DESCRIPCION: </span>  {{solicitud.subDescripcion}} </p>
        </div>

        <div fxLayout="column" fxFlex="31">
          <p><span>DETALLE: </span> {{solicitud.detalle}} </p>
        </div>
      </div>
    </div>
    <form [formGroup]="formCotizacion">
      <div >
        <div fxLayout="row"
             fxLayoutGap="11px"
             fxLayoutAlign="start">
          <mat-form-field fxFlex="23">
            <mat-label>Tipo Catalogo</mat-label>
            <mat-select (selectionChange)="getMarcas()" formControlName="idTipoSubRamo">
              <mat-option *ngFor="let cotizadores of tipoSubRamos" [value]="cotizadores.id">
                {{cotizadores.tipo}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="23">
            <mat-label>Marca</mat-label>
            <mat-select (selectionChange)="getModelos()" formControlName="idMarca">
              <mat-option *ngFor="let m of marcas" [value]="m.id" (onSelectionChange)="setvalue('marca', m.nombre)">
                {{m.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="23">
            <mat-label>Modelos</mat-label>
            <mat-select (selectionChange)="getDescripcion()" formControlName="idModelo">
              <mat-option *ngFor="let mo of modelos" [value]="mo.id" (onSelectionChange)="setvalue('modelo', mo.nombre)">
                {{mo.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="23">
            <mat-label>Descripcion</mat-label>
            <mat-select (selectionChange)="getSubdescripcion()" formControlName="idDescripcion">
              <mat-option *ngFor="let d of descripciones" [value]="d.idDescripcion" (onSelectionChange)="setvalue('descripcion', d.descripcion)">
                {{d.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div fxLayout="row"
             fxLayoutGap="11px"
             fxLayoutAlign="start">
          <mat-form-field fxFlex="20">
            <mat-label>Sub Descripcion</mat-label>
            <mat-select (selectionChange)="getDetalles()" formControlName="idSubDescripcion">
              <mat-option *ngFor="let s of subdescripciones" [value]="s.idSubDescripcion" (onSelectionChange)="setvalue('subDescripcion', s.subDescripcion)">
                {{s.subDescripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="40">
            <mat-label>Detalles</mat-label>
            <mat-select formControlName="idDetalle">
              <mat-option *ngFor="let d of detalles" [value]="d.id" (onSelectionChange)="setvalue('detalle', d.detalle)">
                {{d.detalle}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row"
             fxLayoutAlign="start"
              fxLayoutGap="15px">
          <button mat-raised-button (click)="resetForm()" >LIMPIAR</button>
          <button [disabled]="this.formCotizacion.invalid" mat-raised-button (click)="guardarsinCotizar()" >
            GUARDAR
          </button>
        </div>
      </div>
    </form>
</mat-card>

  </mat-tab>
  <mat-tab label="Cotizador Online">
    <app-log-aseguradoras [idProspecto]="idProspecto" ></app-log-aseguradoras>
  </mat-tab>
</mat-tab-group>

