

button{
  margin-top: 30px;
}

button:hover{
  color: white;
}

h1{
  color: black;
}

p{
  color: black;
  font-weight: 600;
}

span{
  margin-left: 5px;
}

span.rechazada{
  font-weight: bold;
  color: red;
}

span.pendiente{
  font-weight: bold;
  color: blue;
}

span.aceptada{
  font-weight: bold;
  color: green;
}

.description{
  margin-left: 10px;
}
