//.header{
//  width: 100%;
//  height: 20%;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  margin: 0;
//
//p{
//  font-size: 24px;
//  font-weight: 500;
//  margin: 0;
//}
//
//div{
//  height: 48px;
//}
//}
//
//.mat-tab-group {
//  display: flex;
//  position: absolute;
//  top: 8%;
//  width: 93%;
//  height: 91%;
//  flex-direction: column;
//  margin: 0;
//  padding: 0;
//}
//
//:host ::ng-deep .mat-tab-body-wrapper {
//  top: 8%;
//  width: 100%;
//  height: calc(92% - 48px);
//  box-shadow: 0px 5px 10px 0px #0000005f;
//
//.contentCard{
//  width: 100%;
//  height: 100%;
//  padding: 0;
//  margin: 0;
//}
//}
p{
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}
.contentCard{
  //width: 800px;
  height: 70%;

}
