
<h3>Para monitorear a {{datos.nombre}} ingresa la extension {{datos.extension}}</h3>
<div class="contenedor">

  <input type="text" id="output" [value]="num" maxlength="11"
         disabled >
      <!--   [pKeyFilter]="onlyNumbers"/> -->
  <div class="fila">
    <div class="digit" id="one"  (click)="takevalue(1)" >1</div>
    <div class="digit" id="two" (click)="takevalue(2)" >2
      <div class="sub">ABC</div>
    </div>
    <div class="digit" id="three" (click)="takevalue(3)" >3
      <div class="sub">DEF</div>
    </div>
  </div>

  <div class="fila">
    <div class="digit" id="four" (click)="takevalue(4)" >4
      <div class="sub">GHI</div>
    </div>
    <div class="digit" id="five" (click)="takevalue(5)">5
      <div class="sub">JKL</div>
    </div>
    <div class="digit" (click)="takevalue(6)">6
      <div class="sub">MNO</div>
    </div>
  </div>

  <div class="fila">
    <div class="digit" (click)="takevalue(7)">7
      <div class="sub">PQRS</div>
    </div>
    <div class="digit"(click)="takevalue(8)" >8
      <div class="sub">TUV</div>
    </div>
    <div class="digit" (click)="takevalue(9)">9
      <div class="sub">WXYZ</div>
    </div>
  </div>

  <div class="fila">
    <div class="digit"(click)="takevalue('*')">*
    </div>
    <div class="digit"(click)="takevalue(0)">0
    </div>
    <div class="digit" (click)="takevalue('#')">#
    </div>
  </div>

  <div class="botrow">
    <!--    (click)="sipCall('call-audio')"-->
    <!--    class="llamar"-->

    <button mat-fab  type="button"
            (click)="colgar()">
      <mat-icon>call</mat-icon>
    </button>

    <button mat-icon-button class="borrar" type="button" (click)="borrar()">
      <mat-icon>backspace</mat-icon>
    </button>
  </div>
</div>
