.container-header {
  display: grid;
  grid-template-columns: [col0] 100% [col1];
  grid-template-rows: [row0] 100% [row1];
  align-items: center;
  padding: 7px 24px;
  height: 9%;
  border-bottom: solid 2px #2125291f;
  background-color: #772f6a47;

  p{
    color: #36419deb;
    font-weight: 500;
    font-size: 18px;
    justify-self: center;
    margin: 0;
    grid-area: row0 / col0 / row1 / col1;
  }
  .dateWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: row0 / col0 / row1 / col1;

    p{
      margin:  0;
      color: #36419deb;
      font-weight: 500;
      font-size: 14px;

      span{
        font-weight: 500;
        margin: 0 10px 0 5px;
      }
    }

    img{
      width: 28px;
      height: 28px;
    }
  }
}
.dash-content{
  width: 100%;
  height: 50vh;
  padding: 1% 2% 1% 2%;
  margin: 0;
  overflow: auto;
  display: grid;
  grid-template-columns: [col0] 35% [col1] 50% [col2] 15% [col3];
  grid-template-rows: [row0] 60% [row1] 30% [row2] 10% [row3];

  form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: solid 1px #0000003d;

    h2, mat-form-field{
      width: auto;
      margin: 0;
      font-size: 12px;
    }

    h2{
      font-size: 14px;
    }
  }
}
.buttonWrapper{
  //grid-area: row1 / col2 / row2 / col3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2% 1% 2%;
  width: 100%;
  height: 11%;

  button{
    height: fit-content;
  }
}

h2, h3, p, span {
  color: black;
  font-size: 18px;
}

.vaca-header {
  grid-area: row0 / col1 / row1 / col2;
}

.foto {
  grid-area: row0 / col0 / row2 / col1;
  background-color: #ccc;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vaca-datos {
  grid-area: row0 / col1 / row1 / col3;
  padding-left: 20px;
}

.select {
  grid-area: row1 / col1 / row2 / col2;
  padding-left: 20px;
}

.icono {
  transform: scale(9.0);
}

.vaca-datos p {
  color: #36419deb;
}
