<div class="container-header">
  <p>Llena el formulario para solicitar tus vacaciones</p>
  <div class="dateWrapper">
    <p>Fecha: <span>{{fecha | date: 'dd/MM/yyyy'}}</span></p>
    <img src="../../../../../assets/images/reload.png" matTooltip="Recargar Página" (click)="getCantidadVacaciones()"
         class="recargar">
  </div>
</div>

<ng-template #noCargo>
  <mat-spinner></mat-spinner>
</ng-template>

<div class="dash-content" *ngIf="empleado; else noCargo">
  <div class="foto">
    <mat-icon class="icono">person</mat-icon>
  </div>
  <div class="vaca-datos">
    <p>ÁREA: <span>{{empleado.area}}</span> - DEPARTAMENTO: <span>{{empleado.departamento}}</span> - FECHA INGRESO: <span>{{empleado.fechaIngreso | date: 'dd/MM/yy'}} </span></p>
    <p>ID: <span>{{empleado.id}}</span> - EMPLEADO: <span>{{empleado.nombreEmpleado}}</span> - PUESTO: <span>{{empleado.puesto}}</span></p>
    <p>AÑOS LABORADOS: <span>{{empleado.anios}}</span> - DIAS CORRESPONDIENTES: <span>{{diasCorrespondientes}}</span> - DIAS DISPONIBLES: <span>{{empleado.cantidadVacaciones}}</span></p>
  </div>

  <div fxLayoutAlign="space-between center" fxLayout="row">
    <form [formGroup]="formulario">
      <mat-form-field class="select">
        <mat-label>Fecha</mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="rangeDates[0]" [max]="rangeDates[1]">
          <input matStartDate placeholder="Start date" disabled formControlName="fechaInicio">
          <input matEndDate placeholder="End date" disabled (dateChange)="calcularDias()" formControlName="fechaFinal">

        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker disabled="false" #picker></mat-date-range-picker>
      </mat-form-field>
    </form>

    <div class="buttonWrapper">
<!--      <div class="button-modal" >-->
<!--        <button  mat-raised-button (click)="borrar()">BORRAR</button>-->
<!--      </div>-->
      <button mat-raised-button  *ngIf="empleado.cantidadVacaciones > 0; else noHay" (click)="guardar()" [disabled]="formulario.invalid">Guardar</button>
      <ng-template #noHay>
        <p>NO TIENES DÍAS DISPONIBLES</p>
      </ng-template>
    </div>
  </div>

</div>

