<div class="container-header">
  <p>Aquí veras solicitudes pendientes o finalizadas.</p>
  <div class="dateWrapper">
    <p>Fecha: <span>{{fecha | date: 'dd/MM/yyyy'}}</span></p>
    <div class="reload">
      <img src="../../../../../assets/images/reload.png" matTooltip="Recargar Página" (click)="getSolicitudes()"
           class="recargar">
    </div>
  </div>
</div>

<div class="dash-content" *ngIf="!yaRegistro">
  <mat-accordion>
    <mat-expansion-panel (opened)="onOpen(solicitud.documento, i)"
                         *ngFor="let solicitud of paginator; let i = index" hideToggle>

      <mat-expansion-panel-header>
        <mat-panel-description>
          <div class="bloque">
            <span class="negrita">FECHA SOLICITUD:</span>
            <span >{{ solicitud.fechaRegistro | date: 'dd/MMM/yy' }}</span>
          </div>
          <div class="bloque">
            <span class="negrita">ESTATUS:</span>
            <span [ngClass]="solicitud.idEstadoJustificacion === 3 ?
            'pendiente' : solicitud.idEstadoJustificacion === 2 ?
            'completada' :'rechazada'">
                {{ solicitud.descripcion}} </span>
          </div>
          <div class="bloque">
            <span class="negrita">EMPLEADO:</span>
            <span>{{solicitud.nombre}}</span>
          </div>
          <div class="bloque">
            <span class="negrita">ÁREA:</span>
            <span>{{ solicitud.area }}</span>
          </div>
          <div class="bloque">
            <span class="negrita">DPTO.:</span>
            <span>{{ solicitud.departamento }}</span>
          </div>
          <div class="bloque">
            <span class="negrita">QUIEN SOLICITA:</span>
            <span>{{solicitud.nombreAutorizo}}</span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div id="columna">
        <div class="bloque" *ngIf="solicitud.idEmpleadoADP">
          <span class="negrita2" >{{solicitud.idEstadoJustificacion === 2 ? 'AUTORIZADA' : 'RECHAZADA'}} POR:</span>
          <span>{{solicitud.nombreADP}}</span>
        </div>
        <div class="bloque">
          <span class="negrita2">FECHA ASISTENCIA:</span>
          <span>{{ solicitud.fechaInicio | date: 'dd/MM/yy' }}</span>
        </div>
        <div class="bloque">
          <span class="negrita2">COMENTARIO:</span>
          <span>{{ solicitud.idEstadoJustificacion === 1 ? solicitud.comentariosADP : solicitud.comentarios }}</span>
        </div>
        <div class="bloque" *ngIf="solicitud.idEstadoJustificacion === 3">
          <span class="negrita2">ESTADO ANTERIOR:</span>
          <span>{{ solicitud.estadoAnterior }}</span>
        </div>
        <div class="bloque">
          <span class="negrita2">NUEVO ESTADO SOLICITADO:</span>
          <span>{{ solicitud.estadoAsistencia }}</span>
        </div>
      </div>
      <ngx-extended-pdf-viewer *ngIf="data && currentTab === i; else noCargo" height="90vh"
                               [base64Src]="data"
                               [showBorders]="false"
                               [showDownloadButton]="false"
                               [showOpenFileButton]="false"
                               [showPropertiesButton]="false"
                               [contextMenuAllowed]="false"
                               [showSecondaryToolbarButton]="false"
                               [showBookmarkButton]="false"
                               [enablePrint]="false">
      </ngx-extended-pdf-viewer>
      <ng-template #noCargo>
        <mat-spinner></mat-spinner>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[10, 15, 20, 50]"
                 (page)="onPage($event)">
  </mat-paginator>
</div>
