.header{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;

  p{
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }

  div{
    height: 48px;
  }
}

.mat-tab-group {
  display: flex;
  position: absolute;
  top: 8%;
  width: 93%;
  height: 91%;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

:host ::ng-deep .mat-tab-body-wrapper {
  top: 8%;
  width: 100%;
  height: calc(92% - 48px);
  box-shadow: 0px 5px 10px 0px #0000005f;

  .contentCard {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}

.container-header {
  display: grid;
  grid-template-columns: [col0] 100% [col1];
  grid-template-rows: [row0] 100% [row1];
  align-items: center;
  padding: 7px 24px;
  height: 9%;
  border-bottom: solid 2px #2125291f;
  background-color: #772f6a47;

  p{
    color: #36419deb;
    font-weight: 500;
    font-size: 18px;
    justify-self: center;
    margin: 0;
    grid-area: row0 / col0 / row1 / col1;
  }
  .dateWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: row0 / col0 / row1 / col1;

    p{
      margin:  0;
      color: #36419deb;
      font-weight: 500;
      font-size: 14px;

      span{
        font-weight: 500;
        margin: 0 10px 0 5px;
      }
    }

    img{
      width: 28px;
      height: 28px;
    }
  }
}
.dash-content{
  width: 100%;
  height: 80%;
  padding: 1% 2% 1% 2%;
  margin: 0;
  overflow: auto;

  form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: solid 1px #0000003d;

    h2, mat-form-field{
      width: auto;
      margin: 0;
      font-size: 12px;
    }

    h2{
      font-size: 14px;
    }
  }
}
.buttonWrapper{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 2% 1% 2%;
  width: 100%;
  height: 11%;

  button{
    height: fit-content;
  }
}

h2, h3, span {
  color: black;
  font-size: 18px;
}

#columna {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

#columna p {
  font-size: 18px;
  font-weight: bold;
}

.pendiente{
  font-weight: bold;
  color: #0041ffa6;
}

.completada{
  font-weight: bold;
  color: #00800099;
}

.rechazada{
  font-weight: bold;
  color: #ff0000a6;
}
.cancelada{
  font-weight: bold;
  color: rgb(255, 211, 0);
}
mat-expansion-panel{
  padding: 1.3% 0px 1.3% 0px;
}
.bloque{
  display: flex;
  flex-direction: column;
}
mat-panel-description{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.negrita2 {
  color: black;
  font-weight: bold;
  color: rgba(119, 47, 106, 0.75);
}
.botones-action{
  display: flex;
  justify-content: end;
  gap: 16px;
  margin-top: 1.3vh;
}
