<mat-card *ngIf="permisos?.VN?.verifPendientes">

  <div fxLayout="row" fxLayoutAlign="space-between">
    <button mat-icon-button
            matTooltip="NOMECLATURA DE LOS COLORES"
            (click)="openHelpModal()">
      <mat-icon>help_outline</mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="RECARGAR PÁGINA"
            (click)="getRegistrosEnProceso(true)">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <mat-card-title style="text-align: center; color: #354089" >
    REGISTROS EN PROCESO DE VERIFICACIÓN
  </mat-card-title>

  <div class="ajuste" fxLayout="row" fxLayoutAlign="center">
    <div class="ajuste">
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="picker" disabled [(ngModel)]="rangeDates[0]" [value]="rangeDates[0]" [max]="max" matTooltip="Agregar fecha inicio">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="ajuste">
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label >Fecha final</mat-label>
        <input matInput [matDatepicker]="picker2" disabled [(ngModel)]="rangeDates[1]" [value]="rangeDates[1]" matTooltip="Agregar fecha final">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>


  <div fxLayout="row" fxLayoutAlign="end" style="margin-bottom: 14px;" >

    <div *ngIf="permisos?.VN?.verifPendientes?.fechas" fxLayoutAlign="space-between center" fxLayoutGap="100px" fxFlex="100">
      <mat-form-field class="example-form-field" appearance="legacy" fxFlex="60">
        <mat-label>Filtrar</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event)">
        <button matSuffix mat-icon-button aria-label="Clear" >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button style="margin-left: 200px" (click)="getRegistrosEnProceso(true)">DESPLEGAR FECHAS</button>
    </div>
  </div>

  <mat-card-content>
    <div>
      <table mat-table
             [dataSource]="verificacionesPendientes"
             matSort
             *ngIf="verificacionesPendientes || errorSpin; else spin"
             class="example-container mat-elevation-z8 ">

        <ng-container matColumnDef="poliza">
          <th mat-header-cell
              *matHeaderCellDef
              style="text-align: center;"
              mat-sort-header>
            PÓLIZA
          </th>
          <td mat-cell
              *matCellDef="let element">
            {{element.poliza}} </td>
        </ng-container>

        <ng-container matColumnDef="nombreComercial">
          <th mat-header-cell
              *matHeaderCellDef
              mat-sort-header>
            ASEGURADORA
          </th>
          <td mat-cell
              *matCellDef="let element">
            {{element.nombreComercial}} </td>
        </ng-container>

        <ng-container matColumnDef="estadoPago">
          <th mat-header-cell
              *matHeaderCellDef
              mat-sort-header>
            ESTADO PAGO
          </th>
          <td mat-cell
              *matCellDef="let element">{{element.estadoPago}}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaPago">
          <th mat-header-cell *matHeaderCellDef
              mat-sort-header>
            FECHA PAGO
          </th>
          <td mat-cell
              *matCellDef="let element">
            {{element.fechaPago | date : 'dd/MM/yy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell
              *matHeaderCellDef
              mat-sort-header>
            INICIO VIGENCIA
          </th>
          <td mat-cell
              *matCellDef="let element">
            {{element.fechaInicio | date : 'dd/MM/yy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="subarea">
          <th mat-header-cell
              *matHeaderCellDef
              mat-sort-header>
            DEPARTAMENTO
          </th>
          <td mat-cell
              *matCellDef="let element">
            {{element.descripcion}}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef >EMPLEADO</th>
          <td mat-cell
              *matCellDef="let element" >
            {{element.nombre}}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombreEmpleadoMesa">
          <th mat-header-cell
              *matHeaderCellDef >
            EMPLEADO MC
          </th>
          <td mat-cell *matCellDef="let element">
            <span
              *ngIf="!element.nombreEmpleadoMesa
                    else nombreEmpleado">
              PROCESO NO COMENZADO
            </span>
            <ng-template #nombreEmpleado>
              {{element.nombreEmpleadoMesa}}
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="nombreCliente">
          <th mat-header-cell
              *matHeaderCellDef >
            CLIENTE
          </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.apellidoPaternoCliente &&
                      element.apellidoMaternoCliente;
                      else clienteMoral">
              {{element.nombreCliente}}
            </span>
            <ng-template #clienteMoral>
              {{element.nombreCliente}}
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="numeroSerie">
          <th mat-header-cell
              *matHeaderCellDef mat-sort-header>
            NÚMERO SERIE
          </th>
          <td mat-cell
              *matCellDef="let element" >
            {{element.numeroSerie}}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaCreacion">
          <th mat-header-cell
              *matHeaderCellDef >
            FECHA CREACIÓN
          </th>
          <td mat-cell
              *matCellDef="let element" >
            {{element.fechaCreacion | date: 'dd/MM/yy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
          <th mat-header-cell
              *matHeaderCellDef
              style="text-align: center;">
            <span >ACCIONES</span>
          </th>
          <td  mat-cell *matCellDef="let element">

            <mat-icon *ngIf="permisos?.VN?.verifPendientes?.cliente" [ngClass]="{'documento-en-proceso': element.verificadoCliente === 2 ||
                                                          element.verificadoCliente === 5,
                                  'documento-verificado': element.verificadoCliente === 4,
                                  'documento-espera': element.verificadoCliente === 1 }"
                      matTooltip="Cliente">
              person
            </mat-icon>

            <!--Icono de documentos de producto-->
            <mat-icon *ngIf="permisos?.VN?.verifPendientes?.producto"
              [ngClass]="{'documento-en-proceso': element.verificadoProducto === 2 ||
                                                  element.verificadoProducto === 5,
                          'documento-verificado': element.verificadoProducto === 4,
                          'documento-espera': element.verificadoProducto === 1}"
              matTooltip="Datos del vehículo">
              directions_car
            </mat-icon>
            <!--Icono de documentos de registro-->
            <mat-icon *ngIf="permisos?.VN?.verifPendientes?.registro"
              [ngClass]="{'documento-en-proceso': element.verificadoRegistro === 2 ||
                                                  element.verificadoRegistro === 5,
                          'documento-verificado': element.verificadoRegistro === 4,
                          'documento-espera': element.verificadoRegistro === 1 }"
              matTooltip="Registro">
              insert_drive_file
            </mat-icon>
            <!--Icono de documentos de pago-->
            <mat-icon *ngIf="permisos?.VN?.verifPendientes?.pago" [ngClass]="{'documento-en-proceso': element.verificadoPago === 2 ||
                                                          element.verificadoPago === 5,
                                  'documento-verificado': element.verificadoPago === 4,
                                  'documento-espera': element.verificadoPago === 1 }"
                      matTooltip="Pago">
              attach_money
            </mat-icon>


          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
      <ng-template #spin >
        <mat-spinner  ></mat-spinner>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>

