table {
  width: 100%;
  display: block;
  overflow: auto;
}
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
.documento-verificado {
  color: #1b5900;
}

.documento-espera {
  color: #e7a800;
}

.documento-en-proceso {
  color: #850100;
}



th.mat-sort-header-sorted {
  color: black;
}


.mff {
  width: 100% !important;
  text-align: end;
}

.flexStyle {
  width: 100%;
  height: auto;
  display: inline-flex;
}
.mat-form-field {
  width: 40%;
  color: #111218;
}
.mat-input-element {
  color: #111218;
}
.mat-header-cell {
  background-color: #354089;
  color: white;
}

.mat-icon-disabled {
  color: #ccc!important;
  cursor: not-allowed;
}
.timePicker {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #666666;
  cursor: pointer;
  outline: none;
  color: #666;
  margin-right: 17px;
  width: 120px;
}
.fechas-label {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-right: 10px;
}
.pickTimes {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #666666;
}
.btnDesplegar { width: 200px; height: 50px;}
.btnDesplegar:disabled {background-color: #fff;}
#tableContainer {
  overflow: auto;
  padding: 0;
  margin: 0;
}
.buttonsContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: content-box;
  margin-left: 20px;
}
.buttonsVN:hover {
  color: #fff;
  background: #df1d52;
  background: linear-gradient(to right, #df1d52, #364088);
}
mat-progress-bar {width: 150px;}

.ajuste{
  display: inline-flex;
  width: 100%;
  align-content: center;
  margin-right: auto;
  justify-content: center;
}
