<h1 mat-dialog-title> SOLICITUD JUSTIFICANTE </h1>
<form [formGroup]="form" >

  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="8px">
    <mat-form-field >
      <mat-label>SELECCIONA EL EMPLEADO (A):</mat-label>
      <mat-select formControlName="idEmpleado">
        <input class="filter" [formControl]="input" (keyup)="onKey($event.target.value)" placeholder="¿Qué empleado buscas?" autocomplete="off">
        <mat-option *ngFor="let empleado of empleados" [value]="empleado.id">
          {{empleado.nombre}}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="form.controls.idEmpleado.hasError('required') && form.controls.idEmpleado.touched">
        Se requiere llenar el campo
      </mat-error>
    </mat-form-field>

    <mat-form-field >
      <mat-label>DÍAS DE AUNSENCIA</mat-label>
      <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
        <input matStartDate formControlName="fechaInicio" placeholder="Fecha inicial">
        <input matEndDate formControlName="fechaFin"  placeholder="Fecha final">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker touchUi="true" #picker></mat-date-range-picker>

      <mat-error *ngIf="form.controls.fechaInicio.hasError('matStartDateInvalid')">Fecha inicial invalida</mat-error>
      <mat-error *ngIf="form.controls.fechaFin.hasError('matEndDateInvalid')">Fecha final invalida</mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="8px">
<!--    <mat-form-field >-->
<!--      <mat-label>RAZÓN SOCIAL:</mat-label>-->
<!--      <mat-select formControlName="razonSocial">-->
<!--        <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">-->
<!--          {{empresa.nombre}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--      <mat-error-->
<!--        *ngIf="form.controls.razonSocial.hasError('required') && form.controls.razonSocial.touched">-->
<!--        Se requiere llenar el campo-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->

    <mat-form-field *ngIf="mostrarMotivo">
      <mat-label>MOTIVO:</mat-label>
      <mat-select formControlName="idMotivo">
        <mat-option *ngFor="let motivo of motivos" [value]="motivo.id">
          {{motivo.motivo}}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="form.controls.idMotivo.hasError('required') && form.controls.idMotivo.touched">
        Se requiere llenar el campo
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between">
    <mat-form-field >
      <mat-label>COMENTARIOS:</mat-label>
      <input formControlName="comentarios" matInput #message maxlength="255" oninput="this.value = this.value.toUpperCase()">
      <mat-hint align="end">{{message.value.length}} / 255</mat-hint>
      <mat-error *ngIf="form.controls.comentarios.hasError('required')">
        Se requiere llenar el campo
      </mat-error>
    </mat-form-field>
    <button mat-icon-button class="copyPATH file" (click)="fileInput.click()">
      Documento:
      <input #files (change)="subirDocumento(files.files)" hidden accept="application/pdf" type="file" #fileInput/>
      <mat-icon color="primary" matTooltip="Subir documento">description</mat-icon>
      {{ file.name }}
    </button>
    <mat-error *ngIf="form.valid && !file.data">
      Se debe de anexar un documento
    </mat-error>
  </div>

  <div fxLayoutAlign="end" fxLayoutGap="20px">
    <button mat-raised-button class="button-modal" [disabled]="form.invalid || !file.data" (click)="onSubmit()"> GUARDAR</button>
    <button mat-raised-button class="button-modal" (click)="cerrar()"> Cerrar</button>
  </div>
</form>

<!--<div mat-dialog-content>-->
<!--&lt;!&ndash;  <span&ndash;&gt;-->
<!--&lt;!&ndash;    class="aviso"> *Importante, si quieres solicitar mas de un dia, necesitas generar una solicitud por cada uno. </span>&ndash;&gt;-->
<!--  <form [formGroup]="form" >-->
<!--    <div>-->
<!--      <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutGap.xs="0px">-->
<!--        <mat-form-field fxFlex="48" fxFlex.xs="100" fxLayout="column">-->
<!--        <mat-label>SELECCIONA EL EMPLEADO (A):</mat-label>-->
<!--          <mat-select formControlName="idEmpleado">-->
<!--            <input class="filter" [formControl]="input" (keyup)="onKey($event.target.value)" placeholder="¿Qué empleado buscas?" autocomplete="off">-->
<!--            <mat-option *ngFor="let empleado of empleados" [value]="empleado.id">-->
<!--              {{empleado.nombre}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--          <mat-error-->
<!--            *ngIf="form.controls.idEmpleado.hasError('required') && form.controls.idEmpleado.touched">-->
<!--            Se requiere llenar el campo-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->

<!--&lt;!&ndash;        <mat-form-field fxFlex="48" fxFlex.xs="100" fxLayout="column">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-label>DÍA DE AUNSENCIA</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;          <input formControlName="fechaSolicitud" matInput disabled [matDatepicker]="picker" [max]="max">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-datepicker #picker color="primary" [disabled]="!!data.asistencia"></mat-datepicker>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-error *ngIf="form.controls.fechaSolicitud.hasError('required') && form.controls.fechaSolicitud.touched">&ndash;&gt;-->
<!--&lt;!&ndash;            Se requiere llenar el campo&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-form-field>&ndash;&gt;-->

<!--        <mat-form-field >-->
<!--          <mat-label>DÍA DE AUNSENCIA</mat-label>-->
<!--          <mat-date-range-input [formGroup]="form" [rangePicker]="picker">-->
<!--            <input matStartDate formControlName="start" placeholder="Fecha inicial">-->
<!--            <input matEndDate formControlName="end"  placeholder="Fecha final">-->
<!--          </mat-date-range-input>-->
<!--          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>-->
<!--          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--          <mat-date-range-picker touchUi="true" #picker></mat-date-range-picker>-->

<!--          <mat-error *ngIf="form.controls.start.hasError('matStartDateInvalid')">Fecha inicial invalida</mat-error>-->
<!--          <mat-error *ngIf="form.controls.end.hasError('matEndDateInvalid')">Fecha final invalida</mat-error>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field fxFlex="32" fxFlex.xs="100" fxLayout="column">-->
<!--          <mat-label>MOTIVO:</mat-label>-->
<!--          <mat-select formControlName="idMotivo">-->
<!--            <mat-option *ngFor="let motivo of motivos" [value]="motivo.id">-->
<!--              {{motivo.motivo}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--          <mat-error-->
<!--            *ngIf="form.controls.idMotivo.hasError('required') && form.controls.idMotivo.touched">-->
<!--            Se requiere llenar el campo-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->

<!--&lt;!&ndash;        <mat-form-field fxFlex="32" fxFlex.xs="100" fxLayout="column">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-label>FOLIO:</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;          <input formControlName="folio" matInput maxlength="255" oninput="this.value = this.value.toUpperCase()">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-error *ngIf="form.controls.folio.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;            Se requiere llenar el campo&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;        <mat-form-field fxFlex="32" fxFlex.xs="100" fxLayout="column">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-label>TIPO DE JUSTIFICACIÓN:</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-select formControlName="idTipoJustificacion">&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-option *ngFor="let tipo of tipoJustificacion" [value]="tipo.id">&ndash;&gt;-->
<!--&lt;!&ndash;              {{tipo.tipo}}&ndash;&gt;-->
<!--&lt;!&ndash;            </mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-select>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-error&ndash;&gt;-->
<!--&lt;!&ndash;            *ngIf="form.controls.idTipoJustificacion.hasError('required') && form.controls.idTipoJustificacion.touched">&ndash;&gt;-->
<!--&lt;!&ndash;            Se requiere llenar el campo&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-form-field>&ndash;&gt;-->

<!--        <mat-form-field fxFlex="64" fxFlex.xs="100" fxLayout="column">-->
<!--          <mat-label>COMENTARIOS:</mat-label>-->
<!--          <input formControlName="comentarios" matInput #message maxlength="255" oninput="this.value = this.value.toUpperCase()">-->
<!--          <mat-hint align="end">{{message.value.length}} / 255</mat-hint>-->
<!--          <mat-error *ngIf="form.controls.fechaSolicitud.hasError('required')">-->
<!--            Se requiere llenar el campo-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->
<!--      </div>-->

<!--      <button mat-icon-button class="copyPATH file" (click)="fileInput.click()">-->
<!--        Documento:-->
<!--        <input #files (change)="subirDocumento(files.files)" hidden accept="application/pdf" type="file" #fileInput/>-->
<!--        <mat-icon color="primary" matTooltip="Subir documento">description</mat-icon>-->
<!--        {{ file.name }}-->
<!--      </button>-->
<!--      <mat-error *ngIf="form.valid && !file.data">-->
<!--        Se debe de anexar un documento-->
<!--      </mat-error>-->
<!--    </div>-->

<!--&lt;!&ndash;    <button mat-raised-button (click)="cerrar()">CERRAR</button>&ndash;&gt;-->
<!--    <button mat-raised-button class="button-modal" [disabled]="form.invalid || !file.data" (click)="onSubmit()"> GUARDAR</button>-->
<!--  </form>-->
<!--</div>-->
