<mat-card *ngIf="permisos?.COB?.adminPolizas">
  <mat-card-header >
    <mat-card-title >CREAR ENDOSO</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="endosoCreateform">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div>
            <mat-form-field class="mt-4">
              <mat-label>TIPO ENDOSO</mat-label>
              <mat-select formControlName="idTipoEndoso" (selectionChange)="getMotivoEndosos()">
                <mat-option *ngFor="let endoso of tipoEndosos" [value]="endoso.id" id="idTipoEndoso">
                  {{endoso.descripcion}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="!endosoCreateform.controls['idTipoEndoso'].valid&&endosoCreateform.controls['idTipoEndoso'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
            <mat-form-field class="mt-4">
              <mat-label>MOTIVO ENDOSO</mat-label>
              <mat-select formControlName="idMotivoEndoso">
                <mat-option *ngFor="let endoso of motivoEndosos" [value]="endoso.id"  id="idMotivoEndoso">
                  {{endoso.descripcion}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="!endosoCreateform.controls['idMotivoEndoso'].valid&&endosoCreateform.controls['idMotivoEndoso'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text"
                     formControlName="comentarios" oninput="this.value = this.value.toUpperCase()" maxlength="255"
                     placeholder="COMENTARIOS" id="comentarios"  autocomplete="off" />
              <mat-hint *ngIf="!endosoCreateform.controls['comentarios'].valid&&endosoCreateform.controls['comentarios'].dirty">
                El Campo es requerido </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">

    <button mat-raised-button id="submit" (click)="createEndoso()" [disabled]="!endosoCreateform.valid">Guardar
    </button>
    <button mat-raised-button class="rojo" (click)="dismiss()">Cancelar</button>
  </mat-card-actions>
</mat-card>



