.regresar mat-icon {
    font-size: 3.5em;
    cursor: pointer;
    color: #354089;
  }
  .regresar span {
    margin-top: 19px;
    margin-left: 12px;
    font-size: 0.8em;
    color: #354089;
    font-weight: bold;
  }
  .campo .regresar {
    display: flex;
    flex-direction: row;
    vertical-align: baseline;
    margin-top: -10px;
    cursor: pointer;
    width: 10%;
  }
  .title {
    text-align: center;
  }
  .text-title {
    color: #354089;
    font-family: Montserrat, Arial;
    font-size: 1.15em;
    letter-spacing: 2px;
  }
  .card-title {
    display: flex;
    justify-content: center;
  }
  div.regresar:focus {outline:none;}

  .mat-card-title {
    padding-top: 20px;
  }
  .campo {
    font-size: 17px;
  }
.alignButtons{
  width: 100%;
  align-content: center;
}

.styleInButton{
  width: 25%;
  height: 30px;
  border: none;
  background-color: white;
}
