<mat-card class="header">
  <p>VACACIONES</p>
  <div></div>
</mat-card>
<mat-tab-group (selectedTabChange)="tabClick($event)" mat-align-tabs="center">
  <mat-tab label="Solicitudes Realizadas" *ngIf="permisos?.solicitudesRealizadasVac">
    <mat-card class="contentCard">
      <app-vacaciones-solicitadas [esEjecutivo]="1"></app-vacaciones-solicitadas>
    </mat-card>
  </mat-tab>

  <mat-tab label="Pendientes de autorizar" *ngIf="permisos?.vacacionesPendientes">
    <mat-card class="contentCard">
      <app-vacaciones-solicitadas [esEjecutivo]="0"></app-vacaciones-solicitadas>
    </mat-card>
  </mat-tab>

  <mat-tab label="Solicitar Vacación" *ngIf="permisos?.solicitarVacaciones">
    <mat-card class="contentCard">
      <app-solicitar-vacacion></app-solicitar-vacacion>
    </mat-card>
  </mat-tab>
</mat-tab-group>

