p span {
  color: #354089;
  font-weight: 500;
}

mat-card-title {
  margin-bottom: 4%;
}

#header-title {
  margin: 3% 0;
}

mat-card {
  border: none !important;
  box-shadow: none !important;
}

mat-hint {
  color: tomato !important;
}

.col-4 {
  padding: 0!important;
}

mat-card-actions {
  text-align: right;
}

.btns {
  transition: ease .5s;
}

.btns:hover {
  color: #fff;
  background: #df1d52;
  background: linear-gradient(to right, #df1d52, #364088);
}
