<div class="contenedor">
  <mat-card-title>{{idProspectoExis ? 'ACTUALIZAR' : 'CREAR' }} PROSPECTO</mat-card-title>

  <mat-card-content>
    <form [formGroup]="prospectoCreateForm" fxLayout="row" fxLayoutAlign="center baseline" fxLayoutGap="15px">
      <!--      COLUMNA 1-->
      <div fxLayout="column" fxFlex="50" fxLayoutGap="15px" fxLayoutAlign="center center">
        <mat-form-field>

          <input matInput type="text" formControlName="correo"  oninput="this.value = this.value.toUpperCase()"
                 placeholder="CORREO" (keyup)="validaCorreo($event.target.value)"/>
          <mat-hint *ngIf="!prospectoCreateForm.controls['correo'].valid&&prospectoCreateForm.controls['correo'].dirty">
            Se requiere llenar el campo
          </mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput

                 type="text"
                 formControlName="numero"

                 id="numero"
                 maxlength="10"
                 placeholder="TELEFONO MOVIL"
                  autocomplete="off"/>
          <mat-hint *ngIf="!prospectoCreateForm.controls['numero'].valid&&prospectoCreateForm.controls['numero'].dirty">
            Se requiere llenar el campo
          </mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput

                 type="text"
                 formControlName="nombre"

                 id="nombre"
                 oninput="this.value = this.value.toUpperCase()"
                 placeholder="NOMBRE"

                 autocomplete="off" />
          <mat-hint *ngIf="!prospectoCreateForm.controls['nombre'].valid&&prospectoCreateForm.controls['nombre'].dirty">
            Se requiere llenar el campo
          </mat-hint>
        </mat-form-field>
      </div>
      <!--COLUMNA 2-->
      <div fxLayout="column" fxFlex="50" fxLayoutGap="15px" fxLayoutAlign="center center">
        <mat-form-field class="mt-4">
          <mat-label>SELECCIONE EL GÉNERO</mat-label>
          <mat-select formControlName="sexo">
            <mat-option *ngFor="let genero of genero" [value]="genero.value"  id="sexo">
              {{genero.label}}
            </mat-option>
          </mat-select>
          <mat-hint *ngIf="!prospectoCreateForm.controls['sexo'].valid&&prospectoCreateForm.controls['sexo'].dirty">
            Se requiere llenar el campo
          </mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput

                 type="text"
                 formControlName="edad"

                 id="edad"
                 placeholder="EDAD"
                 maxlength="2"/>
          <mat-hint
            *ngIf="!prospectoCreateForm.controls['edad'].valid&&prospectoCreateForm.controls['edad'].dirty">
            Se requiere llenar el campo adecuadamente
          </mat-hint>
        </mat-form-field>

        <div *ngIf="idProspectoExis">
          <mat-hint *ngIf="productoSolicitud.length === 0; else siHay"> No hay productos existentes. Por favor cree un Nuevo Producto</mat-hint>
          <ng-template #siHay>
            <mat-form-field>
              <mat-label>Solicitudes</mat-label>
              <mat-select (selectionChange)="getSolictud($event.value)">
                <mat-option *ngFor="let dato of productoSolicitud" [value]="dato.valor">
                  {{dato.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-template>
        </div>
      </div>



    </form>
    <div *ngIf="solicitud">
      <div fxLayout="row" fxLayoutAlign="center ">
        <h2 >DETALLE DE SOLICITUD</h2>
      </div>

      <div fxLayout="row" fxLayoutAlign="end ">
        <button mat-button
                fxLayoutAlign="end"
                class="right"
                color="primary"
                (click) ="dismiss()"
                [routerLink]="['/modulos/cobranza/cotizador-vn/', idProspectoExis, idSolicitud]">
          Recotizar</button>
      </div>

      <div fxLayout="row" fxLayoutAlign="center baseline" fxLayoutGap="15px">
        <div fxLayout="column"
             fxFlex="34"
             fxLayoutGap="10px">
          <p><span>CP: </span> {{solicitud.cp}} </p>
          <p><span>CLAVE: </span> {{solicitud.clave}} </p>
          <p><span>MARCA: </span> {{solicitud.marca}} </p>
        </div>
        <div fxLayout="column"
             fxFlex="34"
             fxLayoutGap="10px">
          <p><span>MODELO: </span> {{solicitud.modelo}} </p>
          <p><span>PAQUETE: </span> {{solicitud.paquete}} </p>
          <p><span>SERVICIO: </span> {{solicitud.servicio}} </p>
        </div>

        <div fxLayout="column"
             fxFlex="34"
             fxLayoutGap="10px">
          <p><span>DESCUENTO: </span> {{solicitud.descuento}} </p>
          <p><span>MOVIMIENTO: </span> {{solicitud.movimiento}} </p>
          <p><span>ASEGURADORA: </span> {{solicitud.aseguradora}} </p>
          <p><span>DESCRIPCIÓN: </span> {{solicitud.descripcion}} </p>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions >
    <button mat-button (click)="abrirCotizador()"
            [disabled]="!prospectoCreateForm.valid || !idProspectoExis"> Crear Producto
    </button>
    <button mat-button
            (click)="guardarProspecto()"
            [disabled]="!prospectoCreateForm.valid">{{idProspectoExis ? 'Actualizar' : 'Guardar'}} Prospecto
    </button>
    <button mat-button  (click)="dismiss()">Cerrar</button>
  </mat-card-actions>

</div>


