<mat-card class="example-form">
  <mat-card-title>PRODUCTO CLIENTE
    <div class="col align-self-center">
      <a style=" color: #000; font-size: 1.1rem;">Todos los datos que tienen un asterisco  (<b
        style="color: red;">*</b>) son requeridos</a>
    </div>
  </mat-card-title>
  <mat-card-content >
    <div class="col-md-12">
      <div class="detalles col-md-12 row mb-4" *ngIf="this.cliente !== undefined && datos === null">
        <span id="header-title" style="margin-bottom: 3%;">
          ¡LOS DATOS NO HAN SIDO LLENADOS Y POR ELLO NO SE PUEDE MOSTRAR LA INFORMACIÓN DE LA COTIZACIÓN,
          SI LO DESEA VUELVA A CREAR LA COTIZACIÓN EN LA LEYENDA DE "DESEA CAMBIAR LOS DATOS DEL PRODUCTO"!
        </span>
      </div>
      <div>
        <div class="detalles col-md-12 row mb-4"
             *ngIf="datos !== undefined || datos">
          <div class="col-4">
            <div>
              <p><span>Marca: </span> {{datos.marca}} </p>
              <p><span>Modelo: </span> {{datos.modelo}} </p>
            </div>

          </div>
          <div class="col-4">
            <div>
              <p><span>Descripcion: </span> {{datos.descripcion}} </p>
              <p><span>Sub-Descripcion: </span>  {{datos.subDescripcion}} </p>
              <p><span>Detalle: </span> {{datos.detalle}} </p>

            </div>
          </div>
        </div>
      </div>

      <span id="header-title mb-4" style="margin-bottom: 3%;">
        INTRODUCE LOS SIGUIENTES DATOS CORRECTAMENTE:
      </span>
      <mat-card>
        <form [formGroup]="formDatos">
          <div class="row box-content content-form">
            <div class="col">
              <mat-form-field>
                <input matInput type="text" formControlName="numeroSerie" id="numeroSerie"
                       onpaste="return true" oncopy="return false"
                       oninput="this.value = this.value.toUpperCase()" maxlength="17"
                       placeholder="Número de Serie *" onDrop="return false" autocomplete="off"/>
                <mat-error *ngIf="formDatos.controls['numeroSerie'].hasError('minlength'); else numSerieExistente">
                  Se al menos 8 carácteres alfanuméricos
                </mat-error>
                <ng-template #numSerieExistente>
                  <mat-error *ngIf="!formDatos.controls['numeroSerie'].valid && formDatos.controls['numeroSerie'].value !== '' ">
                    Se requiere un número de serie <strong>inexistente</strong>
                  </mat-error>
                  <mat-error *ngIf="!formDatos.controls['numeroSerie'].valid && formDatos.controls['numeroSerie'].value === '' ">
                    Se requiere llenar este campo
                  </mat-error>
                </ng-template>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <input matInput type="text" formControlName="numeroPlacas" id="numeroPlacas" (blur)="verificarNumeroPlaca()"
                       onpaste="return true" oncopy="return false"
                       oninput="this.value = this.value.toUpperCase()" maxlength="10" minlength="3"
                       placeholder="Número de Placas" onDrop="return false" autocomplete="off"/>
                <mat-error *ngIf="!formDatos.controls['numeroPlacas'].valid && formDatos.controls['numeroPlacas'].dirty">
                  Se requiere llenar el campo
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <input matInput type="text" formControlName="numeroMotor" id="numeroMotor" maxlength="41"
                       onpaste="return true" oncopy="return false"
                       oninput="this.value = this.value.toUpperCase()"
                       placeholder="Número de Motor" onDrop="return false" autocomplete="off"/>
                <mat-hint *ngIf="!formDatos.controls['numeroMotor'].valid&&formDatos.controls['numeroMotor'].dirty">
                  Se requiere llenar el campo
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </form>
        <mat-slide-toggle #recotizarCheck>Desea cambiar los datos del producto?</mat-slide-toggle>

        <form *ngIf="recotizarCheck.checked" [formGroup]="formCotizacion">

          <div class="row box-content content-form" *ngIf="datos">
            <div class="col-3">
              <mat-form-field *ngIf="aseguradoras">
                <mat-label>Catalogos</mat-label>
                <mat-select (selectionChange)="getMarcas()" [(value)]="tipoSubRamo" name="catalogos"
                            formControlName="catalogos">
                  <mat-option *ngFor="let a of tipoSubRamos" [value]="a" >
                    {{a.tipo}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field>
                <mat-label>Marca</mat-label>
                <mat-select [(value)]="marcaValue" (selectionChange)="getModelos()" name="marca"
                            formControlName="marca">
                  <mat-option *ngFor="let m of marcas" [value]="m">
                    {{m.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field>
                <mat-label>Modelos</mat-label>
                <mat-select [(value)]="modeloValue" (selectionChange)="getDescripcion()"
                            formControlName="modelos" name="modelos">
                  <mat-option *ngFor="let o of modelos" [value]="o">
                    {{o.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field>
                <mat-label>Descripcion</mat-label>
                <mat-select [(value)]="descripcioneValue" (selectionChange)="getSubdescripcion()"
                            name="descripcion" formControlName="descripcion">
                  <mat-option *ngFor="let d of descripciones" [value]="d">
                    {{d.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-3">
              <mat-form-field>
                <mat-label>Subdescripcion</mat-label>
                <mat-select [(value)]="subdescripcioneValue" (selectionChange)="getDetalles()"
                            name="subdescripcion" formControlName="subdescripcion">
                  <mat-option *ngFor="let s of subdescripciones" [value]="s">
                    {{s.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6" >
              <mat-form-field>
                <mat-label>Detalles</mat-label>
                <mat-select [(value)]="detalleVlaue"
                            formControlName="detalles">
                  <mat-option *ngFor="let d of detalles" [value]="d">
                    {{d.detalle}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

        </form>
      </mat-card>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <div class="row justify-content-end">
      <!--<button mat-button *ngIf="recotizarCheck.checked" (click)="actualizarProducto('recotizado')">Actualizar Producto</button>
      <button class="btns" mat-button *ngIf="!recotizarCheck.checked" (click)="actualizarProducto('normal')"
      >Actualizar Producto</button>
      <div class="col-md-7"></div>-->
      <button mat-button *ngIf="recotizarCheck.checked" (click)="actualizarProducto('recotizado')">Continuar</button>
      <button class="btns" mat-button *ngIf="!recotizarCheck.checked" (click)="actualizarProducto()"
      >Continuar</button>
      <!--      <button mat-button [disabled]="crearProd" (click)="registroDatos()">Continuar</button>-->
    </div>
    <!--    <button mat-button *ngIf="recotizarCheck.checked" (click)="actualizarProducto('recotizado')">Actualizar Producto</button>-->


    <!--        <button class="btns" mat-button *ngIf="!recotizarCheck.checked" (click)="actualizarProducto('normal')"-->
    <!--                >Actualizar Producto</button>-->
  </mat-card-actions>
</mat-card>
