<mat-card *ngIf="permisos?.COB?.corrErroresDocs">

  <div fxLayoutAlign="end">

    <button mat-icon-button
            matTooltip="RECARGAR PÁGINA"
            (click)="getDocumentosPCorregirA(true)">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <mat-card-title style="text-align: center; color: #354089" >
    ERRORES PENDIENTES EN DOCUMENTOS DE {{tipoCorreccion === 'autorizacion' ? 'AUTORIZACIÓN' : 'VERIFICACIÓN'}}
  </mat-card-title>

  <div fxLayout="row" fxLayoutAlign="space-between" >
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label" fxFlex="30">inicio</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="picker" disabled
               [(ngModel)]="rangeDates[0]"
               [value]="rangeDates[0]"
               [max]="max"
               matTooltip="Agregar fecha inicio">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label"  fxFlex="30">fin</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label >Fecha final</mat-label>
        <input matInput [matDatepicker]="picker2" disabled
               [(ngModel)]="rangeDates[1]"
               [value]="rangeDates[1]"
               matTooltip="Agregar fecha final">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>


  <div fxLayout="row" fxLayoutAlign="end" style="margin-bottom: 14px;" >

    <div fxLayoutAlign="space-between center" fxLayoutGap="100px" fxFlex="100">
      <mat-form-field class="example-form-field" appearance="legacy" fxFlex="60">
        <mat-label>Filtrar</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event)">
        <button matSuffix mat-icon-button aria-label="Clear" >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button fxFlex="50" (click)="getDocumentosPCorregirA(true)">DESPLEGAR FECHAS</button>
    </div>
  </div>

  <mat-card-content>
    <div>
      <table mat-table [dataSource]="documentosPCorregir" matSort *ngIf="documentosPCorregir || errorSpin; else spin"
             class="example-container mat-elevation-z8 ">
        <ng-container matColumnDef="poliza">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            PÓLIZA
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.poliza}} </td>
        </ng-container>

        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            NÚMERO DE INTENTOS
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.numero}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            INICIO VIGENCIA
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.fechaInicio | date: 'dd/MM/yy'}}
        </ng-container>

        <ng-container matColumnDef="nombreCliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            CLIENTE
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreCliente}}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            EMPLEADO
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.nombre}}
        </ng-container>

        <ng-container matColumnDef="nombreMesa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            SUPERVISOR
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreMesa}}
        </ng-container>

        <ng-container matColumnDef="fechaCreacion">
          <th mat-header-cell *matHeaderCellDef >FECHA DE CREACIÓN</th>
          <td mat-cell *matCellDef="let element" >
              {{element.fechaCreacionError | date: 'dd/MM/ yy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaPago">
          <th mat-header-cell *matHeaderCellDef >
            FECHA DE PAGO
          </th>
          <td mat-cell *matCellDef="let element" >
            {{element.fechaPago | date: 'dd/MM/yy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombreComercial">
          <th mat-header-cell *matHeaderCellDef >
            SOCIO
          </th>
          <td mat-cell *matCellDef="let element" >
            {{element.nombreComercial}}
          </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>
            DEPARTAMENTO
          </th>
          <td mat-cell *matCellDef="let element" >
            {{element.descripcion}}
          </td>
        </ng-container>

        <ng-container matColumnDef="horasRestantes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            HORAS RESTANTES
          </th>
          <td mat-cell
              *matCellDef="let element">
            <span *ngIf="diferenciaDeHoras(element.fechaCreacionError) >= 0; else mensajeIncumplimiento">
              {{diferenciaDeHoras(element.fechaCreacionError)}}
            </span>
            <ng-template #mensajeIncumplimiento>
              Revisión extemporanea
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">
            <span >ACCIONES</span>
          </th>
          <td  mat-cell *matCellDef="let element">

            <!--Icono de documentos del cliente-->
            <mat-icon *ngIf="element.verificadoCliente === 2 && permisos?.COB?.corrErroresDatos?.verifCliente"
                      (click)="mostrarDocumentos(element,  1)"
                      matTooltip="Verificar documentos del cliente"
                      matTooltipPosition="right">
              person
            </mat-icon>
            <!--Icono de documentos de Producto cliente-->
            <mat-icon *ngIf="element.verificadoProducto === 2 && permisos?.COB?.corrErroresDatos?.verifProducto"
                      (click)="mostrarDocumentos(element, 3)"
                      matTooltip="Verificar documentos de producto cliente"
                      matTooltipPosition="right">
              directions_car
            </mat-icon>
            <!--Icono de documentos de registro-->
            <mat-icon *ngIf="element.verificadoRegistro === 2 && permisos?.COB?.corrErroresDatos?.verifRegistro"
                      (click)="mostrarDocumentos(element, 2)"
                      matTooltip="Verificar documentos de registro"
                      matTooltipPosition="right">
              insert_drive_file
            </mat-icon>
            <!--Icono de documentos de pago-->
            <mat-icon *ngIf="element.verificadoPago === 2 && permisos?.COB?.corrErroresDatos?.verifPago"
                      (click)="mostrarDocumentos(element, 4)"
                      matTooltip="Verificar documentos de pago"
                      matTooltipPosition="right">
              attach_money
            </mat-icon>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"
            [ngStyle]="{'background-color': diferenciaDeHoras(row.fechaCreacionError) <= 0?'#ffdbe2': '#d7ffcf'}">

        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
      <ng-template #spin >
        <mat-spinner  ></mat-spinner>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>

