.telefono {
  color: tomato;
}

mat-card {
  width: 100%;
  padding-bottom: 10%;
}

mat-label {
  color: #354089!important;
  font-size: 15px!important;
}

.mat-tab-header {
  margin-bottom: 4% !important;
}

input {
  border: none;
  padding: 0!important;
}

.form-control {
  border: none;
  font-size: 1rem;
}

.form-control:focus {
  border: none;
}

//
///* input color class */
//::ng-deep input.mat-input-element {
//  color: #354089;
//}
//
///* Change label color on focused */
//::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
//  color: #111218 !important;
//}
//
///* underline border color on focused */
//::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
//  background-color: #111218 !important;
//}
//.mat-form-field-invalid .mat-input-element{
//  caret-color: #111218;
//}

mat-form-field {
  margin-right: 12px;
  width: 100%;
}

.mat-card-header {
  text-align: center;
  display: block;
}

.mat-hint {
  transition: all 0.5s;
}

mat-card-actions button {
  background-color: #111218;
  color: white;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

button:disabled {
  background-color: transparent;
}

mat-datepicker-toggle {
  font-size: 1.5rem;
  background-color: transparent;
  color: #000000;
  transition: all ease 0.4s;
}

mat-datepicker-toggle:hover {
  color: #0082ff;
}

.btns {
  transition: 0.5s;
  padding-left: 15px;
}

.btns:hover {
  color: #fff;
  background: #df1d52;
  background: linear-gradient(to right, #df1d52, #364088);
}

.laodingData {
  color: tomato;
  animation: reload 1s linear infinite;
  z-index: 10;
  top: 15px;
}
.relativeLoad {

}

mat-card-actions {
  display: inline-flex;
  text-align: right;
  padding-left: 10px;
}

.mat-card > .mat-card-actions:last-child {
  float: right;
  background-color: transparent;
  box-shadow: none;
  padding-top: 10px;
}

.mat-card-actions .mat-raised-button:first-child {
  margin-right: 8px;
}

@media (max-width: 425px) {
  .btns { width: 98px; height: 30px; font-size: .6rem; font-weight: normal; padding-left: 5px; margin-right: 4px; }
  .mat-card > .mat-card-actions:last-child { float: none; padding-top: 0px; }
}

// Icono de espera en formulario
.laodingData {
  color: tomato;
  animation: reload 1s linear infinite;
  z-index: 10;
  position: absolute;
  right: -22px;
  top: 15px;
}
.relativeLoad {
  position: relative;
}
