
<header>
  <div class="titleWrapper"><p>Datos de Cotización</p></div>
  <button mat-button (click)="dismiss()" class="closeButton">
    <mat-icon>close</mat-icon>
  </button>
</header>

<div class="dialogContent">

  <div class="formWrapper">
    <form [formGroup]="formCotizacion">
      <div class="rowWrapper">
        <mat-form-field appearance="outline">
          <mat-label>Selecciona el descuento</mat-label>
          <mat-select [(value)]="descuento" formControlName="descuento">
            <mat-option *ngFor="let desc of descuentos" [value]="desc">
              {{desc}}%
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Edad del conductor</mat-label>
          <mat-select [(value)]="edad" name="edad" formControlName="edad">
            <mat-option *ngFor="let edad of edades" [value]="edad">
              {{edad}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Código Postal</mat-label>
          <input matInput type="text" maxLength="5" name="cp" formControlName="cp" oncopy="return false"
                 (keyup)="validarCp($event.target.value)">
          <mat-hint *ngIf="this.formCotizacion.controls['cp'].errors && this.formCotizacion.controls['cp'].dirty">
            Introduce un CP válido</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Genero del conductor</mat-label>
          <mat-select [(value)]="genero" formControlName="genero" name="genero">
            <mat-option value="MASCULINO">MASCULINO</mat-option>
            <mat-option value="FEMENINO">FEMENINO</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="rowWrapper">
        <mat-form-field appearance="outline">
          <mat-label>Marca</mat-label>
          <mat-select [(value)]="marca" (selectionChange)="getModelos()" name="marca"
                      formControlName="marca">
            <mat-option *ngFor="let m of marcas" [value]="m.text">
              {{m.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Modelos</mat-label>
          <mat-select
            [(value)]="modelo"
            (selectionChange)="getSubmarca()"
            formControlName="modelos"
            name="modelos"
          >
            <mat-option *ngFor="let o of modelos" [value]="o.text">
              {{o.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Sub-Marca</mat-label>
          <mat-select
            [(value)]="submarca"
            (selectionChange)="getDescripcion()"
            name="submarca"
            formControlName="submarca"
          >
            <mat-option *ngFor="let d of submarcas" [value]="d.text">
              {{d.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Descripcion</mat-label>
          <mat-select
            [(value)]="descripcion"
            name="descripcion"
            formControlName="descripcion"
          >
            <mat-option *ngFor="let s of descripciones" [value]="s.text">
              {{s.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!--        <div class="col-6 actions">-->
      <!--          <button mat-button class="mt-6 mb-6 ml-6" (click) ="cotizar()" >COTIZAR</button>-->
      <!--          <button mat-button class="mt-6 mb-6 ml-6" >LIMPIAR</button>-->
      <!--          <button mat-button class="mt-6 mb-6 ml-6" >Guardar Sin Cotizar</button>-->
      <!--          &lt;!&ndash;<button mat-button class="mt-3 mb-3 ml-3" (click)="guardarProducto()"&ndash;&gt;-->
      <!--          &lt;!&ndash;*ngIf="cotizacionResponse!=null">GUARDAR PRODUCTO&ndash;&gt;-->
      <!--          &lt;!&ndash;</button>&ndash;&gt;-->
      <!--        </div>-->
    </form>

  </div>
  <div class="buttonsWrapper">
    <button mat-button (click) ="refrescar()" class="cleanButton">Limpiar</button>
    <button mat-button  (click) ="cotizar()" [disabled]="!formCotizacion.valid" class="nextButton">Siguiente</button>
  </div>
</div>
