table {
    width: 100%;
  }
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
  .color {
    color: red;
  }
  .estilosModal {
    max-width: none!important;
    background-color: #0bbb79 !important;
  }
  .notification {
    padding: 1px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  .Blink {
    color: #088529;
    animation: blinker 0.7s linear infinite;
  }
  @keyframes blinker {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  .mat-menu-content {
    width: 345px !important;
    overflow-x: hidden;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .flex-container {
    display: flex;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  .boton-llamar {
    margin-top: -5px;
    margin-left: 20px;
  }
  .button-input {
    width: 100%;
    display: flex;
    margin-top: 0;
    top: 15px;
    position: relative;
  }
  .input {
    display: inline-grid;
    width: 50%;
  }
  .input2 {
    display: inline-grid;
    float: right;
    margin-right: 22px;
  }
  .mff {
    width: 100% !important;
    text-align: end;
  }
  .flexStyle {
    width: 100%;
    height: auto;
    display: inline-flex;
  }
  .mat-form-field {
    width: 40%;
    color: #111218;
  }
  .mat-input-element {
    color: #111218;
  }
  .mat-header-cell {
    background-color: #354089;
    color: white;
  }
  .actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
  }
  .example-user-input {
    margin-right: 8px;
  }
  #reactivar {
    color: #28B463;
  }
  button:focus {
    outline: none;
  }
  .button-detalle {
    background-color: transparent;
    border: none;
  }
  .crearSolicitudBtn {
    position: relative;
    bottom: 7px;
  }
  .mat-icon-disabled {
    color: #ccc!important;
    cursor: not-allowed;
  }
  .timePicker {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #666666;
    cursor: pointer;
    outline: none;
    color: #666;
    margin-right: 17px;
    width: 120px;
  }
  .fechas-label {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-right: 10px;
  }
  .pickTimes {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #666666;
  }
  .btnDesplegar { width: 200px; height: 50px;}
  .btnDesplegar:disabled {background-color: #fff;}
  #tableContainer {
    overflow: auto;
    padding: 0;
    margin: 0;
  }
  .buttonsContainer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: content-box;
    margin-left: 20px;
  }
  .buttonsVN:hover {
    color: #fff;
    background: #df1d52;
    background: linear-gradient(to right, #df1d52, #364088);
  }
  mat-progress-bar {width: 150px;}
  .text {
    font-size:1.1rem;
    font-family:helvetica;
    font-weight:bold;
    color: #333bd9;
    text-align: center;
  }
  .parpadea {
    animation: parpadeo 0.5s linear infinite;
    text-align: left;
  }
  .btnDesplegando {
    padding-top: 80px;
  }
  .moverCampana {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  @keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  @media only screen and(max-width: 1024px) {
    .buttonsContainer {
      margin-left: 5px;
    }
  }
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;

    height: 64px;
    margin: 8px;
    cursor: pointer;
    border: 8px solid dodgerblue;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: dodgerblue transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
