<div style="padding: 15px;">
  <mat-card-header style="width: 100%; justify-content: center;">
    <mat-card-title >TIPIFICAR POLIZA</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="tipificacionPolizaForm" fxLayout="column" fxLayoutAlign="space-between">
      <mat-form-field>
        <mat-label>ESTADO</mat-label>
        <mat-select formControlName="idEstadoPolizaCobranza" (selectionChange)="getAllEtiquetaByEstadoPoliza()">
          <mat-option *ngFor="let estado of estadosPoliza" [value]="estado.id">
            {{estado.estado}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>TIPIFICACIÓN</mat-label>
        <mat-select formControlName="idEtiquetaEstadoPolizaCobranza" (selectionChange)="getAllEstatusByIdEtiqueta()">
          <mat-option *ngFor="let etiqueta of etiquetaEstadosPoliza" [value]="etiqueta.id">
            {{etiqueta.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>SUBTIPIFICACIÓN</mat-label>
        <mat-select formControlName="idEstatusPolizaCobranza">
          <mat-option *ngFor="let subetiqueta of estatusPoliza" [value]="subetiqueta.id">
            {{subetiqueta.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text"  class="form-control"
               formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="50"
               placeholder="COMENTARIOS" id="comentarios"  autocomplete="off" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="end">
    <button mat-raised-button id="actualizar" (click)="guardarTipificacion()" [disabled]="!tipificacionPolizaForm.valid">Guardar
    </button>
  </mat-card-actions>
</div>  