<h1 mat-dialog-title> SOLICITAR JUSTIFICANTE </h1>
<form [formGroup]="form" >

  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="8px">

    <mat-form-field >
      <mat-label>SELECCIONA EL EMPLEADO (A):</mat-label>
      <mat-select formControlName="idEmpleado">
        <input class="filter" [formControl]="input" (keyup)="onKey($event.target.value)" placeholder="¿Qué empleado buscas?" autocomplete="off">
        <mat-option *ngFor="let empleado of empleados" [value]="empleado.id">
          {{empleado.nombre}}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="form.controls.idEmpleado.hasError('required') && form.controls.idEmpleado.touched">
        Se requiere llenar el campo
      </mat-error>
    </mat-form-field>

    <mat-form-field >
      <mat-label>DÍAS DE AUNSENCIA</mat-label>
      <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
        <input matStartDate formControlName="fechaInicio" placeholder="Fecha inicial">
        <input matEndDate formControlName="fechaFin"  placeholder="Fecha final">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker touchUi="true" #picker></mat-date-range-picker>

      <mat-error *ngIf="form.controls.fechaInicio.hasError('matStartDateInvalid')">Fecha inicial invalida</mat-error>
      <mat-error *ngIf="form.controls.fechaFin.hasError('matEndDateInvalid')">Fecha final invalida</mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="8px">
    <mat-form-field >
      <mat-label>MOTIVO:</mat-label>
      <mat-select formControlName="idMotivoJustificacion">
        <mat-option *ngFor="let motivo of motivos" [value]="motivo.id">
          {{motivo.motivo}}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="form.controls.idMotivoJustificacion.hasError('required') && form.controls.idMotivoJustificacion.touched">
        Se requiere llenar el campo
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between">
    <mat-form-field >
      <mat-label>COMENTARIOS:</mat-label>
      <input formControlName="comentarios" matInput #message maxlength="255" oninput="this.value = this.value.toUpperCase()">
      <mat-hint align="end">{{message.value.length}} / 255</mat-hint>
      <mat-error *ngIf="form.controls.comentarios.hasError('required')">
        Se requiere llenar el campo
      </mat-error>
    </mat-form-field>
    <button mat-icon-button class="copyPATH file" (click)="fileInput.click()">
      Documento:
      <input #files (change)="subirDocumento(files.files)" hidden accept="application/pdf" type="file" #fileInput/>
      <mat-icon color="primary" matTooltip="Subir documento">description</mat-icon>
      {{ file.name }}
    </button>
    <mat-error *ngIf="form.valid && !file.data">
      Se debe de anexar un documento
    </mat-error>
  </div>
  <button  mat-raised-button class="button-modal" (click)="cerrar()">Cerrar</button>
  <button mat-raised-button class="button-modal" [disabled]="form.invalid || !file.data" (click)="onSubmit()"> GUARDAR</button>
</form>
