.hola {
    font-size: 3rem;
    color: #364088;
    transition: all ease 0.5s;
    margin-left: 45%;
    overflow: hidden;
  }
  .hola2 {
    font-size: 3rem;
    color: #364088;
    transition: all ease 0.5s;
    margin-right: 45%;
    overflow: hidden;
  }
  .hola:hover {
    color: #df1d52;
  }
  .boton {
    margin-right: 90px;
  }
  .contenedor {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 3%;
  }
  mat-card {
    margin: auto;
    margin-top: 7%;
    width: 80%;
    height: 300px;
  }
  .card {
    width: 100%;
    margin: auto;
    margin-top: 0%;
    height: 70vh;
  }
  .button {
    color: #fff;
  }
  .box1 {
    width: 100%;
    height: 300px;
    background: #1A5276;
  }
  .box2 {
    width: 100%;
    height: 300px;
    background: #1A5276;
  }
  .box3 {
    width: 100%;
    height: 300px;
    background: #1A5276;
  }
  ngb-carousel {
    border: #fff none !important;
    margin: auto;
    width: 80%;
  }
  .action {
    width: 100%;
    text-align: right;
  }
  .botones {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #364088;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    outline: none;
  }
  .material-icons {
    transition: ease-in-out .5s;
    color: #364088;
  }
  .material-icons:hover {
    color: #df1d52;
  }
  .allowed {
    cursor: not-allowed;
  }
  div.solid {
    margin-left: 38%;
    width: 200px;
    height: 100px;
    border-style: solid;
    border-color: #060275;
    position: relative;
    bottom: -13px;
  }
  .texto{
    margin-left: 16px;
    width: 165px;
    text-align: center;
    position: absolute;
    top: -20px;
    font-size: 39px;
    color: #060275;
    background: white;
    font-weight: bold;
  }
  .date {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 94px;
    font-size: 15px;
    color: #060275;
  }